{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Magni</title>

  <link rel="stylesheet" href="{% static 'css/fontawesome/all.min.css' %}">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="{% static 'css/adminlte/adminlte.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition login-page layout-footer-fixed layout-top-nav">

<div class="wrapper">

  <div class="login-box">
    <div class="login-logo">
      <a href="">Magni</a>
    </div>

    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">{% translate 'Sign in to start your session' %}</p>

        {{ form.non_field_errors }}
        {% if form.subject.errors %}
          <ol>
            {% for error in form.subject.errors %}
            <li><strong>{{ error }}</strong></li>
            {% endfor %}
          </ol>
        {% endif %}

        <form action="" method="post">
          {% csrf_token %}
          <div class="input-group mb-3">
            <input type="email" class="form-control" name="username" placeholder="{% translate 'Email' %}">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" name="password" placeholder="{% translate 'Password' %}">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            {% comment %}
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember" name="remember" />
                <label for="remember">{% translate 'Remember me' %}</label>
              </div>
            </div>
            {% endcomment %}
            <div class="col-4">
              <input type="submit" class="btn btn-primary btn-block btn-flat" value="{% translate 'Sign In' %}" />
            </div>
          </div>
        </form>

        <p class="mb-1">
          <a href="{% url 'password_reset' %}">{% translate 'I forgot my password' %}</a>
        </p>
        <p class="mb-0">
          <a href="{TODO% url 'register' %}" class="text-center">{% translate 'Register a new membership' %}</a>
        </p>
      </div>

    </div>

  </div>

  {% include 'footer.html' %}
</div>

<script src="{% static 'js/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>

</body>
</html>
