{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Magni</title>

  <link rel="stylesheet" href="{% static 'css/fontawesome/all.min.css' %}">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="{% static 'css/adminlte/adminlte.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/registration.css' %}">
</head>

<body class="hold-transition login-page layout-footer-fixed layout-top-nav">

<div class="wrapper">

  <div class="registration-box">
    <div class="registration-logo">
      <a href="">Magni</a>
    </div>

    <div class="card">
      <div class="card-body">
        <h1>{% translate 'Password reset complete' %}</h1>
        <p>{% translate 'Your new password has been set. You can log in now on the ' %}<a href="{% url 'login' %}">{% translate 'log in page' %}</a>.</p>
      </div>

    </div>
  </div>

  {% include 'footer.html' %}
</div>

<script src="{% static 'js/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>

</body>
</html>
