{% extends 'base.html' %}
{% load i18n %}
{% load utils %}

{% block page_title %}{% translate 'Password change' %}{% endblock %}

{% block content %}

<div class="card">
  <form class="form" action="" method="post">
    {% csrf_token %}

    <div class="card-body">
      <p>{% translate "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

      {% if form.errors %}
        <div class="alert alert-warning">
          <i class="icon fas fa-exclamation-triangle"></i>
          {% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
        </div>
      {% endif %}

      <div class="form-group row{% if form.old_password.errors %} has-error{% endif %}">
        <label for="{{ form.old_password.id_for_label }}" class="col-sm-2 col-form-label">{{ form.old_password.label }}</label>
        <div class="col-sm-10">
          {% if form.old_password.errors %}
            {{ form.old_password|field_add_class:'form-control input-sm is-invalid' }}
            {{ form.old_password.errors }}
          {% else %}
            {{ form.old_password|field_add_class:'form-control input-sm' }}
          {% endif %}
        </div>
      </div>

      <div class="form-group row{% if form.new_password1.errors %} has-error{% endif %}">
        <label for="{{ form.new_password1.id_for_label }}" class="col-sm-2 col-form-label">{{ form.new_password1.label }}</label>
        <div class="col-sm-10">
          {% if form.new_password1.errors %}
            {{ form.new_password1|field_add_class:'form-control input-sm is-invalid' }}
            {{ form.new_password1.errors }}
          {% else %}
            {{ form.new_password1|field_add_class:'form-control input-sm' }}
          {% endif %}
        </div>
      </div>

      <div class="form-group row{% if form.new_password2.errors %} has-error{% endif %}">
        <label for="{{ form.new_password2.id_for_label }}" class="col-sm-2 col-form-label">{{ form.new_password2.label }}</label>
        <div class="col-sm-10">
          {% if form.new_password2.errors %}
            {{ form.new_password2|field_add_class:'form-control input-sm is-invalid' }}
            {{ form.new_password2.errors }}
          {% else %}
            {{ form.new_password2|field_add_class:'form-control input-sm' }}
          {% endif %}
        </div>
      </div>

    </div>

    <div class="card-footer text-center">
      <input type="submit" class="btn btn-primary" value="{% translate 'Change my password' %}" />
    </div>
  </form>
</div>

{% endblock %}
