{% extends 'base.html' %}
{% load i18n %}

{% block page_title %}{% translate 'Password change' %}{% endblock %}

{% block content %}

<div class="card">

  <div class="card-body">
    <p>{% translate 'Your password was changed.' %}</p>
  </div>

</div>

{% endblock %}
