{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% translate 'Goals' %} | {% endblock %}
{% block page_title %}{% translate 'Goals' %}{% endblock %}

{% block page_title_buttons %}
<div>
  <a href="{% url 'add_goal' %}" class="btn btn-primary btn-sm">{% translate 'Create goal' %}</a>
</div>
{% endblock %}

{% block content %}

<div class="card">
  {% if goals %}
  <div class="card-body p-0">
    <table class="table table-bordered table-striped table-sm">
      <thead>
        <tr>
          <th>{% translate 'Goal' %}</th>
          <th colspan="2">{% translate 'Progression' %}</th>
          <th>{% translate 'Date' %}</th>
          <th>{% translate 'Actions' %}</th>
        </tr>
      </thead>
      <tbody>
      {% for goal in goals %}
        <tr>
          <td>{{ goal.description|safe }}</td>
          <td style="width: 200px;">
            {% if goal.type == 'other' %}
              {% if not goal.accomplished %}
              <a href="{% url 'validate_goal' forloop.counter0 %}" class="btn btn-xs btn-primary">{% translate 'Validate' %}</a>
              {% endif %}
            {% else %}
            <div class="progress progress-xs progress-striped active">
              <div class="progress-bar {% if goal.progression.percentage >= 100 %}bg-success{% elif goal.progression.percentage > 50 %}bg-warning{% else %}bg-danger{% endif %}" style="width: {{ goal.progression.percentage|stringformat:'f' }}%"></div>
            </div>
            {% endif %}
          </td>
          <td style="width: 36px;">
            {% if goal.type == 'other' %}
              {% if goal.accomplished %}
              <span class="badge bg-success">{% translate 'OK' %}</span>
              {% endif %}
            {% else %}
            <span class="badge {% if goal.progression.percentage >= 100 %}bg-success{% elif goal.progression.percentage > 50 %}bg-warning{% else %}bg-danger{% endif %}">{{ goal.progression.percentage|stringformat:'d' }}%</span>
            {% endif %}
          </td>
          <td>{% if goal.accomplished and goal.progression.date %}{{ goal.progression.date }}{% endif %}</td>
          <td><a href="{% url 'edit_goal' forloop.counter0 %}" class="btn btn-xs btn-warning">{% translate 'Edit' %}</a> <a href="{% url 'remove_goal' forloop.counter0 %}" class="btn btn-xs btn-danger">{% translate 'Remove' %}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
  <div class="card-body">
    <p>{% translate 'No goals.' %}</p>
  {% endif %}
  </div>
</div>

{% endblock %}
