{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate 'Goals' %} | {% endblock %}
{% block page_title %}{% translate 'Remove goal' %}{% endblock %}

{% block content %}

<div class="card card-primary">
  <form action="" method="post" class="form">
    {% csrf_token %}
    <input type="hidden" name="delete" value="1" />

    <div class="card-body">
      <p>{% translate 'Goal' %}{% translate ':' %} <q>{{ goal.description|safe }}</q></p>

      <div class="alert alert-warning">
        <p>{% translate 'Are you sure you want to remove this goal?' %}</p>
        <p><i class="icon fas fa-exclamation-triangle"></i>{% translate 'This action is irreversible.' %}</p>
      </div>
    </div>

    <div class="card-footer text-center">
      <input type="submit" class="btn btn-danger" value="{% translate 'Remove' %}" />
      <a href="{% url 'goals' %}" class="btn btn-default">{% translate 'Cancel' %}</a>
    </div>
  </form>
</div>

{% endblock %}
