{% extends 'base.html' %}
{% load i18n %}
{% load utils %}

{% block title %}{% translate 'Goals' %} | {% endblock %}
{% block page_title %}{% translate 'Create goal' %}{% endblock %}

{% block content %}

<div class="card">
  <form action="" class="form-horizontal" method="post">
    {% csrf_token %}

    <div class="card-body">
      {% if form.non_field_errors %}
        <div class="alert alert-warning">
          {{ form.non_field_errors }}
        </div>
      {% endif %}

      {% if form.subject.errors %}
        <ol>
          {% for error in form.subject.errors %}
          <li><strong>{{ error }}</strong></li>
          {% endfor %}
        </ol>
      {% endif %}

      {% for field in form.hidden_fields %}
        {{ field }}
      {% endfor %}

      {% for field in form.visible_fields %}
        <div class="form-group{% if not field|is_checkbox %} row{% endif %}">
          {% if field|is_checkbox %}
            <div class="custom-control custom-switch">
              {% if field.errors %}
                {{ field|field_add_class_cb:'custom-control-input is-invalid' }}
              {% else %}
                {{ field|field_add_class_cb:'custom-control-input' }}
              {% endif %}
              <label for="{{ field.id_for_label }}" class="custom-control-label">{{ field.label }}</label>
            </div>
            {% if field.help_text %}
              <p class="form-text text-muted small">{{ field.help_text }}</p>
            {% endif %}
            {{ field.errors }}
          {% else %}
            <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
            <div class="col-sm-10">
              {% if field.errors %}
                {{ field|field_add_class:'form-control form-control-sm is-invalid' }}
              {% else %}
                {{ field|field_add_class:'form-control form-control-sm' }}
              {% endif %}
              {% if field.help_text %}
                <p class="form-text text-muted small">{{ field.help_text }}</p>
              {% endif %}
              {{ field.errors }}
            </div>
          {% endif %}
        </div>
      {% endfor %}

    </div>

    <div class="card-footer text-center">
      <input type="submit" class="btn btn-primary" value="{% block button_text %}{% translate 'Create' %}{% endblock %}" />
      <a href="{% url 'goals' %}" class="btn btn-default">{% translate 'Cancel' %}</a>
    </div>
  </form>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(function() {
  var type = null;
  var criteria = null;

  function updateType() {
    type = $('#id_type').val();

    if (type == 'other') {
      $('#id_sport').prop('disabled', true).parent().parent().hide();
      $('#id_criteria').prop('disabled', true).parent().parent().hide();
      $('#id_distance').prop('disabled', true).parent().parent().hide();
      $('#id_duration').prop('disabled', true).parent().parent().hide();
      $('#id_count').prop('disabled', false).parent().parent().hide();
      $('#id_trimp').prop('disabled', true).parent().parent().hide();
      $('#id_repetition').prop('disabled', true).parent().parent().hide();

      $('#id_description').parent().children('.form-text').hide();
    } else {
      $('#id_sport').prop('disabled', false).parent().parent().show();
      $('#id_criteria').prop('disabled', false).parent().parent().show();

      $('#id_description').parent().children('.form-text').show();

      if (type == 'activity') {
        $('#id_criteria').children('option[value="count"]').remove();

        if ($('#id_criteria').children('option[value="record-duration"]').length == 0)
          $('#id_criteria').append('<option value="record-duration">{% translate 'Duration record'|escapejs %}</option>');
        if ($('#id_criteria').children('option[value="record-distance"]').length == 0)
          $('#id_criteria').append('<option value="record-distance">{% translate 'Distance record'|escapejs %}</option>');

        $('#id_repetition').prop('disabled', true).parent().parent().hide();
      } else {
        $('#id_criteria').children('option[value="record-duration"]').remove();
        $('#id_criteria').children('option[value="record-distance"]').remove();

        if ($('#id_criteria').children('option[value="count"]').length == 0)
          $('#id_criteria').append('<option value="count">{% translate 'Activity count'|escapejs %}</option>');

        $('#id_repetition').prop('disabled', false).parent().parent().show();
      }

      updateCriteria();
    }
  }

  function updateCriteria() {
    criteria = $('#id_criteria').val();

    if (type == 'other') {
      return;
    }

    if (criteria == 'distance') {
      $('#id_distance').prop('disabled', false).parent().parent().show();
      $('#id_duration').prop('disabled', true).parent().parent().hide();
      $('#id_count').prop('disabled', true).parent().parent().hide();
      $('#id_trimp').prop('disabled', true).parent().parent().hide();
    } else if (criteria == 'duration') {
      $('#id_distance').prop('disabled', true).parent().parent().hide();
      $('#id_duration').prop('disabled', false).parent().parent().show();
      $('#id_count').prop('disabled', true).parent().parent().hide();
      $('#id_trimp').prop('disabled', true).parent().parent().hide();
    } else if (criteria == 'count') {
      $('#id_distance').prop('disabled', true).parent().parent().hide();
      $('#id_duration').prop('disabled', true).parent().parent().hide();
      $('#id_count').prop('disabled', false).parent().parent().show();
      $('#id_trimp').prop('disabled', true).parent().parent().hide();
    } else if (criteria == 'trimp') {
      $('#id_distance').prop('disabled', true).parent().parent().hide();
      $('#id_duration').prop('disabled', true).parent().parent().hide();
      $('#id_count').prop('disabled', true).parent().parent().hide();
      $('#id_trimp').prop('disabled', false).parent().parent().show();
    } else if (criteria == 'record-duration' || criteria == 'record-distance') {
      $('#id_distance').prop('disabled', false).parent().parent().show();
      $('#id_duration').prop('disabled', false).parent().parent().show();
      $('#id_count').prop('disabled', true).parent().parent().hide();
      $('#id_trimp').prop('disabled', true).parent().parent().hide();
    } else {
      $('#id_distance').prop('disabled', true).parent().parent().hide();
      $('#id_duration').prop('disabled', true).parent().parent().hide();
      $('#id_count').prop('disabled', true).parent().parent().hide();
      $('#id_trimp').prop('disabled', true).parent().parent().hide();
    }
  }

  $('#id_type').change(function() {
    updateType();
  });

  $('#id_criteria').change(function() {
    updateCriteria();
  });

  updateType();
});
</script>
{% endblock %}
