
.fc-toolbar.fc-header-toolbar {
  padding-top: 0;
}

table.calendar-table {
    width: 100%;
    border: 1px solid #dee2e6;
    table-layout: fixed;
}

table.calendar-table th,
table.calendar-table td {
    vertical-align: top;
}

table.calendar-table th {
    text-align: center;
}

table.calendar-table tr > th:first-child,
table.calendar-table tr > td:first-child {
    width: 150px;
    background-color: #CDCDCD;
    padding-left: 5px;
}

table.calendar-table th,
table.calendar-table td {
    border: 1px solid #dee2e6;
}

table.calendar-table thead th {
    border-bottom-width: 2px;
    border-style: solid;
}

table.calendar-table tr > td {
    height: 100px;
    position: relative;
    padding-bottom: 10px;
}

div.calendar-week-number {
    font-size: 12pt;
    margin-bottom: 5px;
}

div.calendar-week-stats {
    font-size: 80%;
    margin: 0;
    padding: 0;
}

div.calendar-day-number {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    padding: 0 5px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0 0 0 5px;
    min-width: 30px;
    text-align: right;
}

a.calendar-event,
a.calendar-event-spacer {
    display: block;
    position: relative;
    font-size: 0.85em;
    line-height: 1.4;
    margin: 1px 2px 0;
    padding: 0 1px;
    z-index: 1;
    border: 1px solid black;
}

a.calendar-event {
    border-radius: 3px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
}

a.calendar-event.calendar-event-not-start {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
}

tr > td + td + td a.calendar-event.calendar-event-not-start {
    color: transparent !important;
}

a.calendar-event.calendar-event-not-end {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -3px;
}

tr > td:last-child a.calendar-event.calendar-event-not-end {
    margin-right: 0;
}

a.calendar-event-spacer {
    visibility: hidden;
}

td.calendar-today {
    background-color: #17a2b8;
}

h2#calendar-title {
    font-size: 1.75em;
    margin: 0;
}

.calendar-toolbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.calendar-other-month {
    background-color: #EEEEEE;
}

.calendar-other-month * {
    opacity: 0.7;
}
