
.registration-logo {
  font-size: 2.1rem;
  font-weight: 300;
  margin-bottom: 0.9rem;
  text-align: center;
}

.registration-logo a {
  color: #495057;
}

.registration-page {
  background: #e9ecef;
}

.registration-box {
  margin: 7% auto;
  width: 800px;
}

@media (max-width: 576px) {
  .registration-box {
    margin-top: 20px;
    width: 90%;
  }
}

.registration-card-body {
  background: #ffffff;
  border-top: 0;
  color: #666;
  padding: 20px;
}

.registration-card-body .input-group .form-control {
  border-right: 0;
}

.registration-card-body .input-group .form-control:focus {
  box-shadow: none;
}

.registration-card-body .input-group .form-control:focus ~ .input-group-append .input-group-text {
  border-color: #80bdff;
}

.registration-card-body .input-group .form-control.is-valid:focus {
  box-shadow: none;
}

.registration-card-body .input-group .form-control.is-valid ~ .input-group-append .input-group-text {
  border-color: #28a745;
}

.registration-card-body .input-group .form-control.is-invalid:focus {
  box-shadow: none;
}

.registration-card-body .input-group .form-control.is-invalid ~ .input-group-append .input-group-text {
  border-color: #dc3545;
}

.registration-card-body .input-group .input-group-text {
  background-color: transparent;
  border-bottom-right-radius: 0.25rem !important;
  border-left: 0;
  border-top-right-radius: 0.25rem !important;
  color: #777;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.registration-box-msg {
  margin: 0;
  padding: 0 20px 20px;
  text-align: center;
}
