
@media (min-width: 768px) {
  .dl-horizontal dt,
  .dl-horizontal-large dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .dl-horizontal-large dt {
    width: 180px;
  }

  .dl-horizontal dd {
    margin-left: 180px;
  }

  .dl-horizontal-large dd {
    margin-left: 200px;
  }
}


.form-group {
    margin-bottom: 0.2rem;
}

dl, dd {
    margin-bottom: 0;
}

div.dt-button-collection {
    width: 180px;
}


.fc-toolbar.fc-header-toolbar {
    margin-bottom: 0;
}

td.fc-day.fc-other-month {
    background-color: #EEEEEE;
}

.fc-dayGrid-view td.fc-week-number {
    text-align: left;
}

.fc-dayGrid-view td.fc-week-number > * {
    display: block;
}

th.fc-week-number, td.fc-week-number {
    background-color: #CDCDCD;
}

.fc-bg tbody td.fc-week-number {
    padding-top: 2em;
}
