{% extends 'base.html' %}

{% load i18n %}
{% load utils %}

{% block title %}{% translate 'Equipments' %} | {% endblock %}
{% block page_title %}<a href="{% url 'equipments' %}">{% translate 'Equipments' %}</a> - <a href="{% url 'equipment_info' equipment.id %}">{{ equipment.nname }}</a>{% endblock %}

{% block scripts %}
<script>
$(function() {

});
</script>
{% endblock %}

{% block content %}

<form action="{% url 'equipment_edit_activities' equipment.id %}" method="post">
{% csrf_token %}

<div class="card">
  <div class="card-header">
    {% translate 'Activities' %}
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped table-sm" id="activities">
      <thead>
        <tr>
          <th></th>
          <th>{% translate 'Name' %}</th>
          <th>{% translate 'Date' %}</th>
          <th>{% translate 'Type' %}</th>
          <th>{% translate 'Duration' %}</th>
          <th>{% translate 'Distance' %}</th>
        </tr>
      </thead>
      <tbody>
      {% for activity in activities.all %}
        <tr>
          <td><input type="checkbox" name="activity" value="{{ activity.id }}"{% if activity.id in activities_selected %} checked="checked"{% endif %} /></td>
          <td><a href="{% url 'activity' activity.id %}">{% if activity.name %}{{ activity.name }}{% else %}{{ activity.type|activity_name }}{% endif %}</a></td>
          <td><a href="{% url 'activity' activity.id %}">{{ activity.date_local|date_short }}</a>{% if activity.planned %} ({% translate 'planned' %}){% endif %}</td>
          <td><span class="badge" style="background-color: {{ activity.type|activity_bgcolor }}; color: {{ activity.type|activity_textcolor }};"><i class="fas fa-{{ activity.type|activity_icon }}"></i> {{ activity.type|activity_name }}</span></td>
          <td>{{ activity.duration|duration }}</td>
          <td>{{ activity.distance|distance }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="card-footer text-center">
    <input type="submit" class="btn btn-primary" value="{% translate 'Submit' %}" />
    <a href="{% url 'equipment_info' equipment.id %}" class="btn btn-default">{% translate 'Cancel' %}</a>
  </div>
</div>

</form>

{% endblock %}
