{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate 'Equipments' %} | {% endblock %}
{% block page_title %}<a href="{% url 'equipments' %}">{% translate 'Equipments' %}</a> - {{ equipmentset.name }}{% endblock %}

{% block content %}

<div class="card card-primary">
  <form action="" method="post" class="form">
    {% csrf_token %}
    <input type="hidden" name="delete" value="1" />

    <div class="card-body">
      <p>{% translate 'Equipmentset' %}{% translate ':' %} {{ equipmentset.name }}</p>

      <div class="alert alert-warning">
        <p>{% translate 'Are you sure you want to remove this equipment set?' %}</p>
        <p><i class="icon fas fa-exclamation-triangle"></i>{% translate 'This action is irreversible.' %}</p>
      </div>
    </div>

    <div class="card-footer text-center">
      <input type="submit" class="btn btn-danger" value="{% translate 'Remove' %}" />
      <a href="{% url 'equipments' %}" class="btn btn-default">{% translate 'Cancel' %}</a>
    </div>
  </form>
</div>

{% endblock %}
