{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load utils %}

{% block title %}{% translate 'Equipments' %} | {% endblock %}
{% block page_title %}<a href="{% url 'equipments' %}">{% translate 'Equipments' %}</a> - {{ equipment.nname }}{% endblock %}

{% block page_title_buttons %}
<div>
  <a href="{% url 'equipment_edit' equipment.id %}" class="btn btn-warning btn-sm">{% translate 'Edit' %}</a>
  <a href="{% url 'equipment_remove' equipment.id %}" class="btn btn-danger btn-sm">{% translate 'Remove' %}</a>
</div>
{% endblock %}

{% if equipment.activities.count > 0 %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/datatables/datatables.css' %}" />
{% endblock %}
{% endif %}

{% block content %}

{% if equipment.image %}
<div class="row">
  <div class="col-lg-9 col-md-12">
{% endif %}
    <div class="card">
      <div class="card-body">

        <div class="row">
          <div class="col-lg-6 col-md-6">
            <dl class="dl-horizontal">
              <dt>{% translate 'Brand' %}{% translate ':' %}</dt><dd>{{ equipment.brand }}</dd>
              {% if equipment.model %}<dt>{% translate 'Model' %}{% translate ':' %}</dt><dd>{{ equipment.model }}</dd>{% endif %}
              {% if equipment.name %}<dt>{% translate 'Name' %}{% translate ':' %}</dt><dd>{{ equipment.name }}</dd>{% endif %}
              <dt>{% translate 'Type' %}{% translate ':' %}</dt><dd>{{ equipment.type|equipment_name }}</dd>
            </dl>
          </div>
          <div class="col-lg-6 col-md-6">
            <dl class="dl-horizontal">
              <dt>{% translate 'Date' %}{% translate ':' %}</dt><dd>{{ equipment.date }}</dd>
              <dt>{% translate 'Old equipment' %}{% translate ':' %}</dt><dd>{% if equipment.old %}{% translate 'Yes' %}{% else %}{% translate 'No' %}{% endif %}</dd>
            </dl>
          </div>
        </div>

        {% if equipment.notes %}
          <hr />
          {{ equipment.notes|linebreaksbr }}
        {% endif %}
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <dl class="dl-horizontal">
          <dt>{% translate 'Activities' %}{% translate ':' %}</dt>
          <dd>
          {{ equipment.activities.count }}
          {% if stats|length > 1 %}<small> ({% for stat in stats %}{% if forloop.counter > 1%}, {% endif %}{{ stat.type|activity_name }}{% translate ':' %} {{ stat.total }}{% endfor %})</small>{% endif %}
          </dd>
          <dt>{% translate 'Total distance' %}{% translate ':' %}</dt>
          <dd>
          {{ equipment.distance|distance }}
          {% if stats|length > 1 %}<small> ({% for stat in stats %}{% if forloop.counter > 1%}, {% endif %}{{ stat.type|activity_name }}{% translate ':' %} {{ stat.total_distance|distance }}{% endfor %})</small>{% endif %}
          </dd>
          <dt>{% translate 'Total duration' %}{% translate ':' %}</dt>
          <dd>
          {{ equipment.duration|duration }}
          {% if stats|length > 1 %}<small> ({% for stat in stats %}{% if forloop.counter > 1%}, {% endif %}{{ stat.type|activity_name }}{% translate ':' %} {{ stat.total_duration|duration }}{% endfor %})</small>{% endif %}
          </dd>
        </dl>
      </div>
    </div>
{% if equipment.image %}
  </div>

  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body" style="text-align: center;">
        <img src="{{ equipment.image.url }}" style="max-width: 300px; max-height: 240px;" />
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="card">
  <div class="card-header">
    {% translate 'Activities' %}
    <a href="{% url 'equipment_edit_activities' equipment.id %}" class="btn btn-primary btn-sm float-right">{% translate 'Edit activities' %}</a>
  </div>
  <div class="card-body">
    {% if equipment.activities.count > 0 %}
    <table class="table table-striped compact" id="activities" style="width:100%">
      <thead>
        <tr>
          <th>{% translate 'Name' %}</th>
          <th>{% translate 'Date' %}</th>
          <th>{% translate 'Type' %}</th>
          <th>{% translate 'Duration' %}</th>
          <th>{% translate 'Distance' %}</th>
          <th>{% translate 'Heart rate' %}</th>
          <th>{% translate 'Cadence' %}</th>
          <th>{% translate 'Power' %}</th>
          <th>{% translate 'TRIMP' %}</th>
          <th>{% translate 'TSS' %}</th>
          <th>{% translate 'Calories' %}</th>
          <th>{% translate 'Date' %}</th>
          <th>{% translate 'Distance' %}</th>
        </tr>
      </thead>
      <tbody>
      {% for activity in equipment.activities.all %}
        <tr>
          <td><a href="{% url 'activity' activity.id %}">{% if activity.name %}{{ activity.name }}{% else %}{{ activity.type|activity_name }}{% endif %}</a></td>
          <td><a href="{% url 'activity' activity.id %}">{{ activity.date_local|date_short }}</a>{% if activity.planned %} ({% translate 'planned' %}){% endif %}</td>
          <td><span class="badge" style="background-color: {{ activity.type|activity_bgcolor }}; color: {{ activity.type|activity_textcolor }};"><i class="fas fa-{{ activity.type|activity_icon }}"></i> {{ activity.type|activity_name }}</span></td>
          <td>{{ activity.duration|duration }}</td>
          <td>{{ activity.distance|distance }}</td>
          <td>{% if activity.heart_rate_avg %}{{ activity.heart_rate_avg }}{% endif %}</td>
          <td>{% if activity.cadence_avg %}{{ activity.cadence_avg }}{% endif %}</td>
          <td>{% if activity.power_avg %}{{ activity.power_avg }}{% endif %}</td>
          <td>{% if activity.trimp %}{{ activity.trimp }}{% endif %}</td>
          <td>{% if activity.tss %}{{ activity.tss }}{% endif %}</td>
          <td>{% if activity.calories %}{{ activity.calories }}{% endif %}</td>
          <td>{{ activity.date_local|date:"Y-m-d H:i:s:u" }}</td>
          <td>{{ activity.distance }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>{% translate 'No activities with this equipment.' %}</p>
    {% endif %}
  </div>
</div>

{% endblock %}

{% if equipment.activities.count > 0 %}
{% block scripts %}
<script src="{% static 'js/datatables/datatables.js' %}"></script>

<script type="text/javascript">
$(function() {
  var table = $('#activities').DataTable({
    language: {
      url: '{% static 'js/datatables/i18n/fr_FR.json' %}',
    },
    stateSave: false,
    dom: 'Bfrtip',
    buttons: [
      'pageLength',
      {
        extend: 'colvis',
        columns: '2,3,4,5,6,7,8,9,10',
      },
    ],
    searching: false,
    responsive: true,
    ordering: true,
    order: [[ 1, 'desc' ]],
    paging: true,
    pageLength: 20,
    lengthMenu: [ [10, 20, 50, 100], [10, 20, 50, 100] ],
    columns: [
      {},
      {orderData: 11},
      {},
      {},
      {orderData: 12},
      {visible: false},
      {visible: false},
      {visible: false},
      {visible: false},
      {visible: false},
      {visible: false},
      {visible: false},
      {visible: false},
    ],
  });
});
</script>
{% endblock %}
{% endif %}
