{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load utils %}

{% block title %}{% translate 'Equipments' %} | {% endblock %}
{% block page_title %}<a href="{% url 'equipments' %}">{% translate 'Equipments' %}</a> - <a href="{% url 'equipment_info' equipment.id %}">{{ equipment.nname }}</a>{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/fileinput.min.css' %}" media="all" />
{% endblock %}

{% block scripts %}
<script src="{% static 'js/fileinput/fileinput.min.js' %}"></script>
<script src="{% static 'js/fileinput/locales/fr.js' %}"></script>

<script>
$(function() {
    $('#id_image').fileinput({
        showPreview: true,
        previewFileType: 'image',
        allowedFileTypes: ['image'],
        showUpload: false,
        browseClass: 'btn btn-success',
        language: 'fr',
        maxFileCount: 1,
        autoReplace: true,
        {% if equipment.image %}
        initialPreview: [
            '{{ equipment.image.url }}',
        ],
        initialPreviewAsData: true,
        initialCaption: '',
        initialPreviewShowDelete: false,
        initialPreviewConfig: [
            {
                size: {{ equipment.image.size }},
                showDrag: false,
            },
        ],
        {% endif %}
    });
    {% if equipment.image %}
    $('#id_image').on('fileselect', function(event) {
        $('#id_image_clear').val('0');
    });
    $('#id_image').on('fileclear', function(event) {
        $('#id_image_clear').val('1');
    });
    {% endif %}
});
</script>
{% endblock %}

{% block content %}

<div class="card">
  <form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="card-body">
      {% if form.non_field_errors %}
        <div class="alert alert-warning">
          {{ form.non_field_errors }}
        </div>
      {% endif %}

      {% if form.subject.errors %}
        <ol>
          {% for error in form.subject.errors %}
            <li><strong>{{ error }}</strong></li>
          {% endfor %}
        </ol>
      {% endif %}

      {% for field in form.hidden_fields %}
        {{ field }}
      {% endfor %}

      {% for field in form.visible_fields %}
        <div class="form-group{% if not field|is_checkbox %} row{% endif %}">
          {% if field|is_checkbox %}
            <div class="custom-control custom-switch">
              {% if field.errors %}
                {{ field|field_add_class_cb:'custom-control-input is-invalid' }}
              {% else %}
                {{ field|field_add_class_cb:'custom-control-input' }}
              {% endif %}
              <label for="{{ field.id_for_label }}" class="custom-control-label">{{ field.label }}</label>
            </div>
            {% if field.help_text %}
              <p class="form-text text-muted small">{{ field.help_text }}</p>
            {% endif %}
            {{ field.errors }}
          {% else %}
            <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
            <div class="col-sm-10">
              {% if field.errors %}
                {{ field|field_add_class:'form-control form-control-sm is-invalid' }}
              {% else %}
                {{ field|field_add_class:'form-control form-control-sm' }}
              {% endif %}
              {% if field.help_text %}
                <p class="form-text text-muted small">{{ field.help_text }}</p>
              {% endif %}
              {{ field.errors }}
            </div>
          {% endif %}
        </div>
      {% endfor %}

    </div>

    <div class="card-footer text-center">
      <input type="submit" class="btn btn-primary" value="{% translate 'Submit' %}" />
      <a href="{% url 'equipments' %}" class="btn btn-default">{% translate 'Cancel' %}</a>
    </div>
  </form>
</div>

{% endblock %}
