{% extends 'base.html' %}

{% load i18n %}
{% load utils %}
{% load static %}

{% block title %}{% translate 'Equipments' %} | {% endblock %}
{% block page_title %}{% translate 'Equipments' %}{% endblock %}

{% block page_title_buttons %}
<div>
  <a href="{% url 'add_equipment' %}" class="btn btn-primary btn-sm">{% translate 'New equipment' %}</a>
</div>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/datatables/datatables.css' %}" />
{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">
  {% if equipments %}
    <table class="table table-striped" id="equipments">
      <thead>
        <tr>
          <th>{% translate 'Image' %}</th>
          <th>{% translate 'Type' %}</th>
          <th>{% translate 'Name' %}</th>
          <th>{% translate 'Brand' %}</th>
          <th>{% translate 'Model' %}</th>
          <th>{% translate 'Date' %}</th>
          <th>{% translate 'Distance' %}</th>
          <th>{% translate 'Duration' %}</th>
          <th>{% translate 'Old equipment' %}</th>
          <th>{% translate 'Actions' %}</th>
          <th>{% translate 'Date' %}</th>
          <th>{% translate 'Distance' %}</th>
          <th>{% translate 'Duration' %}</th>
        </tr>
      </thead>
      <tbody>
      {% for equipment in equipments %}
        <tr>
          <td align="center">{% if equipment.image %}<img src="{{ equipment.image.url }}" style="max-width: 100px; max-height: 80px;" />{% endif %}</td>
          <td>{{ equipment.type|equipment_name }}</td>
          <td><a href="{% url 'equipment_info' equipment.id %}">{% if equipment == user.default_equipment %}<strong>{{ equipment.nname }}</strong>{% else %}{{ equipment.nname }}{% endif %}</a></td>
          <td>{{ equipment.brand }}</td>
          <td>{{ equipment.model }}</td>
          <td>{{ equipment.date }}</td>
          <td>{{ equipment.distance|distance }}</td>
          <td>{{ equipment.duration|duration }}</td>
          <td>{% if equipment.old %}{% translate 'Yes' %}{% else %}{% translate 'No' %}{% endif %}</td>
          <td><a href="{% url 'equipment_edit' equipment.id %}" class="btn btn-xs btn-warning">{% translate 'Edit' %}</a> <a href="{% url 'equipment_remove' equipment.id %}" class="btn btn-xs btn-danger">{% translate 'Remove' %}</a></td>
          <td>{{ equipment.date }}</td>
          <td>{{ equipment.distance }}</td>
          <td>{{ equipment.duration }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>{% translate 'No equipments.' %}</p>
  {% endif %}
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h3>
      {% translate 'Equipment sets' %}
      <a href="{% url 'add_equipment_set' %}" class="btn btn-primary btn-sm float-right">{% translate 'New equipment set' %}</a>
    </h3>
  </div>
  <div class="card-body">
  {% if equipmentsets %}
    <div class="row">
      {% for equipmentset in equipmentsets %}
        <div class="col-lg-3 col-md-4">
          <div class="card">

            <div class="card-header bg-info">
              {% if equipmentset.type != 'All' %}<i class="fas fa-{{ equipmentset.type|activity_icon }}"></i> {% endif %}{{ equipmentset.name }}
            </div>

            <div class="card-body">
              <dd class="small">
              {% for equipment in equipmentset.equipments.all %}
                {% if forloop.counter0 > 0 %}<br/>{% endif %}<a href="{% url 'equipment_info' equipment.id%}">{{ equipment }}</a>
              {% endfor %}
              </dd>
            </div>

            <div class="card-footer">
                <a href="{% url 'edit_equipment_set' equipmentset.id %}" class="btn btn-warning btn-xs">{% translate 'Edit' %}</a>
                <a href="{% url 'remove_equipment_set' equipmentset.id %}" class="btn btn-danger btn-xs">{% translate 'Remove' %}</a>
            </div>

          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>{% translate 'No equipment sets.' %}</p>
  {% endif %}
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/datatables/datatables.js' %}"></script>

<script type="text/javascript">
$(function() {
  var table = $('#equipments').DataTable({
    language: {
      url: '{% static "js/datatables/i18n/fr_FR.json" %}',
    },
    stateSave: false,
    dom: 'Bfrt',
    buttons: [
      {
        extend: 'colvis',
        columns: '0,1,3,4,5,6,7,8,9',
      },
    ],
    searching: true,
    responsive: true,
    ordering: true,
    order: [[ 5, 'desc' ]],
    paging: false,
    columns: [
      { orderable: false },
      null,
      null,
      null,
      null,
      { orderData: 10 },
      { orderData: 11 },
      { orderData: 12 },
      null,
      { orderable: false },
      { visible: false },
      { visible: false },
      { visible: false },
    ],
  });
});
</script>
{% endblock %}
