{% extends 'base.html' %}
{% load i18n %}
{% load utils %}
{% load static %}

{% block page_title %}{% translate 'New activity' %}{% endblock %}

{% block page_title_buttons %}
<a href="{% url 'import_activity' %}" class="btn btn-primary btn-sm">{% translate 'Import activity' %}</a>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/jquery.timepicker/jquery.timepicker.css' %}" />
{% endblock %}

{% block content %}

<div class="card">
  <form action="" class="form-horizontal" method="post">
    {% csrf_token %}

    <div class="card-body">
      {% if form1.non_field_errors %}
        <div class="alert alert-warning">
          {{ form1.non_field_errors }}
        </div>
      {% endif %}

      {% if form1.subject.errors %}
        <ol>
          {% for error in form1.subject.errors %}
          <li><strong>{{ error }}</strong></li>
          {% endfor %}
        </ol>
      {% endif %}

      {% for field in form1.hidden_fields %}
        {{ field }}
      {% endfor %}

      {% for field in form1.visible_fields %}
        <div class="form-group{% if not field|is_checkbox %} row{% endif %}">
          {% if field|is_checkbox %}
            <div class="custom-control custom-switch">
              {% if field.errors %}
                {{ field|field_add_class_cb:'custom-control-input is-invalid' }}
              {% else %}
                {{ field|field_add_class_cb:'custom-control-input' }}
              {% endif %}
              <label for="{{ field.id_for_label }}" class="custom-control-label">{{ field.label }}</label>
            </div>
            {% if field.help_text %}
              <p class="form-text text-muted small">{{ field.help_text }}</p>
            {% endif %}
            {{ field.errors }}
          {% else %}
            <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
            <div class="col-sm-10">
              {% if field.errors %}
                {{ field|field_add_class:'form-control form-control-sm is-invalid' }}
              {% else %}
                {{ field|field_add_class:'form-control form-control-sm' }}
              {% endif %}
              {% if field.help_text %}
                <p class="form-text text-muted small">{{ field.help_text }}</p>
              {% endif %}
              {{ field.errors }}
            </div>
          {% endif %}
        </div>
      {% endfor %}

      <hr />

      {% if form2.non_field_errors %}
        <div class="alert alert-warning">
          {{ form2.non_field_errors }}
        </div>
      {% endif %}

      {% if form2.subject.errors %}
        <ol>
          {% for error in form2.subject.errors %}
          <li><strong>{{ error }}</strong></li>
          {% endfor %}
        </ol>
      {% endif %}

      {% for field in form2.hidden_fields %}
        {{ field }}
      {% endfor %}

      {% for field in form2.visible_fields %}
        <div class="form-group{% if not field|is_checkbox %} row{% endif %}">
          {% if field|is_checkbox %}
            <div class="custom-control custom-switch">
              {% if field.errors %}
                {{ field|field_add_class_cb:'custom-control-input is-invalid' }}
              {% else %}
                {{ field|field_add_class_cb:'custom-control-input' }}
              {% endif %}
              <label for="{{ field.id_for_label }}" class="custom-control-label">{{ field.label }}</label>
            </div>
            {% if field.help_text %}
              <p class="form-text text-muted small">{{ field.help_text }}</p>
            {% endif %}
            {{ field.errors }}
          {% else %}
            <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
            <div class="col-sm-10">
              {% if field.errors %}
                {{ field|field_add_class:'form-control form-control-sm is-invalid' }}
              {% else %}
                {{ field|field_add_class:'form-control form-control-sm' }}
              {% endif %}
              {% if field.help_text %}
                <p class="form-text text-muted small">{{ field.help_text }}</p>
              {% endif %}
              {{ field.errors }}
            </div>
          {% endif %}
        </div>
      {% endfor %}

    </div>

    <div class="card-footer text-center">
      <input type="submit" class="btn btn-primary" value="{% translate 'Submit' %}" />
      <a href="{% url 'activities' %}" class="btn btn-default">{% translate 'Cancel' %}</a>
    </div>
  </form>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.timepicker/jquery.timepicker.js' %}"></script>
<script type="text/javascript">
$(function() {
  $('#id_planned').change(function(e) {
    if ($(this).is(':checked')) {
      $('#id_feeling').prop('disabled', true);
      $('#id_exertion').prop('disabled', true);
    } else {
      $('#id_feeling').prop('disabled', false);
      $('#id_exertion').prop('disabled', false);
    }
  });

  $('#id_type').change(function(e) {
    var type = $(this).val();
    // TODO: filter equipments
  });

  $('#id_date_time').timepicker({'timeFormat': 'H:i:s'});
});
</script>
{% endblock %}
