{% extends 'base.html' %}
{% load i18n %}
{% load tz %}
{% load utils %}

{% block title %}{% if activity.name %}{{ activity.name }}{% else %}{{ activity.type|activity_name }}{% endif %} - {{ activity.date_local|date_short }}{% if activity.planned %} ({% translate 'planned' %}){% endif %} | {% endblock %}
{% block page_title %}<i class="fas fa-{{ activity.type|activity_icon }}"></i> <a href="{% url 'activity' activity.id %}">{% if activity.name %}{{ activity.name }}{% else %}{{ activity.type|activity_name }}{% endif %} - {{ activity.date_local|date_long }}{% if activity.planned %} ({% translate 'planned' %}){% endif %}</a> - {% translate 'Edit segment' %}{% endblock %}

{% block content %}

<div class="card card-primary">
  <form action="" method="post" class="form">
    {% csrf_token %}

    <div class="card-body">
      {% if form.non_field_errors %}
        <div class="alert alert-warning">
          {{ form.non_field_errors }}
        </div>
      {% endif %}

      {% if form.subject.errors %}
        <ol>
          {% for error in form.subject.errors %}
          <li><strong>{{ error }}</strong></li>
          {% endfor %}
        </ol>
      {% endif %}

      {% for field in form.hidden_fields %}
        {{ field }}
      {% endfor %}

      {% for field in form.visible_fields %}
        <div class="form-group{% if not field|is_checkbox %} row{% endif %}">
          {% if field|is_checkbox %}
            <div class="custom-control custom-switch">
              {% if field.errors %}
                {{ field|field_add_class_cb:'custom-control-input is-invalid' }}
              {% else %}
                {{ field|field_add_class_cb:'custom-control-input' }}
              {% endif %}
              <label for="{{ field.id_for_label }}" class="custom-control-label">{{ field.label }}</label>
            </div>
            {% if field.help_text %}
              <p class="form-text text-muted small">{{ field.help_text }}</p>
            {% endif %}
            {{ field.errors }}
          {% else %}
            <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
            <div class="col-sm-10">
              {% if field.errors %}
                {{ field|field_add_class:'form-control form-control-sm is-invalid' }}
              {% else %}
                {{ field|field_add_class:'form-control form-control-sm' }}
              {% endif %}
              {% if field.help_text %}
                <p class="form-text text-muted small">{{ field.help_text }}</p>
              {% endif %}
              {{ field.errors }}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    <div class="card-footer text-center">
      <input type="submit" class="btn btn-primary" value="{% translate 'Edit' %}" />
      <a href="{% url 'activity' activity.id %}" class="btn btn-default">{% translate 'Cancel' %}</a>
    </div>
  </form>
</div>

{% endblock %}
