{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load utils %}
{% load tz %}
{% load competition %}

{% block title %}{% if activity.name %}{{ activity.name }}{% else %}{{ activity.type|activity_name }}{% endif %} - {{ activity.date_local|date_short }}{% if activity.planned %} ({% translate 'planned' %}){% endif %} | {% endblock %}
{% block page_title %}<i class="fas fa-{{ activity.type|activity_icon }}"></i> {% if activity.name %}{{ activity.name }}{% else %}{{ activity.type|activity_name }}{% endif %} - {{ activity.date_local|date_long }}{% if activity.planned %} ({% translate 'planned' %}){% endif %}{% endblock %}

{% block page_title_buttons %}
<div>
  <a href="{% url 'activity_edit' activity.id %}" class="btn btn-warning btn-sm">{% translate 'Edit' %}</a>
  <a href="{% url 'activity_export' activity.id %}" class="btn btn-default btn-sm">{% translate 'Export' %}</a>
  <a href="{% url 'activity_remove' activity.id %}" class="btn btn-danger btn-sm">{% translate 'Remove' %}</a>
</div>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/leaflet/leaflet.css' %}" />
{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <dl class="dl-horizontal">
          <dt>{% translate 'Date'%}{% translate ':'%}</dt><dd>{% if activity.date_local == activity.date_user %}{{ activity.date_local|date:'d/m/Y H:i:s' }}{% else %}{{ activity.date_user|date:'d/m/Y H:i:s' }}{% endif %}</dd>
          {% if activity.date_local != activity.date_user %}<dt>{% translate 'Local date:'%}</dt><dd>{{ activity.date_local|date:'d/m/Y H:i:s' }}</dd>{% endif %}
          {% if activity.duration or activity.duration_total %}
            <dt>{% translate 'Duration'%}{% translate ':'%}</dt>
            <dd>{% if activity.duration %}{{ activity.duration|duration }}{% if activity.duration_total > activity.duration %} ({{ activity.duration_total|duration }} total){% endif %}{% else %}{{ activity.duration_total|duration }}{% endif %}</dd>
          {% endif %}
          {% if activity.distance %}<dt>{% translate 'Distance'%}{% translate ':'%}</dt><dd>{{ activity.distance|distance }}</dd>{% endif %}
          {% if activity.name %}<dt>{% translate 'Activity type'%}{% translate ':'%}</dt><dd>{{ activity.type|activity_name }}</dd>{% endif %}
        </dl>
      </div>
      {% if activity.feeling or activity.exertion or activity.device or activity.equipments.count > 0 %}
      <div class="col-lg-4 col-md-6">
        <dl class="dl-horizontal">
          {% if activity.feeling %}<dt>{% translate 'Feeling'%}{% translate ':'%}</dt><dd>{{ activity.feeling }} / 5 <i class="far fa-{% if activity.feeling == 1 %}sad-tear{% elif activity.feeling == 2 %}frown{% elif activity.feeling == 3 %}meh{% elif activity.feeling == 4 %}smile{% elif activity.feeling == 5 %}laugh{% endif %}"></i></dd>{% endif %}
          {% if activity.exertion %}<dt>{% translate 'Exertion'%}{% translate ':'%}</dt><dd>{{ activity.exertion }} / 10</dd>{% endif %}
          {% if activity.device %}<dt>{% translate 'Device'%}{% translate ':'%}</dt><dd>{{ activity.device }}</dd>{% endif %}
          {% if activity.equipments.count > 0 %}
          <dt>{% translate 'Equipments'%}{% translate ':' %}</dt>
          <dd class="small">
            {% for equipment in activity.equipments.all %}
              {% if forloop.counter0 > 0 %}<br/>{% endif %}<a href="{% url 'equipment_info' equipment.id%}">{{ equipment }}</a>
            {% endfor %}
          </dd>
          {% endif %}
        </dl>
      </div>
      {% endif %}
      {% if activity.calories or activity.trimp or activity.level %}
      <div class="col-lg-4 col-md-6">
        <dl class="dl-horizontal">
          {% if activity.calories %}<dt>{% translate 'Calories'%}{% translate ':'%}</dt><dd>{{ activity.calories }}</dd>{% endif %}
          {% if activity.trimp %}<dt><acronym title="TRaining IMPulse">{% translate 'TRIMP'%}{% translate ':'%}</acronym></dt><dd>{{ activity.trimp }}</dd>{% endif %}
          {% if activity.tss %}<dt>{% translate 'TSS'%}{% translate ':'%}</dt><dd>{{ activity.tss }}</dd>{% endif %}
          {% if activity.level %}<dt>{% translate 'Level' %}{% translate ':'%}</dt><dd>{{ activity.level }}</dd>{% endif %}
        </dl>
      </div>
      {% endif %}
    </div>

    {% if activity.notes %}
      <hr />
      {{ activity.notes|linebreaksbr }}
    {% endif %}
  </div>
</div>

{% if activity.competition %}

<div class="card">
  <div class="card-header"><h3 class="card-title"><a href="{% url 'competition' activity.competition.id %}">{% translate 'Competition' %} - {{ activity.competition.name }}</a></h3></div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6">
        <dl class="dl-horizontal">
          <dt>{% translate 'Name'%}{% translate ':'%}</dt><dd>{{ activity.competition.name }}</dd>
          <dt>{% translate 'Date'%}{% translate ':'%}</dt><dd>{{ activity.competition.date|date:'d/m/Y H:i:s' }}</dd>
          <dt>{% translate 'Type'%}{% translate ':'%}</dt><dd>{{ activity.competition.type|competition_name }}</dd>
        </dl>
      </div>
      {% if activity.competition.duration or activity.competition.duration_real or activity.competition.place or activity.competition.place_category %}
      <div class="col-lg-6">
        <dl class="dl-horizontal-large">
          {% if activity.competition.duration %}<dt>{% translate 'Official time'%}{% translate ':'%}</dt><dd>{{ activity.competition.duration|duration }}</dd>{% endif %}
          {% if activity.competition.duration_real %}<dt>{% translate 'Real time'%}{% translate ':'%}</dt><dd>{{ activity.competition.duration_real|duration }}</dd>{% endif %}
          {% if activity.competition.place %}<dt>{% translate 'Place'%}{% translate ':'%}</dt><dd>{{ activity.competition.place }}{% if activity.competition.participants %} / {{ activity.competition.participants }}{% endif %}</dd>{% endif %}
          {% if activity.competition.place_category %}<dt>{% translate 'Place in category'%}{% translate ':'%}</dt><dd>{{ activity.competition.place_category }}{% if activity.competition.participants_category %} / {{ activity.competition.participants_category }}{% endif %}</dd>{% endif %}
        </dl>
      </div>
      {% endif %}
    </div>

    {% if activity.competition.description %}
      <hr />
      {{ activity.competition.description|linebreaksbr }}
    {% endif %}
  </div>
</div>
{% endif %}

<div class="row" style="justify-content: flex-start; align-items: flex-start;">

  {% if activity.speed_avg or activity.speed_max or activity.ngp %}
  <div style="flex-grow: 1; padding-left: 7.5px; padding-right: 7.5px; max-width: 400px;">
    <div class="info-box bg-success">
      <div class="info-box-content">
        <h4 class="info-box-text">{% if user.use_pace and activity.type == 'Running' %}{% translate 'Pace' %}{% else %}{% translate 'Speed' %}{% endif %}</h4>
        {% if activity.speed_avg %}<span class="info-box-text">{% translate 'Average' %}{% translate ':'%} <strong>{% if user.use_pace and activity.type == 'Running' %}{{ activity.speed_avg|pace }}{% else %}{{ activity.speed_avg|speed }}{% endif %}</strong></span>{% endif %}
        {% if activity.speed_max %}<span class="info-box-text">{% if user.use_pace and activity.type == 'Running' %}{% translate 'Maximum' context 'Maximum pace' %}{% translate ':'%} <strong>{{ activity.speed_max|pace }}{% else %}{% translate 'Maximum' context 'Maximum speed' %}{% translate ':'%} <strong>{{ activity.speed_max|speed }}{% endif %}</strong></span>{%endif %}
        {% if activity.ngp %}<span class="info-box-text">{% translate 'NGP' %}{% translate ':'%} <strong>{% if user.use_pace and activity.type == 'Running' %}{{ activity.ngp|pace }}{% else %}{{ activity.ngp|speed }}{% endif %}</strong></span>{%endif %}
      </div>
    </div>
  </div>
  {% endif %}

  {% if activity.heart_rate_avg or activity.heart_rate_max %}
  <div style="flex-grow: 1; padding-left: 7.5px; padding-right: 7.5px; max-width: 400px;">
    <div class="info-box bg-danger">
      <div class="info-box-content">
        <h4 class="info-box-text">{% translate 'Heart rate' %}</h4>
        {% if activity.heart_rate_avg %}<span class="info-box-text">{% translate 'Average' %}{% translate ':'%} <strong>{{ activity.heart_rate_avg }}</strong></span>{% endif %}
        {% if activity.heart_rate_max %}<span class="info-box-text">{% translate 'Maximum' context 'Maximum heart rate' %}{% translate ':'%} <strong>{{ activity.heart_rate_max }}</strong></span>{% endif %}
      </div>
    </div>
  </div>
  {% endif %}

  {% if activity.elevation_gain or activity.elevation_loss %}
  <div style="flex-grow: 1; padding-left: 7.5px; padding-right: 7.5px; max-width: 400px;">
    <div class="info-box bg-info">
      <div class="info-box-content">
        <h4 class="info-box-text">{% translate 'Elevation' %}</h4>
        {% if activity.elevation_gain %}<span class="info-box-text">{% translate 'Gain' %}{% translate ':'%} <strong>{{ activity.elevation_gain }}&nbsp;m</strong></span>{% endif %}
        {% if activity.elevation_loss %}<span class="info-box-text">{% translate 'Loss' %}{% translate ':'%} <strong>{{ activity.elevation_loss }}&nbsp;m</strong></span>{% endif %}
      </div>
    </div>
  </div>
  {% endif %}

  {% if activity.cadence_avg or activity.cadence_max %}
  <div style="flex-grow: 1; padding-left: 7.5px; padding-right: 7.5px; max-width: 400px;">
    <div class="info-box bg-warning">
      <div class="info-box-content">
        <h4 class="info-box-text">{% translate 'Cadence' %}</h4>
        {% if activity.cadence_avg %}<span class="info-box-text">{% translate 'Average' %}{% translate ':'%} <strong>{{ activity.cadence_avg }}</strong></span>{% endif %}
        {% if activity.cadence_max %}<span class="info-box-text">{% translate 'Maximum' context 'Maximum cadence' %}{% translate ':'%} <strong>{{ activity.cadence_max }}</strong></span>{% endif %}
      </div>
    </div>
  </div>
  {% endif %}

  {% if activity.power_avg or activity.power_max %}
  <div style="flex-grow: 1; padding-left: 7.5px; padding-right: 7.5px; max-width: 400px;">
    <div class="info-box bg-indigo">
      <div class="info-box-content">
        <h4 class="info-box-text">{% translate 'Power' %}</h4>
        {% if activity.power_avg %}<span class="info-box-text">{% translate 'Average' %}{% translate ':'%} <strong>{{ activity.power_avg }}&nbsp;W</strong></span>{% endif %}
        {% if activity.power_max %}<span class="info-box-text">{% translate 'Maximum' context 'Maximum power' %}{% translate ':'%} <strong>{{ activity.power_max }}&nbsp;W</strong></span>{% endif %}
      </div>
    </div>
  </div>
  {% endif %}

</div>

{% if activity.trackfile.points or activity.data.records %}
<div class="row">
  {% if activity.trackfile.points %}
  <div class="col-lg-6" id="map_container">
    <div class="card">
      <div class="card-body">
        <div id="map" style="height: 400px;"></div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if activity.data.records %}
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header"><h3 class="card-title"><i class="fas fa-medal"></i> {% translate 'Best performances' %}</h3></div>
        <div class="card-body">

          <ul class="nav nav-tabs" role="tablist">
            {% if records_distance %}
              <li class="nav-item"><a class="nav-link active" data-toggle="pill" href="#tab-records-distance" role="tab">{% translate 'Distance' %}</a></li>
            {% endif %}
            {% if records_duration %}
              <li class="nav-item"><a class="nav-link{% if not records_distance %} active{% endif %}" data-toggle="pill" href="#tab-records-duration" role="tab">{% translate 'Duration' %}</a></li>
            {% endif %}
            {% if records_power %}
              <li class="nav-item"><a class="nav-link{% if not records_distance and not records_duration %} active{% endif %}" data-toggle="pill" href="#tab-records-power" role="tab">{% translate 'Power' %}</a></li>
            {% endif %}
          </ul>

          <div class="tab-content" id="nav-records">
            {% if records_distance %}
            <div class="tab-pane fade show active" id="tab-records-distance" role="tabpanel">
              <table class="table table-bordered table-striped table-sm" id="table-records-distance">
                <thead>
                  <tr>
                    <th>{% translate 'Distance' %}</th>
                    <th>{% translate 'Duration' %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for record in records_distance %}
                  <tr class="segment-row" data-segment-id="record-{{ forloop.counter0 }}" data-time-start="{{ record.time_start }}" data-time-end="{{ record.time_end }}" data-point-start="{{ record.point_start }}" data-point-end="{{ record.point_end }}">
                    <td><a href="{% url 'record_evolution' %}?type=distance&sport={{ activity.type }}&distance={{ record.distance }}">{{ record.distance|distance_record }}</a></td>
                    <td>{{ record.time|duration }} {% if record.current_record %}<i title="{% translate 'Best performance ever!' %}" class="fas fa-star"></i>{% elif record.best %}<i title="{% translate 'Old best performance!' %}" class="far fa-star"></i>{% endif %}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% endif %}

            {% if records_duration %}
            <div class="tab-pane fade{% if not records_distance %} show active{% endif %}" id="tab-records-duration" role="tabpanel">
              <table class="table table-bordered table-striped table-sm" id="table-records-duration">
                <thead>
                  <tr>
                    <th>{% translate 'Duration' %}</th>
                    <th>{% translate 'Distance' %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for record in records_duration %}
                  <tr class="segment-row" data-segment-id="record-{{ forloop.counter0 }}" data-time-start="{{ record.time_start }}" data-time-end="{{ record.time_end }}" data-point-start="{{ record.point_start }}" data-point-end="{{ record.point_end }}">
                    <td><a href="{% url 'record_evolution' %}?type=duration&sport={{ activity.type }}&duration={{ record.duration }}">{{ record.duration|duration }}</a></td>
                    <td>{{ record.distance|distance_record }} {% if record.current_record %}<i title="{% translate 'Best performance ever!' %}" class="fas fa-star"></i>{% elif record.best %}<i title="{% translate 'Old best performance!' %}" class="far fa-star"></i>{% endif %}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% endif %}

            {% if records_power %}
            <div class="tab-pane fade{% if not records_distance and not records_duration %} show active{% endif %}" id="tab-records-power" role="tabpanel">
              <table class="table table-bordered table-striped table-sm" id="table-records-power">
                <thead>
                  <tr>
                    <th>{% translate 'Duration' %}</th>
                    <th>{% translate 'Power' %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for record in records_power %}
                  <tr class="segment-row" data-segment-id="record-{{ forloop.counter0 }}" data-time-start="{{ record.time_start }}" data-time-end="{{ record.time_end }}" data-point-start="{{ record.point_start }}" data-point-end="{{ record.point_end }}">
                    <td><a href="{% url 'record_evolution' %}?type=power&sport={{ activity.type }}&duration={{ record.duration }}">{{ record.duration|duration }}</a></td>
                    <td>{{ record.power|floatformat }}&nbsp;W {% if record.current_record %}<i title="{% translate 'Best performance ever!' %}" class="fas fa-star"></i>{% elif record.best %}<i title="{% translate 'Old best performance!' %}" class="far fa-star"></i>{% endif %}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% endif %}
          </div>

        </div>
      </div>
    </div>
  {% endif %}
</div>
{% endif %}

{% if activity.trackfile.points %}

<div class="card">
  <div class="card-header"><h3 class="card-title"><i class="fas fa-chart-area"></i> {% translate 'Graph' %}</h3></div>
  <div class="card-body">
    <div id="chart" style="height: 400px;"></div>
  </div>
</div>

{% endif %}

<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-file"></i> {% translate 'Files' %}</h3>
        <div class="float-sm-right"><a href="{% url 'activity_add_file' activity.id %}" class="btn btn-xs btn-primary">{% translate 'Add file' %}</a></div>
      </div>
      <div class="card-body">
        {% if files %}
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>{% translate 'File name' %}</th>
                <th>{% translate 'File size' %}</th>
                <th>{% translate 'Actions' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for file in files %}
              <tr>
                <td>{% if file.downloadable %}<a href="{% url 'activity_download_file' activity.id file.filehash %}" download="download">{{ file.filename }}</a>{% else %}{{ file.filename }}{% endif %}</td>
                <td>{{ file.filesize|filesizeformat }}</td>
                <td>
                  {% if file.downloadable %}<a href="{% url 'activity_recalculate_file' activity.id file.filehash %}" class="btn btn-xs btn-primary">{% translate 'Recalculate' %}</a> {% endif %}
                  <a href="{% url 'activity_remove_file' activity.id file.filehash %}" class="btn btn-xs btn-danger">{% translate 'Remove' %}</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p>{% translate 'No files.' %}</p>
        {% endif %}
      </div>
    </div>
  </div>

  {% if activity.data.segments or activity.trackfile.points %}
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header"><h3 class="card-title">{% translate 'Segments' %}</h3>
        {% if activity.trackfile.points %}
        <div class="float-sm-right">
          <a href="{% url 'activity_add_segment' activity.id %}" class="btn btn-xs btn-primary">{% translate 'Add segment' %}</a>
          <a href="{% url 'activity_add_segments' activity.id %}" class="btn btn-xs btn-primary">{% translate 'Add segments' %}</a>
        </div>
        {% endif %}
      </div>
      <div class="card-body">
        {% if activity.data.segments %}
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>{% translate 'Start time' %}</th>
                <th>{% translate 'End time' %}</th>
                <th>{% translate 'Duration' %}</th>
                <th>{% translate 'Distance' %}</th>
                <th>{% translate 'Speed' %}</th>
                <th>{% translate 'Description' %}</th>
                <th>{% translate 'Actions' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for segment in activity.data.segments %}
              <tr class="segment-row" data-segment-id="segment-{{ forloop.counter0 }}" data-time-start="{{ segment.time_start }}" data-time-end="{{ segment.time_end }}" data-point-start="{{ segment.point_start }}" data-point-end="{{ segment.point_end }}">
                <td>{{ segment.time_start|duration }}</td>
                <td>{{ segment.time_end|duration }}</td>
                <td>{{ segment.duration|duration }}</td>
                <td>{{ segment.distance|distance }}</td>
                <td>{% if user.use_pace and activity.type == 'Running' %}{{ segment.speed|pace }}{% else %}{{ segment.speed|speed }}{% endif %}</td>
                <td>{{ segment.description }}</td>
                <td>
                  <a href="{% url 'activity_edit_segment' activity.id %}?start={{ segment.time_start }}&end={{ segment.time_end }}" class="btn btn-xs btn-warning">{% translate 'Edit' %}</a>
                  <a href="{% url 'activity_remove_segment' activity.id %}?start={{ segment.time_start }}&end={{ segment.time_end }}" class="btn btn-xs btn-danger">{% translate 'Remove' %}</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <th colspan="2">{% translate 'Average' %}</th>
                <td>{{ segments_duration|duration }}</td>
                <td>{{ segments_distance|distance }}</td>
                <td colspan="3">{{ segments_speed|pace }} ({{ segments_speed|speed }})</td>
              </tr>
            <t/foot>
          </table>
        {% else %}
          <p>{% translate 'No segments.' %}</p>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}

</div>


{% if activity.data.pauses %}

<div class="card">
  <div class="card-header">{% translate 'Pauses' %}</div>
  <div class="card-body">
    <table class="table table-bordered table-striped table-sm">
      <thead>
        <tr>
          <th>{% translate 'Start' %}</th>
          <th>{% translate 'End' %}</th>
          <th>{% translate 'Duration' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for pause in activity.data.pauses %}
        <tr>
          <td>{{ pause.time_start|duration }}</td>
          <td>{{ pause.time_end|duration }}</td>
          <td>{{ pause.duration|duration }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endif %}

{% if activity.data.heartrate_stats or activity.data.power_stats %}
<div class="row">
  {% if activity.data.heartrate_stats and activity.heart_rate_avg %}
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">{% translate 'Heart rate' %}</div>
      <div class="card-body">
        <div id="chart_heartrate" style="height: 200px;"></div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if activity.data.power_stats %}
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">{% translate 'Power' %}</div>
      <div class="card-body">
        <div id="chart_power" style="height: 200px;"></div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endif %}

{% endblock %}

{% block scripts %}
{% if activity.trackfile.points %}
<script src="{% static 'js/canvasjs/jquery.canvasjs.min.js' %}"></script>
<script src="{% static 'js/leaflet/leaflet.js' %}"></script>

<script type="text/javascript">
$(function() {
  var chart = null;

  function convertTime(d) {
    d /= 1000;
    var hours   = Math.floor(d / 3600);
    var minutes = Math.floor((d - (hours * 3600)) / 60);
    var seconds = Math.floor(d - (hours * 3600) - (minutes * 60));

    if (hours   < 10) {hours   = "0"+hours;}
    if (minutes < 10) {minutes = "0"+minutes;}
    if (seconds < 10) {seconds = "0"+seconds;}
    return hours + ':' + minutes + ':' + seconds;
  }

  function toggleDataSeries(e) {
    if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible ){
      e.dataSeries.visible = false;
    } else {
      e.dataSeries.visible = true;
    }
    chart.render();
  }

  chart = new CanvasJS.Chart('chart', {
    theme: 'light2',
    animationEnabled: false,
    exportEnabled: true,
    zoomEnabled: true,
    axisX: {
      minimum: 0,
      stripLines: [{
        color: '#d8d8d8',
      }],
            labelFormatter: function(e) {
                return convertTime(e.value);
            },
      {% if activity.data.pauses %}
      scaleBreaks: {
        type: 'straight',
        customBreaks: [
          {% for pause in activity.data.pauses %}
            {
              startValue: {{ pause.time_start }},
              endValue: {{ pause.time_end }},
            },
          {% endfor %}
        ],
      },
      {% endif %}
    },
    {% if activity.trackfile.has_heartrate or activity.trackfile.has_cadence %}
    axisY: [
      {% if activity.trackfile.has_heartrate %}
      {
        title: "{% translate 'Heart rate' %}",
        minimum: {{ user.heartrate_rest }},
        maximum: {{ user.heartrate_max }} + 5,
      },
      {% endif %}
      {% if activity.trackfile.has_cadence %}
      {
        title: "{% translate 'Cadence' %}",
      }
      {% endif %}
    ],
    {% endif %}
    {% if activity.trackfile.has_altitude or activity.trackfile.has_speed or activity.trackfile.has_ngp or activity.trackfile.has_power %}
    axisY2: [
      {% if activity.trackfile.has_altitude %}
      {
        title: '{% translate 'Altitude' %}',
        suffix: ' m',
      },
      {% endif %}
      {% if activity.trackfile.has_speed or activity.trackfile.has_ngp %}
      {
        title: '{% translate 'Speed' %}',
        suffix: ' km/h',
      },
      {% endif %}
      {% if activity.trackfile.has_power %}
      {
        title: "{% translate 'Power' %}",
        suffix: ' W',
      },
      {% endif %}
    ],
    {% endif %}
    toolTip: {
      shared: true,
    },
    legend: {
      cursor: 'pointer',
      itemclick : toggleDataSeries,
    },
    data: [
      {
        visible: false,
        showInLegend: false,
        name: '{% translate 'Distance' %}',
        xValueFormatString: '0,.&nbsp;s',
        yValueFormatString: '#0,.##&nbsp;km',
        dataPoints: [{% for point in activity.trackfile.points %}{% if point.distance %}{x: {{ point.time }}, y: {{ point.distance|stringformat:"f" }}}, {% endif %}{% endfor %}],
      },
      {
        visible: false,
        showInLegend: false,
        toolTipContent: null,
        xValueFormatString: '0,.&nbsp;s',
        dataPoints: [{% for point in activity.trackfile.points %}{x: {{ point.time }}, y: {{ forloop.counter0 }}}, {% endfor %}],
      },
      {% if activity.trackfile.has_heartrate %}
      {
        name: '{% translate 'Heart rate' %}',
        color: '#DC143C',
        type: 'spline',
        lineThickness: 1.5,
        visible: true,
        showInLegend: true,
        axisYIndex: 0,
        xValueFormatString: '0,.&nbsp;s',
        dataPoints: [{% for point in activity.trackfile.points %}{% if point.heartrate %}{x: {{ point.time }}, y: {{ point.heartrate }}}, {% endif %}{% endfor %}],
      },
      {% endif %}
      {% if activity.trackfile.has_cadence %}
      {
        name: '{% translate 'Cadence' %}',
        color: '#008080',
        type: 'spline',
        lineThickness: 1.5,
        visible: {% if activity.type == 'HomeTrainer' %}true{% else %}false{% endif %},
        showInLegend: true,
        axisYIndex: 1,
        xValueFormatString: '0,.&nbsp;s',
        dataPoints: [{% for point in activity.trackfile.points %}{% if point.cadence %}{x: {{ point.time }}, y: {{ point.cadence }}}, {% endif %}{% endfor %}],
      },
      {% endif %}
      {% if activity.trackfile.has_altitude %}
      {
        name: '{% translate 'Altitude' %}',
        color: '#FA8072',
        axisYType: 'secondary',
        axisYIndex: 0,
        type: 'area',
        lineThickness: 1.5,
        fillOpacity: 0.3,
        visible: {% if activity.type == 'HomeTrainer' %}false{% else %}true{% endif %},
        showInLegend: true,
        xValueFormatString: '0,.&nbsp;s',
        yValueFormatString: '#0.##&nbsp;m',
        dataPoints: [{% for point in activity.trackfile.points %}{% if point.altitude %}{x: {{ point.time }}, y: {{ point.altitude|stringformat:"f" }}}, {% endif %}{% endfor %}],
      },
      {% endif %}
      {% if activity.trackfile.has_speed %}
      {
        name: '{% translate 'Speed' %}',
        color: '#1E90FF',
        type: "spline",
        lineThickness: 1.5,
        visible: {% if activity.type == 'HomeTrainer' %}false{% else %}true{% endif %},
        showInLegend: true,
        axisYType: 'secondary',
        axisYIndex: {% if activity.trackfile.has_altitude %}1{% else %}0{% endif %},
        xValueFormatString: '0,.&nbsp;s',
        yValueFormatString: '#0.##&nbsp;km/h',
        dataPoints: [{% for point in activity.trackfile.points %}{% if point.speed %}{x: {{ point.time }}, y: {{ point.speed|stringformat:"f" }} * 3.6}, {% endif %}{% endfor %}],
      },
      {% endif %}
      {% if activity.trackfile.has_ngp %}
      {
        name: '{% translate 'Speed NGP' %}',
        color: '#9400D3',
        type: 'spline',
        lineThickness: 1.5,
        visible: false,
        showInLegend: true,
        axisYType: 'secondary',
        axisYIndex: {% if activity.trackfile.has_altitude %}1{% else %}0{% endif %},
        xValueFormatString: '0,.&nbsp;s',
        yValueFormatString: '#0.##&nbsp;km/h',
        dataPoints: [{% for point in activity.trackfile.points %}{% if point.ngp %}{x: {{ point.time }}, y: {{ point.ngp|stringformat:"f" }} * 3.6}, {% endif %}{% endfor %}],
      },
      {% endif %}
      {% if activity.trackfile.has_power %}
      {
        name: '{% translate 'Power' %}',
        color: '#FF8C00',
        type: 'spline',
        lineThickness: 1.5,
        visible: true,
        showInLegend: true,
        axisYType: 'secondary',
        axisYIndex: {% if activity.trackfile.has_altitude %}{% if activity.trackfile.has_speed or activity.trackfile.has_ngp %}2{% else %}1{% endif %}{% else %}{% if activity.trackfile.has_speed or activity.trackfile.has_ngp %}1{% else %}0{% endif %}{% endif %},
        xValueFormatString: '0,.&nbsp;s',
        yValueFormatString: '#0.##&nbsp;W',
        dataPoints: [{% for point in activity.trackfile.points %}{% if point.power %}{x: {{ point.time }}, y: {{ point.power|stringformat:"f" }}}, {% endif %}{% endfor %}],
      },
      {% endif %}
    ],
  });

  chart.render();

  {% if activity.data.heartrate_stats and activity.heart_rate_avg %}
  chart_heartrate = new CanvasJS.Chart('chart_heartrate', {
    animationEnabled: false,
    axisX: {
      title: '{% translate 'Heart rate' %}',
      minimum: {{ user.heartrate_rest }},
      maximum: {{ user.heartrate_max }},
      stripLines: [
        {
          color: '#d8d8d8',
          opacity: 0.5,
          startValue: 0,
          endValue: {{ heartrate_zones.0 }},
        },
        {
          color: '#8CC6D7',
          opacity: 0.5,
          startValue: {{ heartrate_zones.0 }},
          endValue: {{ heartrate_zones.1 }},
        },
        {
          color: '#84D41D',
          opacity: 0.5,
          startValue: {{ heartrate_zones.1 }},
          endValue: {{ heartrate_zones.2 }},
        },
        {
          color: '#E8CC06',
          opacity: 0.5,
          startValue: {{ heartrate_zones.2 }},
          endValue: {{ heartrate_zones.3 }},
        },
        {
          color: '#FC7F3C',
          opacity: 0.5,
          startValue: {{ heartrate_zones.3 }},
          endValue: {{ heartrate_zones.4 }},
        },
        {
          color: '#DB0B32',
          opacity: 0.5,
          startValue: {{ heartrate_zones.4 }},
          endValue: 220,
        },
        {
          color: 'red',
          showOnTop: true,
          value: {{ activity.heart_rate_avg }},
        },
      ],
    },
    axisY: [{
      title: '{% translate 'Duration' %}',
      gridThickness: 0,
      labelFormatter: function(e) {
        return convertTime(e.value);
      },
    }],
    data: [
      {
        type: 'column',
        name: '{% translate 'Heart rate' %}',
        yValueFormatString: '0,.&nbsp;s',
        color: 'blue',
        dataPoints: [{% for hr, time in activity.data.heartrate_stats.items %}{x: {{ hr }}, y: {{ time }}}, {% endfor %}],
      },
    ],
  });

  chart_heartrate.render();
  {% endif %}

  {% if activity.data.power_stats %}
  chart_power = new CanvasJS.Chart('chart_power', {
    animationEnabled: false,
    axisX: {
      title: '{% translate 'Power' %}',
      suffix: ' W',
      stripLines: [
        {
          color: '#d8d8d8',
          opacity: 0.5,
          startValue: 0,
          endValue: {{ power_zones.0 }},
        },
        {
          color: '#8CC6D7',
          opacity: 0.5,
          startValue: {{ power_zones.0 }},
          endValue: {{ power_zones.1 }},
        },
        {
          color: '#84D41D',
          opacity: 0.5,
          startValue: {{ power_zones.1 }},
          endValue: {{ power_zones.2 }},
        },
        {
          color: '#E8CC06',
          opacity: 0.5,
          startValue: {{ power_zones.2 }},
          endValue: {{ power_zones.3 }},
        },
        {
          color: '#FC7F3C',
          opacity: 0.5,
          startValue: {{ power_zones.3 }},
          endValue: {{ power_zones.4 }},
        },
        {
          color: '#DB0B32',
          opacity: 0.5,
          startValue: {{ power_zones.4 }},
          endValue: 2000,
        },
        {% if activity.power_avg %}
        {
          color: 'red',
          showOnTop: true,
          value: {{ activity.power_avg }},
        },
        {% endif %}
      ],
    },
    axisY: [{
      title: '{% translate 'Duration' %}',
      gridThickness: 0,
      labelFormatter: function(e) {
        return convertTime(e.value);
      },
    }],
    data: [
      {
        type: 'column',
        name: '{% translate 'Power' %}',
        yValueFormatString: '0,.&nbsp;s',
        color: 'blue',
        dataPoints: [{% for power, time in activity.data.power_stats.items %}{x: {{ power }}, y: {{ time }}}, {% endfor %}],
      },
    ],
  });

  chart_power.render();
  {% endif %}

  var segment_active = null;
  var points = [
    {% for point in activity.trackfile.points %}{% if point.latitude and point.longitude %}[{{ point.latitude|stringformat:"f" }}, {{ point.longitude|stringformat:"f" }}], {% endif %}{% endfor %}
  ];

  if (points.length == 0) {
    $('#map_container').hide();

    $('.segment-row').hover(function(e) {
      if (segment_active === null) {
        chart.axisX[0].stripLines[0].set('startValue', null);
        chart.axisX[0].stripLines[0].set('endValue', null);

        if (e.type == 'mouseenter') {
          target = $(e.currentTarget);
          chart.axisX[0].stripLines[0].set('startValue', target.data('time-start'));
          chart.axisX[0].stripLines[0].set('endValue', target.data('time-end'));
        }
      }
    }).click(function(e) {
      target = $(e.currentTarget);
      $('.segment-row').removeClass('bg-secondary');
      segment_id = target.data('segment-id');
      if (segment_active === null) {
        target.addClass('bg-secondary');
        segment_active = segment_id;
      } else if (segment_active == segment_id) {
        segment_active = null;
      } else {
        segment_active = segment_id;
        target.addClass('bg-secondary');
        chart.axisX[0].stripLines[0].set('startValue', target.data('time-start'));
        chart.axisX[0].stripLines[0].set('endValue', target.data('time-end'));
      }
    });
  } else {
    var map = null;
    var track = null;
    var segment = null;
    var marker_current = null;

    var points_all = [
      {% for point in activity.trackfile.points %}[{% if point.latitude and point.longitude %}{{ point.latitude|stringformat:"f" }}, {{ point.longitude|stringformat:"f" }}{% else %}0, 0{% endif %}], {% endfor %}
    ];

    var icon_start = L.icon({
      iconUrl:  '{% static 'images/leaflet/marker_green.png' %}',
      iconSize: [18, 23],
      iconAnchor: [9, 23],
    });
    var icon_end = L.icon({
      iconUrl:  '{% static 'images/leaflet/marker_red.png' %}',
      iconSize: [18, 23],
      iconAnchor: [9, 23],
    });
    var icon_current = L.icon({
      iconUrl:  '{% static 'images/leaflet/marker_blue.png' %}',
      iconSize: [16, 16],
    });

    function initMap() {
      map = L.map('map');

      L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
        attribution: '{% translate '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors' %}',
        minZoom: 1,
        maxZoom: 20
      }).addTo(map);

      L.control.scale().addTo(map);

      {% if activity.last_point %}var markerEnd = L.marker([{{ activity.last_point.latitude|stringformat:"f" }}, {{ activity.last_point.longitude|stringformat:"f" }}], {icon: icon_end}).addTo(map);{% endif %}
      {% if activity.first_point %}var markerStart = L.marker([{{ activity.first_point.latitude|stringformat:"f" }}, {{ activity.first_point.longitude|stringformat:"f" }}], {icon: icon_start}).addTo(map);{% endif %}

      track = L.polyline(points, {color: 'red'}).addTo(map);
      map.fitBounds(track.getBounds());

      $('.segment-row').hover(function(e) {
        if (segment_active === null) {
          if (segment !== null) {
            segment.removeFrom(map);
            segment = null;
            chart.axisX[0].stripLines[0].set('startValue', null);
            chart.axisX[0].stripLines[0].set('endValue', null);
          }
          if (e.type == 'mouseenter') {
            target = $(e.currentTarget);
            chart.axisX[0].stripLines[0].set('startValue', target.data('time-start'));
            chart.axisX[0].stripLines[0].set('endValue', target.data('time-end'));
            segment = L.polyline(points_all.slice(target.data('point-start'), target.data('point-end') + 1), {color: 'blue'}).addTo(map);
          }
        }
      }).click(function(e) {
        target = $(e.currentTarget);
        $('.segment-row').removeClass('bg-secondary');
        segment_id = target.data('segment-id');
        if (segment_active === null) {
          target.addClass('bg-secondary');
          segment_active = segment_id;
          map.fitBounds(segment.getBounds());
        } else if (segment_active == segment_id) {
          segment_active = null;
          map.fitBounds(track.getBounds());
        } else {
          if (segment !== null) {
            segment.removeFrom(map);
            segment = null;
          }
          segment_active = segment_id;
          target.addClass('bg-secondary');
          chart.axisX[0].stripLines[0].set('startValue', target.data('time-start'));
          chart.axisX[0].stripLines[0].set('endValue', target.data('time-end'));
          segment = L.polyline(points_all.slice(target.data('point-start'), target.data('point-end') + 1), {color: 'blue'}).addTo(map);
          map.fitBounds(segment.getBounds());
        }
      });

      $('.canvasjs-chart-canvas').mousemove(function(event) {
        var parentOffset = $(this).parent().offset();
        var relX = event.pageX - parentOffset.left;
        var relY = event.pageY - parentOffset.top;
        var x = Math.round(chart.axisX[0].convertPixelToValue(relX));
        var y = Math.round(chart.axisY[0].convertPixelToValue(relY));

        if (x < chart.axisX[0].minimum || x > chart.axisX[0].maximum || y < chart.axisY[0].minimum || y > chart.axisY[0].maximum) {
          if (marker_current !== null) {
            marker_current.removeFrom(map);
            marker_current = null;
          }
          return;
        }

        var previous_point = null;
        for (i = 0; i < chart.data[1].dataPoints.length; i++) {
          if (chart.data[1].dataPoints[i].x >= x) {
            if (previous_point !== null && x - previous_point.x < chart.data[1].dataPoints[i].x - x) {
              p = previous_point.y;
            } else {
              p = chart.data[1].dataPoints[i].y;
            }
            if (marker_current === null) {
              marker_current = L.marker(points_all[p], {icon: icon_current}).addTo(map);
            } else {
              marker_current.setLatLng(points_all[p]);
            }
            break;
          }
          previous_point = chart.data[1].dataPoints[i];
        }
      }).mouseout(function(event) {
        if (marker_current !== null) {
          marker_current.removeFrom(map);
          marker_current = null;
        }
      });
    }

    initMap();
  }
});
</script>
{% endif %}
{% endblock %}
