{% extends 'base.html' %}
{% load i18n %}
{% load tz %}
{% load utils %}

{% block page_title %}<i class="fas fa-{{ activity.type|activity_icon }}"></i> <a href="{% url 'activity' activity.id %}">{% if activity.name %}{{ activity.name }}{% else %}{{ activity.type|activity_name }}{% endif %} - {{ activity.date_local|date_long }}{% if activity.planned %} ({% translate 'planned' %}){% endif %}</a>{% endblock %}

{% block content %}

<div class="card">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card-body">
      <p><label for="id_file">{% translate 'File' %}{% translate ':' %}</label> <input type="file" id="id_file" name="file" required="required" /></p>
    </div>
    <div class="card-footer text-center">
      <input type="submit" class="btn btn-primary" value="{% translate 'Import' %}" />
      <a href="{% url 'activity' activity.id %}" class="btn btn-default">{% translate 'Cancel' %}</a>
    </div>
  </form>
</div>

{% if errors %}
<div class="card">
  <div class="card-header">{% translate 'Errors' %}</div>
  <div class="card-body">
    {{ errors }}
  </div>
</div>
{% endif %}

{% endblock %}
