{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load utils %}
{% load tz %}

{% block page_title %}<i class="fas fa-{{ activity.type|activity_icon }}"></i> <a href="{% url 'activity' activity.id %}">{% if activity.name %}{{ activity.name }}{% else %}{{ activity.type|activity_name }}{% endif %} - {{ activity.date|localtime|date_long }}{% if activity.planned %} ({% translate 'planned' %}){% endif %}</a>{% endblock %}

{% block content %}

<div class="card">
  <div class="card-header">
    {% translate 'Track' %}
  </div>
  <div class="card-body">
    {% if activity.trackfile.points %}
      <table class="table table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th>{% translate 'Time' %} (ms)</th>
            <th>{% translate 'Distance' %} (m)</th>
            <th>{% translate 'Latitude' %}</th>
            <th>{% translate 'Longitude' %}</th>
            <th>{% translate 'Altitude' %} (m)</th>
            <th>{% translate 'Heart rate' %}</th>
            <th>{% translate 'Cadence' %}</th>
            <th>{% translate 'Power' %} (W)</th>
          </tr>
        </thead>
        <tbody>
          {% for point in activity.trackfile.points %}
          <tr>
            <td>{{ point.time|default_if_none:'' }}</td>
            <td>{{ point.distance|default_if_none:'' }}</td>
            <td>{{ point.latitude|default_if_none:'' }}</td>
            <td>{{ point.longitude|default_if_none:'' }}</td>
            <td>{{ point.altitude|default_if_none:'' }}</td>
            <td>{{ point.heartrate|default_if_none:'' }}</td>
            <td>{{ point.cadence|default_if_none:'' }}</td>
            <td>{{ point.power|default_if_none:'' }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>{% translate 'This activity has no track.' %}</p>
    {% endif %}
  </div>
</div>

{% endblock %}
