{% extends 'base.html' %}
{% load i18n %}
{% load utils %}

{% block title %}{% if activity.name %}{{ activity.name }}{% else %}{{ activity.type|activity_name }}{% endif %} - {{ activity.date_local|date_short }}{% if activity.planned %} ({% translate 'planned' %}){% endif %} | {% endblock %}
{% block page_title %}<i class="fas fa-{{ activity.type|activity_icon }}"></i> <a href="{% url 'activity' activity.id %}">{% if activity.name %}{{ activity.name }}{% else %}{{ activity.type|activity_name }}{% endif %} - {{ activity.date_local|date_long }}{% if activity.planned %} ({% translate 'planned' %}){% endif %}</a>{% endblock %}

{% block content %}

<div class="card">
  <form method="post">
    {% csrf_token %}
    <div class="card-body">
      <p>Indiquez la durée pour chaque meilleure performance connue.</p>
      {% for distance, duration in records.items %}
        <div class="form-group row">
          <label for="record_{{ distance }}" class="col-sm-2 col-form-label">{{ distance }}&nbsp;m&nbsp;:</label>
          <div class="col-sm-10"><input type="text" class="form-control form-control-sm" id="record_{{ distance }}" name="record_{{ distance }}" value="{{ duration|duration }}" /></div>
        </div>
      {% endfor %}
    </div>
    <div class="card-footer text-center">
      <input type="submit" class="btn btn-primary" value="{% translate 'Edit' %}" />
      <a href="{% url 'activity' activity.id %}" class="btn btn-default">{% translate 'Cancel' %}</a>
    </div>
  </form>
</div>

{% endblock %}
