{% extends 'base.html' %}
{% load i18n %}
{% load tz %}
{% load utils %}

{% block title %}{% if activity.name %}{{ activity.name }}{% else %}{{ activity.type|activity_name }}{% endif %} - {{ activity.date_local|date_short }}{% if activity.planned %} ({% translate 'planned' %}){% endif %} | {% endblock %}
{% block page_title %}<i class="fas fa-{{ activity.type|activity_icon }}"></i> <a href="{% url 'activity' activity.id %}">{% if activity.name %}{{ activity.name }}{% else %}{{ activity.type|activity_name }}{% endif %} - {{ activity.date_local|date_long }}{% if activity.planned %} ({% translate 'planned' %}){% endif %}</a>{% endblock %}

{% block content %}

<div class="card card-primary">
  <form action="" method="post" class="form">
    {% csrf_token %}
    <input type="hidden" name="delete" value="1" />

    <div class="card-body">
      <div class="alert alert-warning">
        <p>{% translate 'Are you sure you want to remove this activity?' %}</p>
        <p><i class="icon fas fa-exclamation-triangle"></i>{% translate 'This action is irreversible.' %}</p>
      </div>
    </div>

    <div class="card-footer text-center">
      <input type="submit" class="btn btn-danger" value="{% translate 'Remove' %}" />
      <a href="{% url 'activity' activity.id %}" class="btn btn-default">{% translate 'Cancel' %}</a>
    </div>
  </form>
</div>

{% endblock %}
