{% extends 'base.html' %}
{% load i18n %}
{% load tz %}
{% load utils %}

{% block title %}{% if activity.name %}{{ activity.name }}{% else %}{{ activity.type|activity_name }}{% endif %} - {{ activity.date_local|date_short }}{% if activity.planned %} ({% translate 'planned' %}){% endif %} | {% endblock %}
{% block page_title %}<i class="fas fa-{{ activity.type|activity_icon }}"></i> <a href="{% url 'activity' activity.id %}">{% if activity.name %}{{ activity.name }}{% else %}{{ activity.type|activity_name }}{% endif %} - {{ activity.date_local|date_long }}{% if activity.planned %} ({% translate 'planned' %}){% endif %}</a>{% endblock %}

{% block content %}

<div class="card card-primary">
  <form action="" method="post" class="form">
    {% csrf_token %}

    <div class="card-body">
      <p>{% translate 'File' %}{% translate ':' %} <q>{{ file.filename }}</q></p>

      <p>{% translate 'Which data do you want to recalcule with this file?' %}</p>

      <div class="form-group" style="margin-bottom: 1rem;">
        <div class="custom-control custom-switch">
          <input type="checkbox" name="recalculate_infos" id="cb_recalculate_infos" class="custom-control-input" />
          <label for="cb_recalculate_infos" class="custom-control-label">{% translate 'Basic informations' %}</label>
        </div>
        <p class="form-text text-muted small">{% translate 'Update date, activity type, duration, speed, cadence...' %}</p>
      </div>

      <div id="infos_types" style="margin-left: 30px; margin-bottom: 1rem;">
        <div class="custom-control custom-switch">
          <input type="checkbox" name="force_timezone" id="id_force_timezone" class="custom-control-input"{% if user.force_timezone_import %} checked="checked"{% endif %} />
          <label for="id_force_timezone" class="custom-control-label">{% translate 'Force time zone' %} ({{ user.timezone }})</label>
        </div>
      </div>

      {% with t=file_activity.trackfile  %}
      {% if t.has_latitude or t.has_longitude or t.has_altitude or t.has_distance or t.has_speed or t.has_heartrate or t.has_cadence or t.has_power %}
      <div class="form-group" style="margin-bottom: 1rem;">
        <div class="custom-control custom-switch">
          <input type="checkbox" name="recalculate_points" id="cb_recalculate_points" class="custom-control-input" />
          <label for="cb_recalculate_points" class="custom-control-label">{% translate 'Track points' %}</label>
        </div>
        <p class="form-text text-muted small">{% translate 'Update map and graph activity.' %}</p>
      </div>

      <div id="trackpoint_types" style="margin-left: 30px; margin-bottom: 1rem;">
        {% if t.has_latitude or t.has_longitude %}
        <div class="form-group">
          <div class="custom-control custom-switch">
            <input type="checkbox" name="recalculate_points_coordinates" id="cb_recalculate_points_coordinates" class="trackpoint_type custom-control-input" checked="checked" />
            <label for="cb_recalculate_points_coordinates" class="custom-control-label">{% translate 'Coordinates' %}</label>
          </div>
        </div>
        {% endif %}
        {% if t.has_altitude %}
        <div class="form-group">
          <div class="custom-control custom-switch">
            <input type="checkbox" name="recalculate_points_altitude" id="cb_recalculate_points_altitude" class="trackpoint_type custom-control-input" checked="checked" />
            <label for="cb_recalculate_points_altitude" class="custom-control-label">{% translate 'Altitude' %}</label>
          </div>
        </div>
        {% endif %}
        {% if t.has_distance %}
        <div class="form-group">
          <div class="custom-control custom-switch">
            <input type="checkbox" name="recalculate_points_distance" id="cb_recalculate_points_distance" class="trackpoint_type custom-control-input" checked="checked" />
            <label for="cb_recalculate_points_distance" class="custom-control-label">{% translate 'Distance' %}</label>
          </div>
        </div>
        {% endif %}
        {% if t.has_speed %}
        <div class="form-group">
          <div class="custom-control custom-switch">
            <input type="checkbox" name="recalculate_points_speed" id="cb_recalculate_points_speed" class="trackpoint_type custom-control-input" checked="checked" />
            <label for="cb_recalculate_points_speed" class="custom-control-label">{% translate 'Speed' %}</label>
          </div>
        </div>
        {% endif %}
        {% if t.has_heartrate %}
        <div class="form-group">
          <div class="custom-control custom-switch">
            <input type="checkbox" name="recalculate_points_heartrate" id="cb_recalculate_points_heartrate" class="trackpoint_type custom-control-input" checked="checked" />
            <label for="cb_recalculate_points_heartrate" class="custom-control-label">{% translate 'Heart rate' %}</label>
          </div>
        </div>
        {% endif %}
        {% if t.has_cadence %}
        <div class="form-group">
          <div class="custom-control custom-switch">
            <input type="checkbox" name="recalculate_points_cadence" id="cb_recalculate_points_cadence" class="trackpoint_type custom-control-input" checked="checked" />
            <label for="cb_recalculate_points_cadence" class="custom-control-label">{% translate 'Cadence' %}</label>
          </div>
        </div>
        {% endif %}
        {% if t.has_power %}
        <div class="form-group">
          <div class="custom-control custom-switch">
            <input type="checkbox" name="recalculate_points_power" id="cb_recalculate_points_power" class="trackpoint_type custom-control-input" checked="checked" />
            <label for="cb_recalculate_points_power" class="custom-control-label">{% translate 'Power' %}</label>
          </div>
        </div>
        {% endif %}
      </div>
      {% endif %}
      {% endwith %}

      <div class="form-group" style="margin-bottom: 1rem;">
        <div class="custom-control custom-switch">
          <input type="checkbox" name="recalculate_records" id="cb_recalculate_records" class="custom-control-input" />
          <label for="cb_recalculate_records" class="custom-control-label">{% translate 'Best performances' %}</label>
        </div>
      </div>

      {% if segments %}
      <div class="form-group" style="margin-bottom: 1rem;">
        <div class="custom-control custom-switch">
          <input type="checkbox" name="recalculate_segments" id="cb_recalculate_segments" class="custom-control-input" />
          <label for="cb_recalculate_segments" class="custom-control-label">{% translate 'Segments' %} ({{ segments|length}})</label>
        </div>
        <p class="form-text text-muted small">{% translate 'Create segments from manual laps' %}</p>
      </div>
      {% endif %}

      <div class="form-group" style="margin-bottom: 1rem;">
        <div class="custom-control custom-switch">
          <input type="checkbox" name="recalculate_score" id="cb_recalculate_score" class="custom-control-input" />
          <label for="cb_recalculate_score" class="custom-control-label">{% translate 'Score' %}</label>
        </div>
      </div>

      <div class="alert alert-info" style="margin-top: 1em;">
        <i class="icon fas fa-info"></i> {% translate 'Information you set like name, description, feeling, exertion, equipment or segments are left unchanged.' %}
      </div>
    </div>

    <div class="card-footer text-center">
      <input type="submit" class="btn btn-warning" value="{% translate 'Recalculate' %}" />
      <a href="{% url 'activity' activity.id %}" class="btn btn-default">{% translate 'Cancel' %}</a>
    </div>
  </form>
</div>

{% if errors %}
<div class="card">
  <div class="card-header">{% translate 'Errors' %}</div>
  <div class="card-body">
    <ul>
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(function() {
  function setInfosCheckBoxesStatus() {
    if ($('#cb_recalculate_infos').prop('checked')) {
      $('#infos_types input').prop('disabled', false);
      $('#infos_types').show();
    } else {
      $('#infos_types').hide();
      $('#infos_types input').prop('disabled', true);
    }
  }

  $('#cb_recalculate_infos').change(function(e) {
    setInfosCheckBoxesStatus();
  });

  setInfosCheckBoxesStatus();

{% with t=file_activity.trackfile  %}
{% if t.has_latitude or t.has_longitude or t.has_altitude or t.has_distance or t.has_speed or t.has_heartrate or t.has_cadence or t.has_power %}
  function setTrackPointsCheckBoxesStatus() {
    if ($('#cb_recalculate_points').prop('checked')) {
      $('#trackpoint_types input').prop('disabled', false);
      $('#trackpoint_types').show();
    } else {
      $('#trackpoint_types').hide();
      $('#trackpoint_types input').prop('disabled', true);
    }
  }

  $('#cb_recalculate_points').change(function(e) {
    setTrackPointsCheckBoxesStatus();
  });

  setTrackPointsCheckBoxesStatus();
{% endif %}
{% endwith %}
});
</script>
{% endblock %}