{% extends 'base.html' %}
{% load i18n %}
{% load utils %}
{% load static %}
{% load tz %}

{% block title %}{% translate 'Activities' %} | {% endblock %}
{% block page_title %}{% translate 'Activities' %}{% endblock %}

{% block page_title_buttons %}
<div>
  <a href="{% url 'create_activity' %}" class="btn btn-primary btn-sm">{% translate 'Create activity' %}</a>
  <a href="{% url 'import_activity' %}" class="btn btn-primary btn-sm">{% translate 'Import activity' %}</a>
</div>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/datatables/datatables.css' %}" />
{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">

    <div style="display: flex; flex-wrap: wrap; justify-content: flex-start; align-items: flex-start;">
      <div style="padding-right: 20px;">
        <label for="filter_sport">{% translate 'Activity type:' %}</label>
        <select id="filter_sport">
          <option value="" selected="selected">{% translate 'All' %}</option>
          {% for sport_code, sport in sports.items %}
            <option value="{{ sport_code }}">{{ sport.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div style="padding-right: 20px;">
        <label for="filter_date-min">{% translate 'After:' %}</label>
        <input type="date" id="filter_date-min" />
      </div>
      <div style="padding-right: 20px;">
        <label for="filter_date-max">{% translate 'Before:' %}</label>
        <input type="date" id="filter_date-max" />
      </div>
    </div>

    <table class="table table-striped compact" id="activities" style="width:100%">
      <thead>
        <tr>
          <th>{% translate 'Name' %}</th>
          <th>{% translate 'Date' %}</th>
          <th>{% translate 'Type' %}</th>
          <th>{% translate 'Duration' %}</th>
          <th>{% translate 'Distance' %}</th>
          <th>{% translate 'Heart rate' %}</th>
          <th>{% translate 'Cadence' %}</th>
          <th>{% translate 'Power' %}</th>
          <th>{% translate 'TRIMP' %}</th>
          <th>{% translate 'TSS' %}</th>
          <th>{% translate 'Calories' %}</th>
          <th>{% translate 'Equipments' %}</th>
        </tr>
      </thead>
      <tbody>
      {% for activity in activities %}
        <tr>
          <td><a href="{% url 'activity' activity.id %}">{% if activity.name %}{{ activity.name }}{% else %}{{ activity.type|activity_name }}{% endif %}</a></td>
          <td><a href="{% url 'activity' activity.id %}">{{ activity.date_local|date_short }}</a>{% if activity.planned %} ({% translate 'planned' %}){% endif %}</td>
          <td><span class="badge" style="background-color: {{ activity.type|activity_bgcolor }}; color: {{ activity.type|activity_textcolor }};"><i class="fas fa-{{ activity.type|activity_icon }}"></i> {{ activity.type|activity_name }}</span></td>
          <td>{{ activity.duration|duration }}</td>
          <td>{{ activity.distance|distance }}</td>
          <td>{% if activity.heart_rate_avg %}{{ activity.heart_rate_avg }}{% endif %}</td>
          <td>{% if activity.cadence_avg %}{{ activity.cadence_avg }}{% endif %}</td>
          <td>{% if activity.power_avg %}{{ activity.power_avg }}{% endif %}</td>
          <td>{% if activity.trimp %}{{ activity.trimp }}{% endif %}</td>
          <td>{% if activity.tss %}{{ activity.tss }}{% endif %}</td>
          <td>{% if activity.calories %}{{ activity.calories }}{% endif %}</td>
          <td>{% if activity.equipments %}{{ activity.equipments }}{% endif %}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/datatables/datatables.js' %}"></script>

<script type="text/javascript">
$(function() {
  var type = 'All';
  var date_min = null;
  var date_max = null;

  var table = $('#activities').DataTable({
    language: {
      url: '{% static 'js/datatables/i18n/fr_FR.json' %}',
    },
    ajax: {
      url: '{% url 'api_activities' %}',
      data: function(d) {
        d.sport = type;
        if (date_min !== null)
          d.dateMin = date_min;
        if (date_max !== null)
          d.dateMax = date_max;
      },
    },
    serverSide: true,
    processing: true,
    stateSave: true,
    dom: 'Bfrtip',
    buttons: [
      'pageLength',
      {
        extend: 'colvis',
        columns: '2,3,4,5,6,7,8,9,10,11',
      },
    ],
    searching: false,
    responsive: true,
    ordering: true,
    order: [[ 1, 'desc' ]],
    paging: true,
    pageLength: 20,
    lengthMenu: [ [10, 20, 50, 100], [10, 20, 50, 100] ],
    columns: [
      {
        name: 'name',
        data: 'name',
        render: function(data, type, row) {
          if (type == 'sort') {
            return data;
          } else {
            return '<a href="' + row['url'] + '">' + data + '</a>';
          }
        },
      },
      {
        name: 'date',
        data: 'date_txt',
        render: function(data, type, row) {
          if (type == 'sort') {
            return row['date'];
          } else {
            return '<a href="' + row['url'] + '">' + data + '</a>';
          }
        },
      },
      {
        name: 'type',
        data: 'type_txt',
        render: function(data, type, row) {
          if (type == 'display') {
            return '<span class="badge" style="background-color: ' + row['bgcolor'] + '; color: ' + row['textcolor'] + ';"><i class="fas fa-' + row['icon'] + '"></i> ' + data + '</span>';
          } else {
            return data;
          }
        },
      },
      {
        name: 'duration',
        data: 'duration_txt',
      },
      {
        name: 'distance',
        data: 'distance_txt',
        render: function(data, type, row) {
          if (type == 'sort') {
            return row['distance'];
          } else {
            return data;
          }
        },
      },
      {
        name: 'heartrate',
        data: 'heartrate',
        visible: false,
      },
      {
        name: 'cadence',
        data: 'cadence',
        visible: false,
      },
      {
        name: 'power',
        data: 'power',
        visible: false,
      },
      {
        name: 'trimp',
        data: 'trimp',
      },
      {
        name: 'tss',
        data: 'tss',
      },
      {
        name: 'calories',
        data: 'calories',
        visible: false,
      },
      {
        name: 'equipments',
        data: 'equipments',
        visible: false,
        orderable: false,
      },
    ],
  });

  $('#filter_sport').val('');
  $('#filter_sport').change(function(e) {
    type = e.target.value;
    table.draw();
  });

  $('#filter_date-min').val('');
  $('#filter_date-min').change(function(e) {
    date_min = $(this).val();
    if (date_min === '') {
      date_min = null;
    }
    table.draw();
  });

  $('#filter_date-max').val('');
  $('#filter_date-max').change(function(e) {
    date_max = $(this).val();
    if (date_max === '') {
      date_max = null;
    }
    table.draw();
  });
});
</script>
{% endblock %}
