{% extends 'base.html' %}
{% load i18n %}
{% load tz %}
{% load utils %}
{% load static %}

{% block title %}{% if activity.name %}{{ activity.name }}{% else %}{{ activity.type|activity_name }}{% endif %} - {{ activity.date_local|date_short }}{% if activity.planned %} ({% translate 'planned' %}){% endif %} | {% endblock %}
{% block page_title %}<i class="fas fa-{{ activity.type|activity_icon }}"></i> <a href="{% url 'activity' activity.id %}">{% if activity.name %}{{ activity.name }}{% else %}{{ activity.type|activity_name }}{% endif %} - {{ activity.date_local|date_long }}{% if activity.planned %} ({% translate 'planned' %}){% endif %}</a> - {% translate 'Add segments' %}{% endblock %}

{% block page_title_buttons %}
<div>
  <a href="{% url 'activity_add_segment' activity.id %}" class="btn btn-sm btn-primary">{% translate 'Add segment' %}</a>
</div>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/ion.rangeSlider/ion.rangeSlider.css' %}" />
{% endblock %}

{% block content %}

<div class="card">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card-body">
      {% if form.non_field_errors %}
        <div class="alert alert-warning">
          {{ form.non_field_errors }}
        </div>
      {% endif %}

      {% if form.subject.errors %}
        <div class="alert alert-warning">
          <ol>
            {% for error in form.subject.errors %}
              <li><strong>{{ error }}</strong></li>
            {% endfor %}
          </ol>
        </div>
      {% endif %}

      {% for field in form.hidden_fields %}
        {{ field }}
      {% endfor %}

      <div style="margin-bottom: 1em;">
        <input type="text" id="id_time" />
      </div>

      {% for field in form.visible_fields %}
        <div class="form-group{% if not field|is_checkbox %} row{% endif %}">
          {% if field|is_checkbox %}
            <div class="custom-control custom-switch">
              {% if field.errors %}
                {{ field|field_add_class_cb:'custom-control-input is-invalid' }}
              {% else %}
                {{ field|field_add_class_cb:'custom-control-input' }}
              {% endif %}
              <label for="{{ field.id_for_label }}" class="custom-control-label">{{ field.label }}</label>
            </div>
            {% if field.help_text %}
              <p class="form-text text-muted small">{{ field.help_text }}</p>
            {% endif %}
            {{ field.errors }}
          {% else %}
            <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
            <div class="col-sm-10">
              {% if field.errors %}
                {{ field|field_add_class:'form-control form-control-sm is-invalid' }}
              {% else %}
                {{ field|field_add_class:'form-control form-control-sm' }}
              {% endif %}
              {% if field.help_text %}
                <p class="form-text text-muted small">{{ field.help_text }}</p>
              {% endif %}
              {{ field.errors }}
            </div>
          {% endif %}
        </div>
      {% endfor %}

    </div>
    <div class="card-footer text-center">
      <input type="submit" class="btn btn-primary" value="{% translate 'Submit' %}" />
      <a href="{% url 'activity' activity.id %}" class="btn btn-default">{% translate 'Cancel' %}</a>
    </div>
  </form>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/ion.rangeSlider/ion.rangeSlider.js' %}"></script>
<script type="text/javascript">
$(function() {
  function convertTimeIntToString(d) {
    d /= 1000;
    var hours   = Math.floor(d / 3600);
    var minutes = Math.floor((d - (hours * 3600)) / 60);
    var seconds = Math.floor(d - (hours * 3600) - (minutes * 60));

    if (hours   < 10) {hours   = '0'+hours;}
    if (minutes < 10) {minutes = '0'+minutes;}
    if (seconds < 10) {seconds = '0'+seconds;}
    return hours + ':' + minutes + ':' + seconds;
  }

  function convertTimeStringToInt(s) {
    numbers = s.split(':');

    hours = 0;
    minutes = 0;
    seconds = 0;

    if (numbers.length == 2) {
      minutes = parseInt(numbers[0]);
      seconds = parseInt(numbers[1]);
    } else if (numbers.length == 3) {
      hours = parseInt(numbers[0]);
      minutes = parseInt(numbers[1]);
      seconds = parseInt(numbers[2]);
    }

    if (minutes < 0)
      minutes = 0;
    if (minutes >= 60)
      minutes = 59;

    if (seconds < 0)
      seconds = 0;
    if (seconds >= 60)
      seconds = 59;

    return 1000 * (hours * 3600 + minutes * 60 + seconds);
  }

  var slider = $('#id_time').ionRangeSlider({
    type: 'double',
    min: 0,
    max: {{ activity.duration_total }},
    to: {{ activity.duration_total }},
    grid: true,
    block: true,
    prettify: convertTimeIntToString,
    onChange: function(data) {
      $('#id_time_start').val(data.from_pretty);
    },
  });

  function updateSlider() {
    var start = convertTimeStringToInt($('#id_time_start').val());
    var repetitions = $('#id_repetitions').val();
    var duration1 = convertTimeStringToInt($('#id_duration1').val());
    var duration2 = convertTimeStringToInt($('#id_duration2').val());

    slider.data('ionRangeSlider').update({
      from: start,
      to: start + repetitions * duration1 + (repetitions - 1) * duration2,
    });
  }

  $('#id_time_start').change(function() {
    updateSlider();
  });
  $('#id_duration1').change(function() {
    updateSlider();
  });
  $('#id_duration2').change(function() {
    updateSlider();
  });
  $('#id_repetitions').change(function() {
    updateSlider();
  });

  updateSlider();
});
</script>
{% endblock %}
