{% extends 'base.html' %}
{% load i18n %}
{% load utils %}
{% load tz %}
{% load static %}

{% block title %}{% if activity.name %}{{ activity.name }}{% else %}{{ activity.type|activity_name }}{% endif %} - {{ activity.date_local|date_short }}{% if activity.planned %} ({% translate 'planned' %}){% endif %} | {% endblock %}
{% block page_title %}<i class="fas fa-{{ activity.type|activity_icon }}"></i> <a href="{% url 'activity' activity.id %}">{% if activity.name %}{{ activity.name }}{% else %}{{ activity.type|activity_name }}{% endif %} - {{ activity.date_local|date_long }}{% if activity.planned %} ({% translate 'planned' %}){% endif %}</a>{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/jquery.timepicker/jquery.timepicker.css' %}" />
{% endblock %}

{% block content %}

<div class="card">
  <form action="" class="form-horizontal" method="post">
    {% csrf_token %}

    <div class="card-body">
      {% if form1.non_field_errors %}
        <div class="alert alert-warning">
          {{ form1.non_field_errors }}
        </div>
      {% endif %}

      {% if form1.subject.errors %}
        <ol>
          {% for error in form1.subject.errors %}
          <li><strong>{{ error }}</strong></li>
          {% endfor %}
        </ol>
      {% endif %}

      {% for field in form1.hidden_fields %}
        {{ field }}
      {% endfor %}

      {% for field in form1.visible_fields %}
        <div class="form-group{% if not field|is_checkbox %} row{% endif %}">
          {% if field|is_checkbox %}
            <div class="custom-control custom-switch">
              {% if field.errors %}
                {{ field|field_add_class_cb:'custom-control-input is-invalid' }}
              {% else %}
                {{ field|field_add_class_cb:'custom-control-input' }}
              {% endif %}
              <label for="{{ field.id_for_label }}" class="custom-control-label">{{ field.label }}</label>
            </div>
            {% if field.help_text %}
              <p class="form-text text-muted small">{{ field.help_text }}</p>
            {% endif %}
            {{ field.errors }}
          {% else %}
            <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
            <div class="col-sm-10">
              {% if field.errors %}
                {{ field|field_add_class:'form-control form-control-sm is-invalid' }}
              {% else %}
                {{ field|field_add_class:'form-control form-control-sm' }}
              {% endif %}
              {% if field.help_text %}
                <p class="form-text text-muted small">{{ field.help_text }}</p>
              {% endif %}
              {{ field.errors }}
            </div>
          {% endif %}
        </div>
      {% endfor %}

      {% if equipmentsets %}
      <div id="equipmentsets" class="offset-sm-2 col-sm-10 text-sm"></div>
      {% endif %}

      <hr />
      <a id="advanced_form_link" style="display: none;" data-toggle="collapse" href="#form_advanced" role="button" aria-expanded="false" aria-controls="form_advanced">{% translate 'Advanced form' %}</a>
      <div class="collapse" id="form_advanced">

      {% if form2.non_field_errors %}
        <div class="alert alert-warning">
          {{ form2.non_field_errors }}
        </div>
      {% endif %}

      {% if form2.subject.errors %}
        <ol>
          {% for error in form2.subject.errors %}
          <li><strong>{{ error }}</strong></li>
          {% endfor %}
        </ol>
      {% endif %}

      {% for field in form2.hidden_fields %}
        {{ field }}
      {% endfor %}

      {% for field in form2.visible_fields %}
        <div class="form-group{% if not field|is_checkbox %} row{% endif %}">
          {% if field|is_checkbox %}
            <div class="custom-control custom-switch">
              {% if field.errors %}
                {{ field|field_add_class_cb:'custom-control-input is-invalid' }}
              {% else %}
                {{ field|field_add_class_cb:'custom-control-input' }}
              {% endif %}
              <label for="{{ field.id_for_label }}" class="custom-control-label">{{ field.label }}</label>
            </div>
            {% if field.help_text %}
              <p class="form-text text-muted small">{{ field.help_text }}</p>
            {% endif %}
            {{ field.errors }}
          {% else %}
            <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{ field.label }}</label>
            <div class="col-sm-10">
              {% if field.errors %}
                {{ field|field_add_class:'form-control form-control-sm is-invalid' }}
              {% else %}
                {{ field|field_add_class:'form-control form-control-sm' }}
              {% endif %}
              {% if field.help_text %}
                <p class="form-text text-muted small">{{ field.help_text }}</p>
              {% endif %}
              {{ field.errors }}
            </div>
          {% endif %}
        </div>
      {% endfor %}

      </div>

    </div>

    <div class="card-footer text-center">
      <input type="submit" class="btn btn-primary" value="{% translate 'Submit' %}" />
      <a href="{% url 'activity' activity.id %}" class="btn btn-default">{% translate 'Cancel' %}</a>
    </div>
  </form>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.timepicker/jquery.timepicker.js' %}"></script>
<script type="text/javascript">
$(function() {
  $('#advanced_form_link').show();

  $('#id_planned').change(function(e) {
    if ($(this).is(':checked')) {
      $('#id_feeling').prop('disabled', true);
      $('#id_exertion').prop('disabled', true);
    } else {
      $('#id_feeling').prop('disabled', false);
      $('#id_exertion').prop('disabled', false);
    }
  });

  {% if equipmentsets %}
    $('#equipmentsets').append("{% translate 'Equipment sets' %}{% translate ':' %}");

    {% for equipmentset in equipmentsets %}
      $('#equipmentsets').append(' <button class="btn btn-info btn-xs" type="button" id="equipmentset_{{ equipmentset.id }}">{{ equipmentset.name }}</button>');
      $('#equipmentset_{{ equipmentset.id }}').click(function(e) {
        $('#id_equipments').val([{% for equipment in equipmentset.equipments.all %}{{ equipment.id}},{% endfor %}]);
        return false;
      });
    {% endfor %}
  {% endif %}

  var activities_equipments = {
    {% for activity_type, activity_data in activities_equipments.items %}
      '{{ activity_type }}': {
        'equipments_show':    {{ activity_data.equipments_show }},
        'equipments_hide':    {{ activity_data.equipments_hide }},
        'equipmentsets_show': {{ activity_data.equipmentsets_show }},
        'equipmentsets_hide': {{ activity_data.equipmentsets_hide }},
      },
    {% endfor %}
  };

  function change_activity_type(type) {
    for (let equipment_id of activities_equipments[type]["equipments_show"]) {
      $('#id_equipments option[value=' + equipment_id + ']').show();
    }

    for (let equipment_id of activities_equipments[type]["equipments_hide"]) {
      $('#id_equipments option[value=' + equipment_id + ']').hide();
    }

    $('#equipmentsets').hide();

    for (let equipmentset_id of activities_equipments[type]["equipmentsets_show"]) {
      $('#equipmentsets').show();
      $('#equipmentset_' + equipmentset_id).show();
    }

    for (let equipmentset_id of activities_equipments[type]["equipmentsets_hide"]) {
      $('#equipmentset_' + equipmentset_id).hide();
    }
  }

  change_activity_type('{{ activity.type }}');
  $('#id_type').change(function(e) {
    change_activity_type($(this).val());
  });

  $('#id_date_time').timepicker({'timeFormat': 'H:i:s'});
});
</script>
{% endblock %}
