{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load utils %}

{% block title %}{% translate 'Calendar' %} | {% endblock %}
{% block page_title %}{% translate 'Calendar' %}{% endblock %}

{% block page_title_buttons %}
<div>
  <a href="{% url 'create_activity' %}" class="btn btn-primary btn-sm">{% translate 'Create activity' %}</a>
  <a href="{% url 'import_activity' %}" class="btn btn-primary btn-sm">{% translate 'Import activity' %}</a>
  <a href="{% url 'add_note' %}" class="btn btn-primary btn-sm">{% translate 'Add note' %}</a>
</div>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/calendar.css' %}" />
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <div id="calendar"></div>

    <div id="calendar-controls" style="display: none;">
      <div class="custom-control custom-switch" style="display: inline-block;">
        <input type="checkbox" class="custom-control-input" id="btn_notes" />
        <label for="btn_notes" class="custom-control-label">{% translate 'Show notes' %}</label>
      </div>
      <div class="custom-control custom-switch" style="display: inline-block;">
        <input type="checkbox" class="custom-control-input" id="btn_competitions" checked="checked" />
        <label for="btn_competitions" class="custom-control-label">{% translate 'Show competitions' %}</label>
      </div>
    </div>

    <p><a href="{% url 'notes' %}">{% translate 'List of notes' %}</a></p>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/calendar.js' %}"></script>

<script type="text/javascript">
var weeks = {
  {% for year, weeks2 in weeks.items %}
    {{ year }}: {
      {% for week, wstats in weeks2.items %}
        {{ week }}: {
          'count': {{ wstats.count }},
          'duration': '{{ wstats.duration_txt }}',
          'trimp': {{ wstats.trimp }},
        },
      {% endfor %}
    },
  {% endfor %}
};

var events = [
  {% for activity in activities %}
  {
    id: 'activity-{{ activity.id }}',
    type: 'activity',
    icon: '{{ activity.type|activity_icon }}',
    title: '{{ activity.type|activity_name }}{% if activity.duration %} ({{ activity.duration|duration }}){% endif %}',
    start: new Date('{{ activity.date|date:"Y-m-d" }}T{{ activity.date|date:"H:i:s" }}'),
    url: '{% url "activity" activity.id %}',
    color: '{{ activity.type|activity_bgcolor }}',
    textColor : '{{ activity.type|activity_textcolor }}',
    duration: {% if activity.duration %}{{ activity.duration }}{% else %}null{% endif %},
    distance: {% if activity.distance %}{{ activity.distance }}{% else %}null{% endif %},
  },
  {% endfor %}
  {% for competition in competitions %}
  {
    id: 'competition-{{ competition.id }}',
    type: 'competition',
    title: '{{ competition.name }}',
    start: new Date('{{ competition.date|date:"Y-m-d" }}T{{ competition.date|date:"H:i:s" }}'),
    url: '{% url "competition" competition.id %}',
    color: '#708090',
  },
  {% endfor %}
];

var notes  = [
  {% for note in notes %}
  {
    id: 'note-{{ note.id }}',
    type: 'note',
    title: '{{ note.title }}',
    start: new Date('{{ note.date_start|date:"Y-m-d" }}T{{ note.date_start|date:"H:i:s" }}'),
    {% if note.date_end %}end: new Date('{{ note.date_end|date:"Y-m-d" }}T{{ note.date_end|date:"H:i:s" }}'),{% endif %}
    url: '{% url "edit_note" note.id %}',
    color: '#d0d0d0',
    textColor: 'black',
  },
  {% endfor %}
];

$(function() {
  var calendar = new Calendar("#calendar", weeks, events, notes);

  calendar.locales.today = '{% translate "Today" %}';
  calendar.locales.week = '{% translate "Week" %}';
  calendar.locales.activities = '{% translate "Activities" %}{% translate ":" %}';
  calendar.locales.duration = '{% translate "Duration" %}{% translate ":" %}';
  calendar.locales.trimp = '{% translate "TRIMP" %}{% translate ":" %}';
  calendar.locales.days = ['{% translate "Monday" %}', '{% translate "Tuesday" %}', '{% translate "Wednesday" %}', '{% translate "Thursday" %}', '{% translate "Friday" %}', '{% translate "Saturday" %}', '{% translate "Sunday" %}'],
  calendar.locales.months = ['{% translate "january" %}', '{% translate "february" %}', '{% translate "march" %}', '{% translate "april" %}', '{% translate "may" %}', '{% translate "june" %}', '{% translate "july" %}', '{% translate "august" %}', '{% translate "september" %}', '{% translate "october" %}', '{% translate "november" %}', '{% translate "december" %}'],

  calendar.init(); // Locales have changed

  // Controls
  $('#calendar-controls').show();

  $('#btn_notes').change(function() {
    if ($(this).prop('checked')) {
      calendar.showNotes();
      localStorage.setItem('calendar-show-notes', '1');
    } else {
      calendar.hideNotes();
      localStorage.setItem('calendar-show-notes', '0');
    }
  });

  $('#btn_competitions').change(function() {
    if ($(this).prop('checked')) {
      calendar.showEventType('competition');
      localStorage.setItem('calendar-show-competitions', '1');
    } else {
      calendar.hideEventType('competition');
      localStorage.setItem('calendar-show-competitions', '0');
    }
  });

  // Hide or show notes and competitions (local storage)
  let storageShowNotes = localStorage.getItem('calendar-show-notes');
  if (storageShowNotes === '1') {
    calendar.showNotes();
    $('#btn_notes').prop('checked', true);
  } else if (storageShowNotes === '0') {
    calendar.hideNotes();
    $('#btn_notes').prop('checked', false);
  }

  let storageShowCompetitions = localStorage.getItem('calendar-show-competitions');
  if (storageShowCompetitions === '1') {
    calendar.showEventType('competition');
    $('#btn_competitions').prop('checked', true);
  } else if (storageShowCompetitions === '0') {
    calendar.hideEventType('competition');
    $('#btn_competitions').prop('checked', false);
  }
});
</script>
{% endblock %}
