{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load utils %}

{% block title %}{% translate 'Calendar' %} | {% endblock %}
{% block page_title %}{% translate 'Calendar' %}{% endblock %}

{% block page_title_buttons %}
<div>
  <a href="{% url 'create_activity' %}" class="btn btn-primary btn-sm">{% translate 'Create activity' %}</a>
  <a href="{% url 'import_activity' %}" class="btn btn-primary btn-sm">{% translate 'Import activity' %}</a>
  <a href="{% url 'add_note' %}" class="btn btn-primary btn-sm">{% translate 'Add note' %}</a>
</div>
{% endblock %}

{% block styles %}
<link href="{% static 'css/fullcalendar/core/main.css' %}" rel="stylesheet" />
<link href="{% static 'css/fullcalendar/daygrid/main.css' %}" rel="stylesheet" />
<link href="{% static 'css/fullcalendar/bootstrap/main.css' %}" rel="stylesheet" />

<style>
.fc-toolbar.fc-header-toolbar {
  padding-top: 0;
}
</style>
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <div id="calendar" style="height: 650px;"></div>
    <p><input type="button" class="btn btn-default btn-xs" value="{% translate 'Show notes' %}" id="btn_notes" style="display: none;" /></p>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% get_current_language as LANGUAGE %}
<script src="{% static 'js/fullcalendar/core/main.js' %}"></script>
<script src="{% static 'js/fullcalendar/core/locales/' %}{{ LANGUAGE }}.js"></script>
<script src="{% static 'js/fullcalendar/daygrid/main.js' %}"></script>
<script src="{% static 'js/fullcalendar/interaction/main.js' %}"></script>
<script src="{% static 'js/fullcalendar/bootstrap/main.js' %}"></script>

<script type="text/javascript">
$(function() {
  var weeks = {
    {% for year, weeks2 in weeks.items %}
      {{ year }}: {
        {% for week, wstats in weeks2.items %}
          {{ week }}: {
            'count': {{ wstats.count }},
            'duration': '{{ wstats.duration_txt }}',
            'trimp': {{ wstats.trimp }},
          },
        {% endfor %}
      },
    {% endfor %}
  };

  var notes  = [
    {% for note in notes %}
    {
      id: 'note-{{ note.id }}',
      type: 'note',
      title: '{{ note.title }}',
      start: '{{ note.date_start|date:"Y-m-d" }}T{{ note.date_start|date:"H:i:s" }}',
      {% if note.date_end %}end: '{{ note.date_end|date:"Y-m-d" }}T{{ note.date_end|date:"H:i:s" }}',{% endif %}
      url: '{% url "edit_note" note.id %}',
      color: '#d0d0d0',
      textColor: 'black',
    },
    {% endfor %}
  ];

  var calendarEl = document.getElementById('calendar');
  var calendar = new FullCalendar.Calendar(calendarEl, {
    plugins: ['bootstrap', 'dayGrid', 'interaction'],
    rerenderDelay: 1,
    themeSystem: 'bootstrap',
    height: 'parent',
    locale: 'fr',
    firstDay: 1,
    displayEventTime: false,
    eventLimit: 3,
    header: {
      left: 'prev,next prevYear,nextYear',
      center: 'title',
      right: 'today',
    },

    dateClick: function(info) {
      //alert('Clicked on: ' + info.dateStr);
      //info.dayEl.style.backgroundColor = 'red';
      //TODO: dialog
    },

    events: [
      {% for activity in activities %}
      {
        id: 'activity-{{ activity.id }}',
        type: 'activity',
        icon: '{{ activity.type|activity_icon }}',
        title: '{{ activity.type|activity_name }}{% if activity.duration %} ({{ activity.duration|duration }}){% endif %}',
        start: '{{ activity.date|date:"Y-m-d" }}T{{ activity.date|date:"H:i:s" }}',
        url: '{% url 'activity' activity.id %}',
        color: '{{ activity.type|activity_bgcolor }}',
        textColor : '{{ activity.type|activity_textcolor }}',
        duration: {% if activity.duration %}{{ activity.duration }}{% else %}null{% endif %},
        distance: {% if activity.distance %}{{ activity.distance }}{% else %}null{% endif %},
      },
      {% endfor %}
      {% for competition in competitions %}
      {
        id: 'competition-{{ competition.id }}',
        type: 'competition',
        title: '{{ competition.name }}',
        start: '{{ competition.date|date:"Y-m-d" }}T{{ competition.date|date:"H:i:s" }}',
        url: '{% url "competition" competition.id %}',
        color: '#708090',
      },
      {% endfor %}
    ],
    eventRender: function(info) {
      if (info.event.extendedProps.type == 'activity') {
        $(info.el).find('span.fc-title').prepend('<i class="fas fa-' + info.event.extendedProps.icon + '"></i> ');
      }
    },
    weekNumbers: true,
    weekLabel: '{% translate 'Week' %}',
    datesRender: function(info) {
      $('.fc-week-number').attr('style', 'width: 150px;');

      var year = calendar.getDate().getFullYear();
      var month = calendar.getDate().getMonth();

      var data = {};
      $('.fc-content-skeleton thead td.fc-week-number').each(function(i, el) {
        data[i] = parseInt($(el).text());
      });

      $('.fc-bg tbody td.fc-week-number').each(function(i, el) {
        var week = data[i];
        var week_year = year;

        if (month == 0 && week >= 52) {
          week_year--;  // this week belongs to previous year
        } else if (month == 11 && week <= 2) {
          week_year++;  // this week belongs to next year
        }

        if (weeks[week_year] === undefined || weeks[week_year][week] === undefined) {
          count = 0;
          duration = 0;
          trimp = 0;
        } else {
          count = weeks[week_year][week]['count'];
          duration = weeks[week_year][week]['duration'];
          trimp = weeks[week_year][week]['trimp'];
        }

        $(this).append('<div class="small">{% translate 'Activities:' %} ' + count + '</div>')
            .append('<div class="small">{% translate 'Duration:' %} ' + duration + '</div>')
            .append('<div class="small">{% translate 'TRIMP:' %} ' + trimp + '</div>');
      });
    },
  });

  calendar.render();

  var notesHidden = true;
  $('#btn_notes').show();
  $('#btn_notes').click(function() {
    if (notesHidden) {
      for (var i = 0; i < notes.length; ++i) {
        calendar.addEvent(notes[i]);
      }

      notesHidden = false;
      $('#btn_notes').val('{% translate "Hide notes" %}');
    } else {
      for (var i = 0; i < notes.length; ++i) {
        calendar.getEventById(notes[i].id).remove();
      }

      notesHidden = true;
      $('#btn_notes').val('{% translate "Show notes" %}');
    }
  });
});
</script>
{% endblock %}
