{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load tz %}

{% block title %}{% translate 'Files' %} | {% endblock %}
{% block page_title %}{% translate 'Files' %}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/datatables/datatables.css' %}" />
{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">
  {% if files %}
    <table class="table table-striped compact" id="files">
      <thead>
        <tr>
          <th>{% translate 'File name' %}</th>
          <th>{% translate 'File size' %}</th>
          <th>{% translate 'Compressed size' %}</th>
          <th>{% translate 'SHA1' %}</th>
          <th>{% translate 'Activity' %}</th>
          <th>{% translate 'Date' %}</th>
          <th>{% translate 'File size' %}</th>
          <th>{% translate 'Compressed size' %}</th>
        </tr>
      </thead>
      <tbody>
      {% for file in files %}
        <tr>
          <td>
            {% if file.downloadable %}
              <a href="{% url 'activity_download_file' file.activity.id file.filehash %}">{{ file.filename }}</a>
            {% else %}
              {{ file.filename }}
            {% endif %}
          </td>
          <td>{{ file.filesize|filesizeformat }}</td>
          <td>{% if file.downloadable %}{{ file.compressed_size|filesizeformat }}{% endif %}</td>
          <td>{{ file.filehash }}</td>
          <td><a href="{% url 'activity' file.activity.id %}">{{ file.activity.date_local }}</a></td>
          <td>{{ file.activity.date|utc|date:'Y-m-d H:i:s:u' }}</td>
          <td>{{ file.filesize }}</td>
          <td>{% if file.downloadable %}{{ file.compressed_size }}{% else %}0{% endif %}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>{% translate 'No files.' %}</p>
  {% endif %}
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/datatables/datatables.js' %}"></script>

<script type="text/javascript">
$(function() {
  var table = $('#files').DataTable({
    language: {
      url: '{% static 'js/datatables/i18n/fr_FR.json' %}',
    },
    stateSave: true,
    dom: 'Bfrtip',
    buttons: [
      'pageLength',
      {
        extend: 'colvis',
        columns: '1,2,3,4',
      },
    ],
    searching: true,
    responsive: true,
    ordering: true,
    order: [[ 0, 'asc' ]],
    paging: true,
    pageLength: 20,
    lengthMenu: [ [10, 20, 50, 100], [10, 20, 50, 100] ],
    columns: [
      null,
      { orderData: 6 },
      { orderData: 7 },
      { visible: false },
      { orderData: 5 },
      { visible: false },
      { visible: false },
      { visible: false },
    ],
  });
});
</script>
{% endblock %}
