{% extends 'base.html' %}
{% load i18n %}
{% load utils %}

{% block page_title %}{% translate 'Import activity' %}{% endblock %}

{% block page_title_buttons %}
<a href="{% url 'create_activity' %}" class="btn btn-primary btn-sm">{% translate 'Create activity' %}</a>
{% endblock %}

{% block content %}

<div class="card">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card-body">
      <p><label for="id_file">{% translate 'File:' %}</label> <input type="file" id="id_file" name="files" required="required" multiple="multiple" /></p>

      <div class="custom-control custom-switch">
        <input type="checkbox" name="force_timezone" id="id_force_timezone" class="custom-control-input"{% if user.force_timezone_import %} checked="checked"{% endif %} />
        <label for="id_force_timezone" class="custom-control-label">{% translate 'Force time zone' %} ({{ user.timezone }})</label>
      </div>
    </div>
    <div class="card-footer text-center">
      <input type="submit" class="btn btn-primary" value="{% translate 'Import' %}" />
    </div>
  </form>
</div>

{% if activities %}
<div class="card">
  <div class="card-header">{% translate 'Activities' %}</div>
  <div class="card-body">
    <table class="table table-bordered table-striped table-sm">
      <thead>
        <tr>
          <th>{% translate 'Date' %}</th>
          <th>{% translate 'Type' %}</th>
          <th>{% translate 'Duration' %}</th>
          <th>{% translate 'Distance' %}</th>
        </tr>
      </thead>
      <tbody>
      {% for activity in activities %}
        <tr>
          <td><a href="{% url 'activity' activity.id %}">{{ activity.date }}</a></td>
          <td>{{ activity.type|activity_name }}</td>
          <td>{{ activity.duration|duration }}</td>
          <td>{{ activity.distance|distance }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}

{% if errors %}
<div class="card">
  <div class="card-header">{% translate 'Errors' %}</div>
  <div class="card-body">
    <ul>
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

{% endblock %}
