{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load utils %}

{% block title %}{% translate 'Map' %} | {% endblock %}
{% block page_title %}{% translate 'Map' %}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/leaflet/leaflet.css' %}" />
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <div id="map" style="height: 600px;"></div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/leaflet/leaflet.js' %}"></script>

<script type="text/javascript">
$(function() {
  var lat = 48.852969;
  var lon = 2.349903;
  var map = null;

  function initMap() {
    map = L.map('map').setView([lat, lon], 11);

    L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
      attribution: '{% translate '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors' %}',
      minZoom: 1,
      maxZoom: 20
    }).addTo(map);

    L.control.scale().addTo(map);

    var bounds = L.latLngBounds();

    {% for activity in activities %}
    var track{{ forloop.counter }} = L.polyline([
      {% for point in activity.trackfile.points %}{% if point.latitude and point.longitude %}[{{ point.latitude|stringformat:"f" }}, {{ point.longitude|stringformat:"f" }}], {% endif %}{% endfor %}
    ], {color: 'red'}).addTo(map);
    bounds.extend(track{{ forloop.counter }}.getBounds());
    {% endfor %}

    if (bounds.isValid()) {
      map.fitBounds(bounds);
    }
  }

  initMap();
});
</script>
{% endblock %}
