{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% translate 'Notes' %} | {% endblock %}
{% block page_title %}{% translate 'Notes' %}{% endblock %}

{% block page_title_buttons %}
<div>
  <a href="{% url 'add_note' %}" class="btn btn-primary btn-sm">{% translate 'Add note' %}</a>
</div>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/datatables/datatables.css' %}" />
{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">
    <table class="table table-striped compact" id="notes">
      <thead>
        <tr>
          <th>{% translate 'Title' %}</th>
          <th>{% translate 'Start date' %}</th>
          <th>{% translate 'End date' %}</th>
          <th>{% translate 'Actions' %}</th>
          <th>{% translate 'Start date' %}</th>
          <th>{% translate 'End date' %}</th>
        </tr>
      </thead>
      <tbody>
      {% for note in notes %}
        <tr>
          <td>{{ note.title }}</td>
          <td>{% if note.date_start %}{{ note.date_start }}{% endif %}</td>
          <td>{% if note.date_end %}{{ note.date_end }}{% endif %}</td>
          <td><a href="{% url 'edit_note' note.id %}" class="btn btn-xs btn-warning">{% translate 'Edit' %}</a> <a href="{% url 'remove_note' note.id %}" class="btn btn-xs btn-danger">{% translate 'Remove' %}</a></td>
          <td>{% if note.date_start %}{{ note.date_start|date:"Y-m-d" }}T{{ note.date_start|date:"H:i:s" }}{% endif %}</td>
          <td>{% if note.date_end %}{{ note.date_end|date:"Y-m-d" }}T{{ note.date_end|date:"H:i:s" }}{% endif %}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/datatables/datatables.js' %}"></script>

<script type="text/javascript">
$(function() {
  var table = $('#notes').DataTable({
    language: {
      url: '{% static 'js/datatables/i18n/fr_FR.json' %}',
    },
    stateSave: true,
    dom: 'Bfrtip',
    buttons: [
      'pageLength',
      {
        extend: 'colvis',
        columns: '2',
      },
    ],
    searching: true,
    responsive: true,
    ordering: true,
    order: [[ 1, 'desc' ]],
    paging: true,
    pageLength: 50,
    lengthMenu: [ [10, 20, 50, 100], [10, 20, 50, 100] ],
    columns: [
      null,
      { orderData: 4 },
      { orderData: 5 },
      { orderable: false },
      { visible: false },
      { visible: false },
    ],
  });
});
</script>
{% endblock %}
