{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load utils %}

{% block title %}{% translate 'Progression' %} | {% endblock %}
{% block page_title %}{% translate 'Progression' %}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker/bootstrap-datepicker3.standalone.css' %}" />
{% endblock %}

{% block content %}

<p>
  <label for="select_year">{% translate 'Year:' %}</label> <select id="select_year">
  {% for year in years %}
  <option value="{{ year }}"{% if year == current_year %} selected="selected"{% endif %}>{{ year }}</option>
  {% endfor %}
  </select>
  <span style="width: 1em; display: inline-block;"></span>

  <span id="date_range">
    <label>Entre</label>
    <input type="text" name="date_min" id="date_min" class="actual_range" value="01/01/{{ current_year }}" />
    <label>et</label>
    <input type="text" name="date_max" id="date_max" class="actual_range" value="31/12/{{ current_year }}" />
  </span>

  <span style="width: 1em; display: inline-block;"></span>
  <label for="select_type">{% translate 'Activity type:' %}</label> <select id="select_type">
  <option value="All" selected="selected">{% translate 'All activities' %}</option>
  {% for type, activity_scores in scores.items %}
    {% if type != 'All' %}
      <option value="{{ type }}">{{ type|activity_name }}</option>
    {% endif %}
  {% endfor %}
  </select>
</p>

<div class="card">
  <div class="card-header">{% translate 'Progression' %}</div>
  <div class="card-body">
    <div id="chart" style="height: 500px;"></div>
  </div>
</div>

<a href="{% url 'threshold' %}">{% translate 'Threshold' %}</a>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/canvasjs/jquery.canvasjs.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker/locales/bootstrap-datepicker.fr.min.js' %}"></script>

<script type="text/javascript">
$(function() {
  var chart = null;
  var type = 'All';

  var scores = {
    {% for type, activity_scores in scores.items %}
      '{{ type }}': {
        {% if with_tss %}
        'tss': [{% for date, score in activity_scores.items %}{ x: new Date({{ date.year }}, {{ date.month|add:-1 }}, {{ date.day }}), y: {{ score.tss }} }, {% endfor %}],
        {% else %}
        'trimp': [{% for date, score in activity_scores.items %}{ x: new Date({{ date.year }}, {{ date.month|add:-1 }}, {{ date.day }}), y: {{ score.trimp }} }, {% endfor %}],
        {% endif %}
        'fitness': [{% for date, score in activity_scores.items %}{ x: new Date({{ date.year }}, {{ date.month|add:-1 }}, {{ date.day }}), y: {{ score.fitness|stringformat:"f" }} }, {% endfor %}],
        'fatigue': [{% for date, score in activity_scores.items %}{ x: new Date({{ date.year }}, {{ date.month|add:-1 }}, {{ date.day }}), y: {{ score.fatigue|stringformat:"f" }} }, {% endfor %}],
        'form': [{% for date, score in activity_scores.items %}{ x: new Date({{ date.year }}, {{ date.month|add:-1 }}, {{ date.day }}), y: {{ score.form|stringformat:"f" }} }, {% endfor %}],
        {% if type == 'Running' %}
        'level': [{% for date, score in activity_scores.items %}{% if score.level %}{ x: new Date({{ date.year }}, {{ date.month|add:-1 }}, {{ date.day }}), y: {{ score.level|stringformat:"f" }} }, {% endif %}{% endfor %}],
        {% endif %}
      },
    {% endfor %}
  };

  function toggleDataSeries(e) {
    if (typeof(e.dataSeries.visible) === 'undefined' || e.dataSeries.visible) {
      numVisible = 0
      for (i = 0; i < chart.options.data.length; ++i) {
        if ((chart.options.data[i].visible === undefined || chart.options.data[i].visible) && (chart.options.data[i].dataPoints !== undefined && chart.options.data[i].dataPoints.length > 0)) {
          numVisible++;
        }
      }
      if (numVisible > 1) {
        e.dataSeries.visible = false;
      }
    } else {
      e.dataSeries.visible = true;
    }
    chart.render();
  }

  chart = new CanvasJS.Chart('chart', {
    theme: 'light1',
    animationEnabled: false,
    zoomEnabled: true,
    toolTip: {
      shared: 'true',
    },
    legend: {
      cursor: 'pointer',
      itemclick : toggleDataSeries,
    },
    exportEnabled: true,
    axisX: {
      interval: 1,
      intervalType: 'month',
      gridThickness: 1,
      gridColor: '#AAAAAA',
      viewportMinimum: new Date({{ current_year }}, 0, 1),
      viewportMaximum: new Date({{ current_year }}, 11, 31),
      maximum: new Date({{ current_year }} + 1, 11, 31),
      stripLines: [{
        color: '#e5e5e5',
        startValue: new Date(),
        endValue: new Date({{ current_year }} + 1, 11, 31),
      }],
    },
    axisY: [
      {
        title: "{% translate 'Fitness' %} / {% translate 'Fatigue' %}",
        gridThickness: 1,
        gridColor: '#AAAAAA',
      },
      {
        title: '{% translate 'Form' %}',
      },
    ],
    axisY2: [
      {
        title: '{% if with_tss %}{% translate 'TSS' %}{% else %}{% translate 'TRIMP' %}{% endif %}',
      },
      {
        title: '{% translate 'Level' %}',
        minimum: 0,
        maximum: 100,
      },
    ],
    data: [
      {
        name: '{% if with_tss %}{% translate 'TSS' %}{% else %}{% translate 'TRIMP' %}{% endif %}',
        showInLegend: true,
        visible: false,
        type: 'scatter',
        axisYType: 'secondary',
        axisYIndex: 0,
        dataPoints: scores['All']['{% if with_tss %}tss{% else %}trimp{% endif %}'],
      },
      {
        name: '{% translate 'Fitness' %}',
        showInLegend: true,
        type: 'area',
        axisYIndex: 0,
        lineThickness: 1,
        fillOpacity: 0.25,
        yValueFormatString: '#0.',
        dataPoints: scores['All']['fitness'],
      },
      {
        name: '{% translate 'Fatigue' %}',
        showInLegend: true,
        visible: false,
        type: 'line',
        axisYIndex: 0,
        lineThickness: 1,
        yValueFormatString: '#0.',
        dataPoints: scores['All']['fatigue'],
      },
      {
        name: '{% translate 'Form' %}',
        showInLegend: true,
        visible: false,
        type: 'line',
        axisYIndex: 1,
        lineThickness: 1,
        yValueFormatString: '#0.',
        dataPoints: scores['All']['form'],
      },
      {
        name: '{% translate 'Level' %}',
        showInLegend: true,
        type: 'scatter',
        axisYType: 'secondary',
        axisYIndex: 1,
        lineThickness: 1,
        yValueFormatString: '#0.',
        dataPoints: scores['All']['level'],
      },
    ],
  });

  var selectUpdating = false;

  $('#date_range').datepicker({
    inputs: $('.actual_range'),
    autoclose: true,
    todayHighlight: true,
    calendarWeeks: true,
    maxViewMode: 3,
    language: 'fr',
    format: 'dd/mm/yyyy',
  }).on('changeDate', function(e) {
    if (!selectUpdating) {
      $('#select_year').val(null);
    }

    chart.options.axisX.viewportMinimum = $('#date_min').datepicker('getDate');
    chart.options.axisX.viewportMaximum = $('#date_max').datepicker('getDate');
    chart.render();
  });

  $('#select_year').change(function(e) {
    selectUpdating = true;
    var year = e.target.value;

    $('#date_min').datepicker('setDate', new Date(year, 0, 1))
    $('#date_max').datepicker('setDate', new Date(year, 11, 31))

    selectUpdating = false;
  });

  chart.render();

  $('#select_type').val('All');
  $('#select_type').change(function(e) {
    type = e.target.value;

    chart.options.data[0].dataPoints = scores[type]['{% if with_tss %}tss{% else %}trimp{% endif %}'];
    chart.options.data[1].dataPoints = scores[type]['fitness'];
    chart.options.data[2].dataPoints = scores[type]['fatigue'];
    chart.options.data[3].dataPoints = scores[type]['form'];
    chart.options.data[4].dataPoints = scores[type]['level'];

    numVisible = 0
    for (i = 0; i < chart.options.data.length; ++i) {
      if ((chart.options.data[i].visible === undefined || chart.options.data[i].visible) && (chart.options.data[i].dataPoints !== undefined && chart.options.data[i].dataPoints.length > 0)) {
        numVisible++;
      }
    }

    if (numVisible == 0) {
      chart.options.data[1].visible = true;
    }

    chart.render();
  });
});
</script>
{% endblock %}
