{% extends 'base.html' %}
{% load i18n %}
{% load utils %}
{% load static %}

{% block title %}{% translate 'Evolution of record' %} | {% endblock %}
{% block page_title %}{% translate 'Evolution of record' %}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/datatables/datatables.css' %}" />
{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">
    <dl class="dl-horizontal">
      <dt>{% translate 'Sport' %}{% translate ':' %}</dt><dd>{% translate sport %}</dd>
      <dt>{% if type == 'distance' %}{% translate 'Distance' %}{% translate ':'%}{% else %}{% translate 'Duration' %}{% translate ':'%}{% endif %}</dt>
      <dd>{% if type == 'distance' %}{{ distance|distance_record }}{% else %}{{ duration|duration }}{% endif %}</dd>
    </dl>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div id="chart" style="height: 300px;"></div>
  </div>
</div>

{% if records %}
<div class="card">
  <div class="card-body">
    <table class="table table-striped compact" id="records">
      <thead>
        <tr>
          <th>{% translate 'Date' %}</th>
          {% if type == 'distance' %}
          <th>{% translate 'Duration' %}</th>
          <th>{% translate 'Duration' %}</th>
          {% elif type == 'duration' %}
          <th>{% translate 'Distance' %}</th>
          <th>{% translate 'Distance' %}</th>
          {% elif type == 'power' %}
          <th>{% translate 'Power' %}</th>
          <th>{% translate 'Power' %}</th>
          {% endif %}
          <th>{% translate 'Date' %}</th>
        </tr>
      </thead>
      <tbody>
      {% for record in records %}
        <tr>
          <td>{% if record.improved %}<strong>{% endif %}<a href="{% url 'activity' record.activity.id %}">{{ record.activity.date }}</a>{% if record.improved %}</strong>{% endif %}</td>
          {% if type == 'distance' %}
          <td>{% if record.improved %}<strong>{% endif %}{{ record.duration|duration }}{% if record.improved %}</strong>{% endif %}</td>
          <td>{{ record.duration }}</td>
          {% elif type == 'duration' %}
          <td>{% if record.improved %}<strong>{% endif %}{{ record.distance|distance }}{% if record.improved %}</strong>{% endif %}</td>
          <td>{{ record.distance }}</td>
          {% elif type == 'power' %}
          <td>{% if record.improved %}<strong>{% endif %}{{ record.power }}&nbsp;W{% if record.improved %}</strong>{% endif %}</td>
          <td>{{ record.power }}</td>
          {% endif %}
          <td>{{ record.activity.date|date:"Y-m-d H:i:s:u" }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
<script src="{% static 'js/canvasjs/jquery.canvasjs.min.js' %}"></script>
<script src="{% static 'js/datatables/datatables.js' %}"></script>

<script type="text/javascript">
$(function() {
  var chart = null;

  function convertTime(d) {
    d /= 1000;
    var hours   = Math.floor(d / 3600);
    var minutes = Math.floor((d - (hours * 3600)) / 60);
    var seconds = d - (hours * 3600) - (minutes * 60);

    if (hours   < 10) {hours   = "0"+hours;}
    if (minutes < 10) {minutes = "0"+minutes;}
    if (seconds < 10) {seconds = "0"+seconds;}
    return hours + ':' + minutes + ':' + seconds;
  }

  chart = new CanvasJS.Chart("chart", {
    theme: 'light2',
    animationEnabled: true,
    exportEnabled: true,
    axisY: {
      includeZero: false,
      {% if type == 'distance' %}
            labelFormatter: function(e) {
                return convertTime(e.value);
            },
            {% elif type == 'duration' %}
            suffix: ' m',
            {% endif %}
    },
    toolTip: {
      shared: true,
    },
    data: [
      {
        type: 'stepArea',
        toolTipContent: null,
        markerType: 'none',
        dataPoints: [
        {% if type == 'distance' %}
          {% for record in records_improve %}{x: new Date({{ record.activity.date.year }}, {{ record.activity.date.month|add:-1 }}, {{ record.activity.date.day }}), y: {{ record.duration }}}, {% endfor %}
        {% elif type == 'duration' %}
          {% for record in records_improve %}{x: new Date({{ record.activity.date.year }}, {{ record.activity.date.month|add:-1 }}, {{ record.activity.date.day }}), y: {{ record.distance }}}, {% endfor %}
        {% elif type == 'power' %}
          {% for record in records_improve %}{x: new Date({{ record.activity.date.year }}, {{ record.activity.date.month|add:-1 }}, {{ record.activity.date.day }}), y: {{ record.power }}}, {% endfor %}
        {% endif %}
        ],
      },
      {
        type: 'scatter',
        toolTipContent: null,
        dataPoints: [
        {% if type == 'distance' %}
          {% for record in records %}{x: new Date({{ record.activity.date.year }}, {{ record.activity.date.month|add:-1 }}, {{ record.activity.date.day }}), y: {{ record.duration }}}, {% endfor %}
        {% elif type == 'duration' %}
          {% for record in records %}{x: new Date({{ record.activity.date.year }}, {{ record.activity.date.month|add:-1 }}, {{ record.activity.date.day }}), y: {{ record.distance }}}, {% endfor %}
        {% elif type == 'power' %}
          {% for record in records %}{x: new Date({{ record.activity.date.year }}, {{ record.activity.date.month|add:-1 }}, {{ record.activity.date.day }}), y: {{ record.power }}}, {% endfor %}
        {% endif %}
        ],
      },
      {
        {% if type == 'distance' %}
          name: '{% translate 'Duration' %}',
        {% elif type == 'duration' %}
          name: '{% translate 'Distance' %}',
          yValueFormatString: "#0,.000&nbsp;km",
        {% elif type == 'power' %}
          name: '{% translate 'Power' %}',
          yValueFormatString: "#0&nbsp;W",
        {% endif %}
        visible: false,
        type: 'line',
        dataPoints: [
        {% if type == 'distance' %}
          {% for record in records %}{x: new Date({{ record.activity.date.year }}, {{ record.activity.date.month|add:-1 }}, {{ record.activity.date.day }}), y: '{{ record.duration_txt }}'}, {% endfor %}
        {% elif type == 'duration' %}
          {% for record in records %}{x: new Date({{ record.activity.date.year }}, {{ record.activity.date.month|add:-1 }}, {{ record.activity.date.day }}), y: '{{ record.distance }}'}, {% endfor %}
        {% elif type == 'power' %}
          {% for record in records %}{x: new Date({{ record.activity.date.year }}, {{ record.activity.date.month|add:-1 }}, {{ record.activity.date.day }}), y: '{{ record.power }}'}, {% endfor %}
        {% endif %}
        ],
      },
    ],
  });

  var table = $('#records').DataTable({
    language: {
      url: '{% static 'js/datatables/i18n/fr_FR.json' %}',
    },
    stateSave: false,
    dom: 'Bfrtip',
    buttons: [
      'pageLength',
    ],
    searching: false,
    responsive: true,
    ordering: true,
    order: [[ 0, 'desc' ]],
    paging: true,
    pageLength: 20,
    lengthMenu: [ [10, 20, 50, 100], [10, 20, 50, 100] ],
    columns: [
      { orderData: 3 },
      { orderData: 2 },
      { visible: false },
      { visible: false },
    ],
  });


  chart.render();
});
</script>
{% endblock %}
