{% extends 'base.html' %}
{% load i18n %}
{% load utils %}
{% load static %}

{% block title %}{% translate 'Best performances' %} | {% endblock %}
{% block page_title %}{% translate 'Best performances' %}{% endblock %}

{% block content %}

<div class="card card-primary card-outline card-tabs">
  <div class="card-header p-0 pt-1 border-bottom-0">
    <ul class="nav nav-tabs" role="tablist">
      {% for sport, sport_records in records.items %}
      <li class="nav-item"><a class="nav-link{% if forloop.counter == 1 %} active{% endif %}" data-toggle="pill" href="#tab-{{ sport }}" role="tab"><i class="fas fa-{{ sport|activity_icon }}"></i> {{ sport|activity_name }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="card-body">
    <div class="tab-content">
      {% for sport, sport_records in records.items %}
      <div class="tab-pane fade{% if forloop.counter == 1 %} show active{% endif %}" role="tabpanel" id="tab-{{ sport }}">
        {% if not sport_records.distance and not sport_records.duration and not sport_records.power and not sport_records.max_distance and not sport_records.max_duration %}
        <p>{% translate 'No best performance yet...' %}</p>
        {% else %}
        <div class="row">

          <div class="col-xl-5 col-lg-6 col-md-8">

            {% if sport_records.distance %}
            <table class="table table-bordered table-striped table-sm m-2">
              <thead>
                <tr>
                  <th>{% translate 'Distance' %}</th>
                  <th>{% translate 'Time' %}</th>
                  <th>{% translate 'Date' %}</th>
                </tr>
              </thead>
              <tbody>
                {% for record in sport_records.distance.values %}
                  {% if record.activity %}
                    <tr>
                      <td><a href="{% url 'record_evolution' %}?type=distance&sport={{ sport }}&distance={{ record.distance }}">{{ record.distance|distance_record }}</a></td>
                      <td>{{ record.time|duration }}</td>
                      <td>{% if record.activity_id %}<a href="{% url 'activity' record.activity.id %}">{{ record.activity.date|date:'d/m/Y H:i:s' }}</a>{% endif %}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
            {% endif %}

            {% if sport_records.duration %}
            <table class="table table-bordered table-striped table-sm m-2">
              <thead>
                <tr>
                  <th>{% translate 'Duration' %}</th>
                  <th>{% translate 'Distance' %}</th>
                  <th>{% translate 'Date' %}</th>
                </tr>
              </thead>
              <tbody>
                {% for record in sport_records.duration.values %}
                  {% if record.activity %}
                    <tr>
                      <td><a href="{% url 'record_evolution' %}?type=duration&sport={{ sport }}&duration={{ record.duration }}">{{ record.duration|duration }}</a></td>
                      <td>{{ record.distance|distance_record }}</td>
                      <td>{% if record.activity_id %}<a href="{% url 'activity' record.activity.id %}">{{ record.activity.date|date:'d/m/Y H:i:s' }}</a>{% endif %}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
            {% endif %}

            {% if sport_records.power %}
            <table class="table table-bordered table-striped table-sm m-2">
              <thead>
                <tr>
                  <th>{% translate 'Duration' %}</th>
                  <th>{% translate 'Power' %}</th>
                  <th>{% translate 'Date' %}</th>
                </tr>
              </thead>
              <tbody>
                {% for record in sport_records.power.values %}
                  {% if record.activity %}
                    <tr>
                      <td><a href="{% url 'record_evolution' %}?type=power&sport={{ sport }}&duration={{ record.duration }}">{{ record.duration|duration }}</a></td>
                      <td>{{ record.power|floatformat }}&nbsp;W</td>
                      <td>{% if record.activity_id %}<a href="{% url 'activity' record.activity.id %}">{{ record.activity.date|date:'d/m/Y H:i:s' }}</a>{% endif %}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
            {% endif %}

            {% if sport_records.max_distance or sport_records.max_duration %}
            <table class="table table-bordered table-striped table-sm m-2">
              <thead>
                <tr>
                  <th>{% translate 'Performance' %}</th>
                  <th>{% translate 'Record' %}</th>
                  <th>{% translate 'Date' %}</th>
                </tr>
              </thead>
              <tbody>
                {% if sport_records.max_distance %}
                <tr>
                  <td>{% translate 'Maximum distance' %}</td>
                  <td>{{ sport_records.max_distance.distance|distance }}</td>
                  <td>{% if sport_records.max_distance.activity %}<a href="{% url 'activity' sport_records.max_distance.activity.id %}">{{ sport_records.max_distance.activity.date|date:'d/m/Y H:i:s' }}</a>{% endif %}</td>
                </tr>
                {% endif %}

                {% if sport_records.max_duration %}
                <tr>
                  <td>{% translate 'Maximum duration' %}</td>
                  <td>{{ sport_records.max_duration.duration|duration }}</td>
                  <td>{% if sport_records.max_duration.activity %}<a href="{% url 'activity' sport_records.max_duration.activity.id %}">{{ sport_records.max_duration.activity.date|date:'d/m/Y H:i:s' }}</a>{% endif %}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
            {% endif %}

          </div>

          <div class="col-xl-7 col-lg-6 col-md-4">
            {% if sport_records.distance %}
              <div id="chart_{{ sport }}_distance" style="height: 400px;"></div>
            {% endif %}
            {% if sport_records.power %}
              <div id="chart_{{ sport }}_power" style="height: 400px;"></div>
            {% endif %}
          </div>

        </div>

        {% if sport == 'Running' %}
          {% if previsions %}
          <h3>{% translate 'Forecast' %}</h3>
          <table class="table table-bordered table-striped table-sm m-2">
          <thead>
            <tr>
              <th>{% translate 'Distance' %}</th>
              {% for d1 in previsions.best %}
              <th>{{ d1 }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
          {% for d1, p in previsions.items %}
            {% if d1 != 'best' and d1 != 'factor' %}
            <tr>
              <th>{{ d1|distance_record }}</th>
              {% for d2, t2 in p.items %}
              <td>{% if d1 == d2 %}<u>{% endif %}{{ t2|duration }}{% if d1 == d2 %}</u>{% endif %}</td>
              {% endfor %}
            </tr>
            {% endif %}
          {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th>{% translate 'Best' %}</th>
              {% for t2, done in previsions.best.values %}
              <th>{% if done %}<u>{% endif %}{{ t2|duration }}{% if done %}</u>{% endif %}</th>
              {% endfor %}
            </tr>
            <tr>
              <th>{% translate 'Factor' %}</th>
              {% for f in previsions.factor.values %}
              <th>{{ f }}&nbsp;%</th>
              {% endfor %}
            </tr>
          </tfoot>
          </table>
          {% endif %}
        {% endif %}

        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/canvasjs/jquery.canvasjs.min.js' %}"></script>

<script type="text/javascript">
$(function() {

  {% for sport, sport_records in records.items %}
    {% if sport_records.distance %}
      var chart_{{ sport }}_distance = new CanvasJS.Chart("chart_{{ sport }}_distance", {
        title: {
          text: "Distance",
        },
        axisX: {
          suffix: " km",
          valueFormatString: "0,.0",
          includeZero: true,
        },
        axisY: {
          suffix: " s",
          valueFormatString: "0,.",
          includeZero: true,
          stripLines: [
            {
              value: 3600000,
              label : "Threashold",
            },
          ],
        },
        data: [
          {
            type: "line",
            xValueFormatString: "0,.0 km",
            yValueFormatString: "0,.0 s",
            dataPoints: [
              {% for record in sport_records.distance.values %}
                { x: {{ record.distance|stringformat:"f" }}, y: {{ record.time|stringformat:"f" }} },
              {% endfor %}
              {% for record in sport_records.duration.values %}
                { x: {{ record.distance|stringformat:"f" }}, y: {{ record.duration|stringformat:"f" }} },
              {% endfor %}
            ].sort(function(a, b) { return a.y - b.y; }),
          }
        ]
      });

      chart_{{ sport }}_distance.render();
    {% endif %}

    {% if sport_records.power %}
      var chart_{{ sport }}_power = new CanvasJS.Chart("chart_{{ sport }}_power", {
        title: {
          text: "Power",
        },
        axisX: {
          suffix: " s",
          valueFormatString: "0,.",
          logarithmic: true,
          includeZero: true,
          stripLines: [
            {
              value: 3600000,
              label : "Threashold",
            },
          ],
        },
        axisY: {
          suffix: " W",
          includeZero: true,
        },
        data: [
          {
            type: "line",
            xValueFormatString: "0,.0 s",
            yValueFormatString: "0.0 W",
            dataPoints: [
              {% for record in sport_records.power.values %}
                { x: {{ record.duration }}, y: {{ record.power|stringformat:"f" }} },
              {% endfor %}
            ]
          }
        ]
      });

      chart_{{ sport }}_power.render();
    {% endif %}
  {% endfor %}

});
</script>
{% endblock %}
