{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load utils %}

{% block title %}{% translate 'Statistics' %} | {% endblock %}
{% block page_title %}{% translate 'Statistics' %}{% endblock %}

{% block content %}

<p>
  <label for="select_type">{% translate 'Display:' %}</label>
  <select id="select_type">
    <option value="count" selected="selected">{% translate 'Number of activities' %}</option>
    <option value="duration">{% translate 'Total duration' %}</option>
    <option value="distance">{% translate 'Total distance' %}</option>
    <option value="trimp">{% translate 'Total TRIMP' %}</option>
    <option value="duration_avg">{% translate 'Average duration' %}</option>
    <option value="distance_avg">{% translate 'Average distance' %}</option>
    <option value="cadence_avg">{% translate 'Average cadence' %}</option>
    <option value="heartrate_avg">{% translate 'Average heart rate' %}</option>
  </select>
  <label for="select_year" style="margin-left: 1em;">{% translate 'Year:' %}</label>
  <select id="select_year">
  {% for year in years %}
    <option value="{{ year }}"{% if year == current_year %} selected="selected"{% endif %}>{{ year }}</option>
  {% endfor %}
  </select>
</p>

<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">{% translate 'Activities by month' %}<span id="month_year"> ({{ current_year }})</span></div>
      <div class="card-body" style="padding: 0.5rem;">
        <div id="chart_months" style="height: 300px;"></div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">{% translate 'Activities by year' %}</div>
      <div class="card-body" style="padding: 0.5rem;">
        <div id="chart_years" style="height: 300px;"></div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">{% translate 'Activities by week' %}<span id="week_year"> ({{ current_year }})</span></div>
  <div class="card-body" style="padding: 0.5rem;">
    <div id="chart_weeks" style="height: 280px;"></div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/canvasjs/jquery.canvasjs.min.js' %}"></script>

<script type="text/javascript">
$(function() {
  var chart_months = null;
  var chart_years = null;
  var chart_weeks = null;
  var year = {{ current_year }};
  var type = 'count';

  var activities_month = {
    {% for sport, act_type in activities_month.items %}
      '{{ sport }}': {
        {% for type, act_year in act_type.items %}
          '{{ type }}': {
            {% for year, act_month in act_year.items %}
              {{ year }}: [
                {% if type == 'distance' or type == 'distance_avg' %}
                  { label: '{% translate 'January' %}', y: {{ act_month.0|stringformat:"f" }} },
                  { label: '{% translate 'February' %}', y: {{ act_month.1|stringformat:"f" }} },
                  { label: '{% translate 'March' %}', y: {{ act_month.2|stringformat:"f" }} },
                  { label: '{% translate 'April' %}', y: {{ act_month.3|stringformat:"f" }} },
                  { label: '{% translate 'May' %}', y: {{ act_month.4|stringformat:"f" }} },
                  { label: '{% translate 'June' %}', y: {{ act_month.5|stringformat:"f" }} },
                  { label: '{% translate 'July' %}', y: {{ act_month.6|stringformat:"f" }} },
                  { label: '{% translate 'August' %}', y: {{ act_month.7|stringformat:"f" }} },
                  { label: '{% translate 'September' %}', y: {{ act_month.8|stringformat:"f" }} },
                  { label: '{% translate 'October' %}', y: {{ act_month.9|stringformat:"f" }} },
                  { label: '{% translate 'November' %}', y: {{ act_month.10|stringformat:"f" }} },
                  { label: '{% translate 'December' %}', y: {{ act_month.11|stringformat:"f" }} },
                {% else %}
                  { label: '{% translate 'January' %}', y: {{ act_month.0 }} },
                  { label: '{% translate 'February' %}', y: {{ act_month.1 }} },
                  { label: '{% translate 'March' %}', y: {{ act_month.2 }} },
                  { label: '{% translate 'April' %}', y: {{ act_month.3 }} },
                  { label: '{% translate 'May' %}', y: {{ act_month.4 }} },
                  { label: '{% translate 'June' %}', y: {{ act_month.5 }} },
                  { label: '{% translate 'July' %}', y: {{ act_month.6 }} },
                  { label: '{% translate 'August' %}', y: {{ act_month.7 }} },
                  { label: '{% translate 'September' %}', y: {{ act_month.8 }} },
                  { label: '{% translate 'October' %}', y: {{ act_month.9 }} },
                  { label: '{% translate 'November' %}', y: {{ act_month.10 }} },
                  { label: '{% translate 'December' %}', y: {{ act_month.11 }} },
                {% endif %}
              ],
            {% endfor %}
          },
        {% endfor %}
      },
    {% endfor %}
  };

  var activities_year = {
    {% for sport, act_type in activities_year.items %}
      '{{ sport }}': {
        {% for type, act_year in act_type.items %}
          '{{ type }}': [
            {% for year, stats in act_year.items %}
              {% if type == 'distance' or type == 'distance_avg' %}
                {label: '{{ year }}', y: {{ stats|stringformat:"f" }}},
              {% else %}
                {label: '{{ year }}', y: {{ stats }}},
              {% endif %}
            {% endfor %}
          ],
        {% endfor %}
      },
    {% endfor %}
  };

  var activities_week = {
    {% for sport, act_type in activities_week.items %}
      '{{ sport }}': {
        {% for type, act_year in act_type.items %}
          '{{ type }}': {
            {% for year, act_week in act_year.items %}
              {{ year }}: [
                {% for week, stats in act_week.items %}
                  {% if type == 'distance' or type == 'distance_avg' %}
                    {label: '{{ week }}', y: {{ stats|stringformat:"f" }}},
                  {% else %}
                    {label: '{{ week }}', y: {{ stats }}},
                  {% endif %}
                {% endfor %}
              ],
            {% endfor %}
          },
        {% endfor %}
      },
    {% endfor %}
  };

  function toggleDataSeries(e) {
    if (typeof(e.dataSeries.visible) === 'undefined' || e.dataSeries.visible ){
      e.dataSeries.visible = false;
    } else {
      e.dataSeries.visible = true;
    }
  }

  function toggleDataSeries_months(e) {
    toggleDataSeries(e);
    chart_months.render();
  }

  function toggleDataSeries_years(e) {
    toggleDataSeries(e);
    chart_years.render();
  }

  function toggleDataSeries_weeks(e) {
    toggleDataSeries(e);
    chart_weeks.render();
  }

  chart_months = new CanvasJS.Chart("chart_months", {
    animationEnabled: true,
    exportEnabled: true,
    toolTip: {
      shared: true,
    },
    axisX: {
      interval: 1,
      intervalType: "month",
    },
    axisY: {},
    legend: {
      cursor: "pointer",
      itemclick : toggleDataSeries_months,
    },
    data: [
      {
        visible: true,
        showInLegend: false,
        name: '{% translate 'Total' %}',
        yValueFormatString: "#0 activités",
        dataPoints: activities_month['All'][type][year],
      },
      {% for sport in activities_month %}
       {% if sport != 'All' %}
        {
          type: 'stackedColumn',
          name: '{{ sport|activity_name }}',
          color: '{{ sport|activity_bgcolor }}',
          showInLegend: true,
          yValueFormatString: "#0 activités",
          dataPoints: activities_month['{{ sport }}'][type][year],
        },
       {% endif %}
      {% endfor %}
    ],
  });

  chart_weeks = new CanvasJS.Chart("chart_weeks", {
    animationEnabled: true,
    exportEnabled: true,
    toolTip: {
      shared: true,
    },
    axisX: {
      interval: 1,
      intervalType: "week",
    },
    axisY: {},
    legend: {
      cursor: "pointer",
      itemclick : toggleDataSeries_weeks,
    },
    data: [
      {
        visible: true,
        showInLegend: false,
        name: '{% translate 'Total' %}',
        yValueFormatString: "#0 activités",
        dataPoints: activities_week['All'][type][year],
      },
      {% for sport in activities_week %}
       {% if sport != 'All' %}
        {
          type: 'stackedColumn',
          name: '{{ sport|activity_name }}',
          color: '{{ sport|activity_bgcolor }}',
          showInLegend: true,
          yValueFormatString: "#0 activités",
          dataPoints: activities_week['{{ sport }}'][type][year],
        },
       {% endif %}
      {% endfor %}
    ],
  });

  $('#select_year').val({{ current_year }});
  $('#select_year').change(function(e) {
    year = e.target.value;

    $('#month_year').html(' (' + year + ')');
    $('#week_year').html(' (' + year + ')');

    {% for sport in activities_month %}
    if (activities_month['{{ sport }}'][type] !== undefined) {
      chart_months.options.data[{{ forloop.counter0 }}].dataPoints = activities_month['{{ sport }}'][type][year];
    } else {
      chart_months.options.data[{{ forloop.counter0 }}].dataPoints = null;
    }
    {% endfor %}

    {% for sport in activities_week %}
    if (activities_week['{{ sport }}'][type] !== undefined) {
      chart_weeks.options.data[{{ forloop.counter0 }}].dataPoints = activities_week['{{ sport }}'][type][year];
    } else {
      chart_weeks.options.data[{{ forloop.counter0 }}].dataPoints = null;
    }
    {% endfor %}

    // Bug with CanvasJS: 'All' must be first visible... (but if we replace 'All' by any other sport it works...)
    chart_months.options.data[0].visible = true;
    chart_months.render();
    chart_months.options.data[0].visible = false;
    chart_months.render();

    // Bug with CanvasJS: 'All' must be first visible... (but if we replace 'All' by any other sport it works...)
    chart_weeks.options.data[0].visible = true;
    chart_weeks.render();
    chart_weeks.options.data[0].visible = false;
    chart_weeks.render();
  });

  chart_years = new CanvasJS.Chart("chart_years", {
    animationEnabled: true,
    exportEnabled: true,
    toolTip: {
      shared: true,
    },
    axisY: {},
    legend: {
      cursor: "pointer",
      itemclick : toggleDataSeries_years,
    },
    data: [
      {
        visible: true,
        showInLegend: false,
        name: '{% translate 'Total' %}',
        yValueFormatString: "#0 activités",
        dataPoints: activities_year['All'][type],
      },
      {% for sport, act_year in activities_year.items %}
       {% if sport != 'All' %}
        {
          type: 'stackedColumn',
          name: '{{ sport|activity_name }}',
          color: '{{ sport|activity_bgcolor }}',
          showInLegend: true,
          yValueFormatString: "#0 activités",
          dataPoints: activities_year['{{ sport }}'][type],
        },
       {% endif %}
      {% endfor %}
    ],
  });

  $('#select_type').val('count');
  $('#select_type').change(function(e) {
    type = e.target.value;

    if (type == 'duration' || type == 'duration_avg') {
      chart_months.options.axisY.suffix = '{% translate ' min' %}';
      chart_years.options.axisY.suffix = '{% translate ' min' %}';
      chart_weeks.options.axisY.suffix = '{% translate ' min' %}';
    } else if (type == 'distance' || type == 'distance_avg') {
      chart_months.options.axisY.suffix = '{% translate ' km' %}';
      chart_years.options.axisY.suffix = '{% translate ' km' %}';
      chart_weeks.options.axisY.suffix = '{% translate ' km' %}';
    } else {
      chart_months.options.axisY.suffix = '';
      chart_years.options.axisY.suffix = '';
      chart_weeks.options.axisY.suffix = '';
    }

    if (activities_month['All'][type] !== undefined) {
      chart_months.options.data[0].dataPoints = activities_month['All'][type][year];
      chart_weeks.options.data[0].dataPoints = activities_week['All'][type][year];
    } else {
      chart_months.options.data[0].dataPoints = null;
      chart_weeks.options.data[0].dataPoints = null;
    }

    if (type == 'count') {
      chart_months.options.data[0].yValueFormatString = "#0 activités";
      chart_weeks.options.data[0].yValueFormatString = "#0 activités";
    } else if (type == 'duration' || type == 'duration_avg') {
      chart_months.options.data[0].yValueFormatString = "#0 minutes";
      chart_weeks.options.data[0].yValueFormatString = "#0 minutes";
    } else if (type == 'distance' || type == 'distance_avg') {
      chart_months.options.data[0].yValueFormatString = "0.0 km";
      chart_weeks.options.data[0].yValueFormatString = "0.0 km";
    } else {
      chart_months.options.data[0].yValueFormatString = null;
      chart_weeks.options.data[0].yValueFormatString = null;
    }

    {% for sport in activities_month %}
     {% if sport != 'All' %}
      if (type == 'duration_avg' || type == 'distance_avg' || type == 'cadence_avg' || type == 'heartrate_avg') {
        chart_months.options.data[{{ forloop.counter0 }}].type = 'column';
        chart_weeks.options.data[{{ forloop.counter0 }}].type = 'column';
      } else {
        chart_months.options.data[{{ forloop.counter0 }}].type = 'stackedColumn';
        chart_weeks.options.data[{{ forloop.counter0 }}].type = 'stackedColumn';
      }

      if (activities_month['{{ sport }}'][type] !== undefined) {
        chart_months.options.data[{{ forloop.counter0 }}].dataPoints = activities_month['{{ sport }}'][type][year];
        chart_weeks.options.data[{{ forloop.counter0 }}].dataPoints = activities_week['{{ sport }}'][type][year];
      } else {
        chart_months.options.data[{{ forloop.counter0 }}].dataPoints = null;
        chart_weeks.options.data[{{ forloop.counter0 }}].dataPoints = null;
      }

      if (type == 'count') {
        chart_months.options.data[{{ forloop.counter0 }}].yValueFormatString = "#0 activités";
        chart_weeks.options.data[{{ forloop.counter0 }}].yValueFormatString = "#0 activités";
      } else if (type == 'duration' || type == 'duration_avg') {
        chart_months.options.data[{{ forloop.counter0 }}].yValueFormatString = "#0 minutes";
        chart_weeks.options.data[{{ forloop.counter0 }}].yValueFormatString = "#0 minutes";
      } else if (type == 'distance' || type == 'distance_avg') {
        chart_months.options.data[{{ forloop.counter0 }}].yValueFormatString = "0.0 km";
        chart_weeks.options.data[{{ forloop.counter0 }}].yValueFormatString = "0.0 km";
      } else {
        chart_months.options.data[{{ forloop.counter0 }}].yValueFormatString = null;
        chart_weeks.options.data[{{ forloop.counter0 }}].yValueFormatString = null;
      }
     {% endif %}
    {% endfor %}

    if (activities_year['All'][type] !== undefined) {
      chart_years.options.data[0].dataPoints = activities_year['All'][type];
    } else {
      chart_years.options.data[0].dataPoints = null;
    }

    if (type == 'count') {
      chart_years.options.data[0].yValueFormatString = "#0 activités";
    } else if (type == 'duration' || type == 'duration_avg') {
      chart_years.options.data[0].yValueFormatString = "#0 minutes";
    } else if (type == 'distance' || type == 'distance_avg') {
      chart_years.options.data[0].yValueFormatString = "0.0 km";
    } else {
      chart_years.options.data[0].yValueFormatString = null;
    }

    {% for sport in activities_year %}
     {% if sport != 'All' %}
      if (type == 'duration_avg' || type == 'distance_avg' || type == 'cadence_avg' || type == 'heartrate_avg') {
        chart_years.options.data[{{ forloop.counter0 }}].type = 'column';
      } else {
        chart_years.options.data[{{ forloop.counter0 }}].type = 'stackedColumn';
      }

      if (activities_year['{{ sport }}'][type] !== undefined) {
        chart_years.options.data[{{ forloop.counter0 }}].dataPoints = activities_year['{{ sport }}'][type];
      } else {
        chart_years.options.data[{{ forloop.counter0 }}].dataPoints = null;
      }

      if (type == 'count') {
        chart_years.options.data[{{ forloop.counter0 }}].yValueFormatString = "#0 activités";
      } else if (type == 'duration' || type == 'duration_avg') {
        chart_years.options.data[{{ forloop.counter0 }}].yValueFormatString = "#0 minutes";
      } else if (type == 'distance' || type == 'distance_avg') {
        chart_years.options.data[{{ forloop.counter0 }}].yValueFormatString = "0.0 km";
      } else {
        chart_years.options.data[{{ forloop.counter0 }}].yValueFormatString = null;
      }
     {% endif %}
    {% endfor %}

    // Bug with CanvasJS: 'All' must be first visible... (but if we replace 'All' by any other sport it works...)
    chart_months.options.data[0].visible = true;
    chart_months.render();
    chart_months.options.data[0].visible = false;
    chart_months.render();

    // Bug with CanvasJS: 'All' must be first visible... (but if we replace 'All' by any other sport it works...)
    chart_years.options.data[0].visible = true;
    chart_years.render();
    chart_years.options.data[0].visible = false;
    chart_years.render();

    // Bug with CanvasJS: 'All' must be first visible... (but if we replace 'All' by any other sport it works...)
    chart_weeks.options.data[0].visible = true;
    chart_weeks.render();
    chart_weeks.options.data[0].visible = false;
    chart_weeks.render();
  });

  // Bug with CanvasJS: 'All' must be first visible... (but if we replace 'All' by any other sport it works...)
  chart_months.render();
  chart_months.options.data[0].visible = false;
  chart_months.render();

  // Bug with CanvasJS: 'All' must be first visible... (but if we replace 'All' by any other sport it works...)
  chart_years.render();
  chart_years.options.data[0].visible = false;
  chart_years.render();

  // Bug with CanvasJS: 'All' must be first visible... (but if we replace 'All' by any other sport it works...)
  chart_weeks.render();
  chart_weeks.options.data[0].visible = false;
  chart_weeks.render();
});
</script>
{% endblock %}
