{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load utils %}

{% block title %}{% translate 'Threshold' %} | {% endblock %}
{% block page_title %}{% translate 'Threshold' %}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker/bootstrap-datepicker3.standalone.css' %}" />
{% endblock %}

{% block content %}

<p>
  <label for="select_year">{% translate 'Year:' %}</label> <select id="select_year">
  {% for year in years %}
  <option value="{{ year }}"{% if year == current_year %} selected="selected"{% endif %}>{{ year }}</option>
  {% endfor %}
  </select>
  <span style="width: 1em; display: inline-block;"></span>

  <span id="date_range">
    <label>Entre</label>
    <input type="text" name="date_min" id="date_min" class="actual_range" value="01/01/{{ current_year }}" />
    <label>et</label>
    <input type="text" name="date_max" id="date_max" class="actual_range" value="31/12/{{ current_year }}" />
  </span>
</p>

<div class="card">
  <div class="card-header">{% translate 'Threshold' %}</div>
  <div class="card-body">
    <div id="chart" style="height: 500px;"></div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/canvasjs/jquery.canvasjs.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker/locales/bootstrap-datepicker.fr.min.js' %}"></script>

<script type="text/javascript">
$(function() {
  var chart = null;

  function toggleDataSeries(e) {
    if (typeof(e.dataSeries.visible) === 'undefined' || e.dataSeries.visible) {
      numVisible = 0
      for (i = 0; i < chart.options.data.length; ++i) {
        if ((chart.options.data[i].visible === undefined || chart.options.data[i].visible) && (chart.options.data[i].dataPoints !== undefined && chart.options.data[i].dataPoints.length > 0)) {
          numVisible++;
        }
      }
      if (numVisible > 1) {
        e.dataSeries.visible = false;
      }
    } else {
      e.dataSeries.visible = true;
    }
    chart.render();
  }

  chart = new CanvasJS.Chart('chart', {
    theme: 'light1',
    animationEnabled: false,
    zoomEnabled: true,
    toolTip: {
      shared: 'true',
    },
    legend: {
      cursor: 'pointer',
      itemclick : toggleDataSeries,
    },
    exportEnabled: true,
    axisX: {
      interval: 1,
      intervalType: 'month',
      gridThickness: 1,
      gridColor: '#AAAAAA',
      viewportMinimum: new Date({{ current_year }}, 0, 1),
      viewportMaximum: new Date({{ current_year }}, 11, 31),
      maximum: new Date({{ current_year }} + 1, 11, 31),
      stripLines: [{
        color: '#e5e5e5',
        startValue: new Date(),
        endValue: new Date({{ current_year }} + 1, 11, 31),
      }],
    },
    axisY: [
      {
        title: "{% translate 'Power' %}",
        gridThickness: 1,
        gridColor: '#AAAAAA',
        suffix: '{% translate ' W' %}',
      },
    ],
    data: [
      {
        name: '{% translate 'Estimated FTP' %}',
        showInLegend: true,
        visible: true,
        type: 'scatter',
        yValueFormatString: '#0. W',
        dataPoints: [{% for date, score in stats.items %}{% if score.ftp_estimated %}
          { x: new Date({{ date.year }}, {{ date.month|add:-1 }}, {{ date.day }}), y: {{ score.ftp_estimated }} }, {% endif %}{% endfor %}
        ],
      },
      {
        name: '{% translate 'FTP' %}',
        showInLegend: true,
        type: 'area',
        lineThickness: 1,
        fillOpacity: 0.25,
        yValueFormatString: '#0. W',
        dataPoints: [{% for date, score in stats.items %}
          { x: new Date({{ date.year }}, {{ date.month|add:-1 }}, {{ date.day }}), y: {{ score.ftp|stringformat:"f" }} }, {% endfor %}
        ],
      },
      {
        name: '{% translate 'Duration' %}',
        showInLegend: false,
        visible: false,
        type: 'scatter',
        yValueFormatString: "#0 minutes",
        dataPoints: [{% for date, score in stats.items %}
          { x: new Date({{ date.year }}, {{ date.month|add:-1 }}, {{ date.day }}), y: {{ score.duration }} }, {% endfor %}
        ],
      },
      {
        name: '{% translate 'Count' %}',
        showInLegend: false,
        visible: false,
        type: 'scatter',
        yValueFormatString: "#0 activités",
        dataPoints: [{% for date, score in stats.items %}
          { x: new Date({{ date.year }}, {{ date.month|add:-1 }}, {{ date.day }}), y: {{ score.count }} }, {% endfor %}
        ],
      },
    ],
  });

  var selectUpdating = false;

  $('#date_range').datepicker({
    inputs: $('.actual_range'),
    autoclose: true,
    todayHighlight: true,
    calendarWeeks: true,
    maxViewMode: 3,
    language: 'fr',
    format: 'dd/mm/yyyy',
  }).on('changeDate', function(e) {
    if (!selectUpdating) {
      $('#select_year').val(null);
    }

    chart.options.axisX.viewportMinimum = $('#date_min').datepicker('getDate');
    chart.options.axisX.viewportMaximum = $('#date_max').datepicker('getDate');
    chart.render();
  });

  $('#select_year').change(function(e) {
    selectUpdating = true;
    var year = e.target.value;

    $('#date_min').datepicker('setDate', new Date(year, 0, 1))
    $('#date_max').datepicker('setDate', new Date(year, 11, 31))

    selectUpdating = false;
  });

  chart.render();
});
</script>
{% endblock %}
