{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load tz %}

{% block title %}{% translate 'Notifications' %} | {% endblock %}
{% block page_title %}{% translate 'Notifications' %}{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">
  {% if notifications %}
    <table class="table table-striped table-sm" id="notifications">
      <thead>
        <tr>
          <th>{% translate 'Message' %}</th>
          <th>{% translate 'Date' %}</th>
        </tr>
      </thead>
      <tbody>
      {% for notification in notifications %}
        <tr>
          <td>{% if notification.icon %}<i class="fas fa-{{ notification.icon }} mr-2"></i> {% endif %}{% if notification.url %}<a href="{{ notification.url }}">{{ notification.text|safe }}</a>{% else %}{{ notification.text|safe }}{% endif %}</td>
          <td>{{ notification.date }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>{% translate 'No notifications.' %}</p>
  {% endif %}
  </div>
</div>

{% endblock %}
