{% extends 'base.html' %}
{% load i18n %}
{% load utils %}
{% load tz %}

{% block content %}

<div class="row">
  <div class="col-md-3 col-sm-6 col-12">
    <div class="info-box" style="background-color: {{ 'Running'|activity_bgcolor }};">
      <div class="info-box-content">
        <h4 class="info-box-text"><i class="fas fa-{{ 'Running'|activity_icon }}"></i> {% translate 'Running' %}</h4>
        <span class="info-box-text">{% translate 'Duration' %}{% translate ':' %} <strong>{{ stats.Running.duration|duration }}</strong> (<strong>{{ stats.Running.duration_year|duration }}</strong> {% translate 'this year' %})</span>
        <span class="info-box-text">{% translate 'Distance' %}{% translate ':' %} <strong>{{ stats.Running.distance|distance }}</strong> (<strong>{{ stats.Running.distance_year|distance }}</strong> {% translate 'this year' %})</span>
        <span class="info-box-text">{% translate 'Activities' %}{% translate ':' %} <strong>{{ stats.Running.count }}</strong> (<strong>{{ stats.Running.count_year }}</strong> {% translate 'this year' %})</span>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 col-12">
    <div class="info-box" style="background-color: {{ 'Biking'|activity_bgcolor }};">
      <div class="info-box-content">
        <h4 class="info-box-text"><i class="fas fa-{{ 'Biking'|activity_icon }}"></i> {% translate 'Biking' %}</h4>
        <span class="info-box-text">{% translate 'Duration' %}{% translate ':' %} <strong>{{ stats.Biking.duration|duration }}</strong> (<strong>{{ stats.Biking.duration_year|duration }}</strong> {% translate 'this year' %})</span>
        <span class="info-box-text">{% translate 'Distance' %}{% translate ':' %} <strong>{{ stats.Biking.distance|distance }}</strong> (<strong>{{ stats.Biking.distance_year|distance }}</strong> {% translate 'this year' %})</span>
        <span class="info-box-text">{% translate 'Activities' %}{% translate ':' %} <strong>{{ stats.Biking.count }}</strong> (<strong>{{ stats.Biking.count_year }}</strong> {% translate 'this year' %})</span>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 col-12">
    <div class="info-box" style="background-color: {{ 'Swimming'|activity_bgcolor }};">
      <div class="info-box-content">
        <h4 class="info-box-text"><i class="fas fa-{{ 'Swimming'|activity_icon }}"></i> {% translate 'Swimming' %}</h4>
        <span class="info-box-text">{% translate 'Duration' %}{% translate ':' %} <strong>{{ stats.Swimming.duration|duration }}</strong> (<strong>{{ stats.Swimming.duration_year|duration }}</strong> {% translate 'this year' %})</span>
        <span class="info-box-text">{% translate 'Distance' %}{% translate ':' %} <strong>{{ stats.Swimming.distance|distance }}</strong> (<strong>{{ stats.Swimming.distance_year|distance }}</strong> {% translate 'this year' %})</span>
        <span class="info-box-text">{% translate 'Activities' %}{% translate ':' %} <strong>{{ stats.Swimming.count }}</strong> (<strong>{{ stats.Swimming.count_year }}</strong> {% translate 'this year' %})</span>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 col-12">
    <div class="info-box bg-warning">
      <div class="info-box-content">
        <h4 class="info-box-text">{% translate 'All activities' %}</h4>
        <span class="info-box-text">{% translate 'Duration' %}{% translate ':' %} <strong>{{ stats.All.duration|duration }}</strong> (<strong>{{ stats.All.duration_year|duration }}</strong> {% translate 'this year' %})</span>
        <span class="info-box-text">{% translate 'Distance' %}{% translate ':' %} <strong>{{ stats.All.distance|distance }}</strong> (<strong>{{ stats.All.distance_year|distance }}</strong> {% translate 'this year' %})</span>
        <span class="info-box-text">{% translate 'Activities' %}{% translate ':' %} <strong>{{ stats.All.count }}</strong> (<strong>{{ stats.All.count_year }}</strong> {% translate 'this year' %})</span>
      </div>
    </div>
  </div>
</div>

{% if activities %}
{% if goals %}
<div class="row">
<div class="col-lg-6">
{% endif %}
  <div class="card">
    <div class="card-header">{% translate 'Last activities' %}</div>
    <div class="card-body p-0">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>{% translate 'Date' %}</th>
            <th>{% translate 'Type' %}</th>
            <th>{% translate 'Duration' %}</th>
            <th>{% translate 'Distance' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for activity in activities %}
            <tr>
              <td><a href="{% url 'activity' activity.id %}">{{ activity.date_local|date_long }}</a></td>
              <td><span class="badge" style="background-color: {{ activity.type|activity_bgcolor }}; color: {{ activity.type|activity_textcolor }};"><i class="fas fa-{{ activity.type|activity_icon }}"></i> {{ activity.type|activity_name }}</span></td>
              <td>{{ activity.duration|duration }}</td>
              <td>{{ activity.distance|distance }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% comment %}
  <div class="card">
    <div class="card-header">Préparation marathon</div>
    <div class="card-body">
      <table class="table table-striped table-sm">
        <tbody>
          {% for item, values in marathon.items %}
            <tr>
              <th>{{ item }}</th>
              {% for v in values %}
              <td>{{ v }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endcomment %}

{% if goals %}
</div>
{% endif %}
{% endif %}

{% if goals %}
{% if activities %}
<div class="col-lg-6">
{% endif %}
  <div class="card">
    <div class="card-header">{% translate 'Goals' %}</div>
    <div class="card-body">
      {% for goal in goals %}
        <div class="progress-group">
          {{ goal.description|safe }}
          {% if goal.type != 'other' %}
          <span class="float-right">{% if goal.progression.count_str and goal.progression.total_str %}<b>{{ goal.progression.count_str|safe }}</b> / {{ goal.progression.total_str|safe }}{% else %}<b>{{ goal.progression.count|floatformat }}</b> / {{ goal.progression.total }}{% endif %}</span>
          {% endif %}
          <div class="progress progress-sm" title="{{ goal.progression.percentage|floatformat }} % / {{ goal.progression.percentage_wanted|floatformat }}%{% if goal.progression.count_wanted_str %} ({{ goal.progression.count_wanted_str }}){% endif %}">
            <div class="progress-bar {% if goal.progression.percentage >= goal.progression.percentage_wanted %}bg-success{% elif goal.progression.percentage > 50 %}bg-warning{% else %}bg-danger{% endif %}" style="width: {{ goal.progression.percentage|stringformat:'f' }}%"></div>
            {% if goal.progression.percentage_todo > 0 %}
            <div class="progress-bar" style="background-color: {% if goal.progression.percentage > 50 %}#ffeaaa{% else %}#f4c1c7{% endif %}; width: {{ goal.progression.percentage_todo|stringformat:'f' }}%"></div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% if activities %}
</div>
</div>
{% endif %}
{% endif %}

{% endblock %}
