{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Magni</title>

  <link rel="stylesheet" href="{% static 'css/fontawesome/all.min.css' %}">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="{% static 'css/adminlte/adminlte.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition layout-footer-fixed layout-top-nav">

<div class="wrapper">

  <div class="content-wrapper">
    <div class="content">
      <div class="container">
        <div class="card">
          <div class="card-body">
            <p><a href="{% url 'login' %}">{% translate 'Login' %}</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'footer.html' %}
</div>

<script src="{% static 'js/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/adminlte/adminlte.min.js' %}"></script>

</body>
</html>
