{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>{% block title %}{% endblock %}Magni</title>

  <link rel="stylesheet" href="{% static 'css/fontawesome/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/adminlte/adminlte.min.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  {% block styles %}{% endblock %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="hold-transition sidebar-mini">

<div class="wrapper">

  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'home' %}" class="nav-link">{% translate 'Home' %}</a>
      </li>
      {% if user.is_superuser %}
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'admin:index' %}" class="nav-link">{% translate 'Administration' %}</a>
      </li>
      {% endif %}
      {% comment %}
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">{% translate 'Contact' %}</a>
      </li>
      {% endcomment %}
    </ul>

    {% comment %}
    <form class="form-inline ml-3">
      <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="search" placeholder="{% translate 'Search' %}" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fas fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </form>
    {% endcomment %}

    <ul class="navbar-nav ml-auto">

      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
          <i class="far fa-bell" aria-hidden="true"></i>
          {% if notifications_count > 0 %}<span class="badge badge-warning navbar-badge">{{ notifications_count }}</span>{% endif %}
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

          {% for notification in notifications %}
            {% if forloop.counter0 < 5 %}
              <a href="{% if notification.url %}{{ notification.url }}{% else %}#{% endif %}" class="dropdown-item text-sm{% if notification.viewed %} text-muted{% endif%}" style="white-space: inherit;">
                {% if notification.icon %}<i class="fas fa-{{ notification.icon }} mr-2" aria-hidden="true"></i> {% endif %}{{ notification.text|safe }}
                <span class="text-muted" style="display: block; text-align: right;">{{ notification.date }}</span>
              </a>
              <div class="dropdown-divider"></div>
            {% endif %}
          {% endfor %}

          <a href="{% url 'notifications' %}" class="dropdown-item dropdown-footer">{% translate 'See all notifications' %}</a>
        </div>
      </li>

      <li class="nav-item dropdown user-menu">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
          <span class="d-none d-md-inline">{{ user.get_full_name }}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <li class="user-header bg-primary">
            <p>
              {{ user.get_full_name }}
              <small>{% translate 'Member since' %} {{ user.date_joined }}</small>
            </p>
          </li>
          <li class="user-footer">
            <a href="{% url 'settings' %}" class="btn btn-default btn-flat">{% translate 'Settings' %}</a>
            <a href="{% url 'logout' %}" class="btn btn-default btn-flat float-right">{% translate 'Sign out' %}</a>
          </li>
        </ul>
      </li>
    </ul>

  </nav>

  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="{% url 'home' %}" class="brand-link">
      <span class="brand-text font-weight-light">Magni</span>
    </a>

    <div class="sidebar">
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <li class="nav-header">{% translate 'ACTIVITIES' %}</li>
          <li class="nav-item">
            <a href="{% url 'activities' %}" class="nav-link">
              <i class="nav-icon fas fa-list" aria-hidden="true"></i><p>{% translate 'Activities' %}</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'import_activity' %}" class="nav-link">
              <i class="nav-icon fas fa-file-import" aria-hidden="true"></i><p>{% translate 'Import activity' %}</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'calendar' %}" class="nav-link">
              <i class="nav-icon fas fa-calendar" aria-hidden="true"></i><p>{% translate 'Calendar' %}</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'files' %}" class="nav-link">
              <i class="nav-icon fas fa-file" aria-hidden="true"></i><p>{% translate 'Files' %}</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'goals' %}" class="nav-link">
              <i class="nav-icon fas fa-check-square" aria-hidden="true"></i><p>{% translate 'Goals' %}</p>
            </a>
          </li>

          <li class="nav-header">{% translate 'RUNNING' %}</li>
          <li class="nav-item">
            <a href="{% url 'map' %}" class="nav-link">
              <i class="nav-icon fas fa-map" aria-hidden="true"></i><p>{% translate 'Map' %}</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'equipments' %}" class="nav-link">
              <i class="nav-icon fas fa-shoe-prints" aria-hidden="true"></i><p>{% translate 'Equipments' %}</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'competitions' %}" class="nav-link">
              <i class="nav-icon fas fa-users" aria-hidden="true"></i><p>{% translate 'Competitions' %}</p>
            </a>
          </li>

          <li class="nav-header">{% translate 'STATISTICS' %}</li>
          <li class="nav-item">
            <a href="{% url 'records' %}" class="nav-link">
              <i class="nav-icon fas fa-medal" aria-hidden="true"></i><p>{% translate 'Best performances' %}</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'stats' %}" class="nav-link">
              <i class="nav-icon fas fa-chart-bar" aria-hidden="true"></i><p>{% translate 'Statistics' %}</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'progression' %}" class="nav-link">
              <i class="nav-icon fas fa-chart-area" aria-hidden="true"></i><p>{% translate 'Progression' %}</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'weights' %}" class="nav-link">
              <i class="nav-icon fas fa-weight" aria-hidden="true"></i><p>{% translate 'Weight' %}</p>
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </aside>

  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="col-sm-12" style="display: flex; justify-content: space-between;">
          <h1 class="m-0 text-dark">{% block page_title %}{% endblock %}</h1>
          {% block page_title_buttons %}{% endblock %}
        </div>
      </div>
    </div>
    <div class="content">
      <div class="container-fluid">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>

  {% include 'footer.html' %}
</div>

<script src="{% static 'js/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/adminlte/adminlte.min.js' %}"></script>
{% block scripts %}{% endblock %}

</body>

</html>
