{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load weight %}

{% block title %}{% translate 'Weight' %} | {% endblock %}
{% block page_title %}{% translate 'Weight measures' %}{% endblock %}

{% block page_title_buttons %}
<div>
  <a href="{% url 'add_weight' %}" class="btn btn-primary btn-sm">{% translate 'New weight measure' %}</a>
</div>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/datatables/datatables.css' %}" />
{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">
  {% if weights %}
    <table class="table table-striped compact" id="weights">
      <thead>
        <tr>
          <th>{% translate 'Date' %}</th>
          <th>{% translate 'Weight' %}</th>
          <th>{% translate 'Actions' %}</th>
          <th>{% translate 'Date' %}</th>
        </tr>
      </thead>
      <tbody>
      {% for weight in weights %}
        <tr>
          <td>{{ weight.date }}</td>
          <td>{{ weight.weight|weight_format }}</td>
          <td><a href="{% url 'edit_weight' weight.id %}" class="btn btn-xs btn-warning">{% translate 'Edit' %}</a> <a href="{% url 'remove_weight' weight.id %}" class="btn btn-xs btn-danger">{% translate 'Remove' %}</a></td>
          <td>{{ weight.date|date:"Y-m-d H:i:s:u" }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>{% translate 'No weight measures.' %}</p>
  {% endif %}
  </div>
</div>

{% if weights %}

<div class="card">
  <div class="card-body">
    <div id="chart" style="height: 300px;"></div>
  </div>
</div>

{% endif %}

{% endblock %}

{% block scripts %}
<script src="{% static 'js/datatables/datatables.js' %}"></script>
<script src="{% static 'js/canvasjs/jquery.canvasjs.min.js' %}"></script>

<script type="text/javascript">
$(function() {
  var table = $('#weights').DataTable({
    language: {
      url: '{% static 'js/datatables/i18n/fr_FR.json' %}',
    },
    stateSave: true,
    dom: 'Bfrtip',
    buttons: [
      'pageLength',
      {
        extend: 'colvis',
        columns: '2',
      },
    ],
    searching: true,
    responsive: true,
    ordering: true,
    order: [[ 0, 'desc' ]],
    paging: true,
    pageLength: 10,
    lengthMenu: [ [10, 20, 50, 100], [10, 20, 50, 100] ],
    columns: [
      { orderData: 3 },
      null,
      { orderable: false },
      { visible: false },
    ],
  });

  var chart = null;

  chart = new CanvasJS.Chart("chart", {
    theme: 'light2',
    animationEnabled: false,
    zoomEnabled: true,
    exportEnabled: true,
    axisX: {
      interval: 1,
      intervalType: 'month',
      gridThickness: 1,
      gridColor: '#AAAAAA',
      viewportMinimum: new Date({{ current_year }}, 0, 1),
      viewportMaximum: new Date({{ current_year }}, 11, 31),
      {% if no_prev_years %}minimum: new Date({{ current_year }}, 0, 1),{% endif %}
      {% if no_next_years %}maximum: new Date({{ current_year }}, 11, 31),{% endif %}
      stripLines: [{
        color: '#e5e5e5',
        startValue: new Date(),
        endValue: new Date({{ current_year }} + 1, 11, 31),
      }],
    },
    axisY: {
      valueFormatString: "0,.## kg",
      includeZero: false,
      minimum: {{ weight_min }},
      maximum: {{ weight_max }},
    },
    data: [
      {
        type: 'area',
        yValueFormatString: "0,.##&nbsp;kg",
        dataPoints: [
        {% for weight in weights %}{x: new Date({{ weight.date.year }}, {{ weight.date.month|add:-1 }}, {{ weight.date.day }}), y: {{ weight.weight }}}, {% endfor %}
        ],
      },
    ],
  });

  chart.render();
});
</script>
{% endblock %}
