{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load utils %}
{% load competition %}

{% block title %}{% translate 'Competitions' %} | {% endblock %}
{% block page_title %}{% translate 'Competitions' %}{% endblock %}

{% block page_title_buttons %}
<div>
  <a href="{% url 'add_competition' %}" class="btn btn-primary btn-sm">{% translate 'Create competition' %}</a>
</div>
{% endblock %}

{% block content %}

<div class="card">
  <div class="card-header">
    <h3>{% translate 'Next competitions' %}</h3>
  </div>
  <div class="card-body">
    {% if competitions1|length > 0 %}
    <table class="table table-bordered table-striped table-sm">
      <thead>
        <tr>
          <th>{% translate 'Date' %}</th>
          <th>{% translate 'Name' %}</th>
          <th>{% translate 'Type' %}</th>
        </tr>
      </thead>
      <tbody>
      {% for competition in competitions1 %}
        <tr>
          <td>{{ competition.date }}</td>
          <td><a href="{% url 'competition' competition.id %}">{{ competition.name }}</a></td>
          <td>{{ competition.type|competition_name }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>

{% if competitions2|length > 0 %}
<div class="card">
  <div class="card-header">
    <h3>{% translate 'Passed competitions' %}</h3>
  </div>
  <div class="card-body">
    <table class="table table-bordered table-striped table-sm">
      <thead>
        <tr>
          <th>{% translate 'Date' %}</th>
          <th>{% translate 'Name' %}</th>
          <th>{% translate 'Type' %}</th>
          <th>{% translate 'Time' %}</th>
        </tr>
      </thead>
      <tbody>
      {% for competition in competitions2 %}
        <tr>
          <td>{{ competition.date }}</td>
          <td><a href="{% url 'competition' competition.id %}">{{ competition.name }}</a></td>
          <td>{{ competition.type|competition_name }}</td>
          <td>{% if competition.duration_real %}{{ competition.duration_real|duration }}{% elif competition.duration %}{{ competition.duration|duration }}{% else %}{% endif %}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}

{% endblock %}
