{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate 'Competition' %} - {{ competition.name }} | {% endblock %}
{% block page_title %}<a href="{% url 'competition' competition.id %}">{% translate 'Competition' %} - {{ competition.name }}</a>{% endblock %}

{% block content %}

<div class="card card-primary">
  <form action="" method="post" class="form">
    {% csrf_token %}
    <input type="hidden" name="delete" value="1" />

    <div class="card-body">
      <ul>
        <li><strong>{% translate 'Competition'%}{% translate ':'%}</strong> {{ competition.name }}</li>
        <li><strong>{% translate 'Date'%}{% translate ':'%}</strong> {{ competition.date|date:"d/m/Y H:i:s" }}</li>
      </ul>

      <div class="alert alert-warning">
        <p>{% translate 'Are you sure you want to remove this competition?' %}</p>
        <p><i class="icon fas fa-exclamation-triangle"></i>{% translate 'This action is irreversible.' %}</p>
      </div>
    </div>

    <div class="card-footer text-center">
      <input type="submit" class="btn btn-danger" value="{% translate 'Remove' %}" />
      <a href="{% url 'competitions' %}" class="btn btn-default">{% translate 'Cancel' %}</a>
    </div>
  </form>
</div>

{% endblock %}
