{% extends 'base.html' %}
{% load i18n %}
{% load tz %}
{% load utils %}

{% block title %}{% translate 'Competition' %} - {{ competition.name }} | {% endblock %}
{% block page_title %}<a href="{% url 'competition' competition.id %}">{% translate 'Competition' %} - {{ competition.name }}</a>{% endblock %}

{% block content %}

<div class="card">
  <div class="card-header">
    <h3 class="card-title">{% translate 'Activities' %}</h3>
  </div>

  {% if activities %}
  <form action="" class="form-horizontal" method="post">
    {% csrf_token %}
    <div class="card-body">
      <p>{% translate 'Those activities match the competition date:' %}</p>

      <table class="table table-striped table-sm" id="activities">
        <thead>
          <tr>
            <th></th>
            <th>{% translate 'Name' %}</th>
            <th>{% translate 'Date' %}</th>
            <th>{% translate 'Type' %}</th>
            <th>{% translate 'Duration' %}</th>
            <th>{% translate 'Distance' %}</th>
          </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
          <tr>
            <td><input type="checkbox" name="activity" value="{{ activity.id }}"{% if activity.competition == competition %} checked="checked"{% endif %} /></td>
            <td><a href="{% url 'activity' activity.id %}">{% if activity.name %}{{ activity.name }}{% else %}{{ activity.type|activity_name }}{% endif %}</td>
            <td><a href="{% url 'activity' activity.id %}">{{ activity.date|localtime|date_short }}</a>{% if activity.planned %} ({% translate 'planned' %}){% endif %}</td>
            <td><i class="fas fa-{{ activity.type|activity_icon }}"></i> {{ activity.type|activity_name }}</td>
            <td>{{ activity.duration|duration }}</td>
            <td>{{ activity.distance|distance }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="card-footer text-center">
      <input type="submit" class="btn btn-primary" value="{% translate 'Submit' %}" />
      <a href="{% url 'competition' competition.id %}" class="btn btn-default">{% translate 'Cancel' %}</a>
    </div>
  </form>

  {% else %}
  <div class="card-body">
    <p>{% translate 'No activity match the competition date.' %}</p>
  </div>
  {% endif %}

</div>

{% endblock %}
