{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load utils %}
{% load tz %}
{% load competition %}

{% block title %}{% translate 'Competition' %} - {{ competition.name }} | {% endblock %}
{% block page_title %}<a href="{% url 'competitions' %}">{% translate 'Competition' %}</a> - {{ competition.name }}{% endblock %}

{% block page_title_buttons %}
<div>
  <a href="{% url 'competition_edit' competition.id %}" class="btn btn-warning btn-sm">{% translate 'Edit' %}</a>
  <a href="{% url 'competition_remove' competition.id %}" class="btn btn-danger btn-sm">{% translate 'Remove' %}</a>
</div>
{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">

    <div class="row">
      <div class="col-lg-6">
        <dl class="dl-horizontal">
          <dt>{% translate 'Name'%}{% translate ':'%}</dt><dd>{{ competition.name }}</dd>
          <dt>{% translate 'Date'%}{% translate ':'%}</dt><dd>{{ competition.date|date:'d/m/Y H:i:s' }}</dd>
          <dt>{% translate 'Type'%}{% translate ':'%}</dt><dd>{{ competition.type|competition_name }}</dd>
        </dl>
      </div>
      {% if competition.duration or competition.duration_real or competition.place or competition.place_category %}
      <div class="col-lg-6">
        <dl class="dl-horizontal-large">
          {% if competition.duration %}<dt>{% translate 'Official time'%}{% translate ':'%}</dt><dd>{{ competition.duration|duration }}</dd>{% endif %}
          {% if competition.duration_real %}<dt>{% translate 'Real time'%}{% translate ':'%}</dt><dd>{{ competition.duration_real|duration }}</dd>{% endif %}
          {% if competition.place %}<dt>{% translate 'Place'%}{% translate ':'%}</dt><dd>{{ competition.place }}{% if competition.participants %} / {{ competition.participants }}{% endif %}</dd>{% endif %}
          {% if competition.place_category %}<dt>{% translate 'Place in category'%}{% translate ':'%}</dt><dd>{{ competition.place_category }}{% if competition.participants_category %} / {{ competition.participants_category }}{% endif %}</dd>{% endif %}
        </dl>
      </div>
      {% endif %}
    </div>

    {% if competition.description %}
      <hr />
      {{ competition.description|linebreaksbr }}
    {% endif %}
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h3 class="card-title">{% translate 'Activities' %}</h3>
    <div class="float-sm-right"><a href="{% url 'competition_associate_activity' competition.id %}" class="btn btn-xs btn-primary">{% translate 'Associate activity' %}</a></div>
  </div>
  <div class="card-body">
    {% if competition.activities.count > 0 %}
      <table class="table table-striped table-sm" id="activities">
        <thead>
          <tr>
            <th>{% translate 'Name' %}</th>
            <th>{% translate 'Date' %}</th>
            <th>{% translate 'Type' %}</th>
            <th>{% translate 'Duration' %}</th>
            <th>{% translate 'Distance' %}</th>
          </tr>
        </thead>
        <tbody>
        {% for activity in competition.activities.all %}
          <tr>
            <td><a href="{% url 'activity' activity.id %}">{% if activity.name %}{{ activity.name }}{% else %}{{ activity.type|activity_name }}{% endif %}</td>
            <td><a href="{% url 'activity' activity.id %}">{{ activity.date|localtime|date_short }}</a>{% if activity.planned %} ({% translate 'planned' %}){% endif %}</td>
            <td><span class="badge" style="background-color: {{ activity.type|activity_bgcolor }}; color: {{ activity.type|activity_textcolor }};"><i class="fas fa-{{ activity.type|activity_icon }}"></i> {{ activity.type|activity_name }}</span></td>
            <td>{{ activity.duration|duration }}</td>
            <td>{{ activity.distance|distance }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>{% translate 'No activities are associated to this competition.' %}</p>
    {% endif %}
  </div>
</div>

{% endblock %}
